<div class="content pb-0">

  <div class="row-fluid">
    <div class="col-9">
      <h2 class="title-bold">Livro de Registros</h2>
      <span>Listas gerenciais referentes ao órgão de atuação selecionado</span>
      <div class="row-fluid mt-15">
        <div class="col-4 col-m-6 col-s-12 row-col">
          <div class="card-info full b-radius">
            <div class="box row-center"><b class="ico-grid fs-28 fs-m-28 fs-s-28"></b>
              <h3 class="pl-10">Adminstrativo</h3>
            </div>
            <div class="card-container">
              <a class="list-group-item block uppercase pl-55" href="#"><strong
                  class="mr-10">03</strong><small>Aguardando recebimento</small></a>
              <a class="list-group-item block uppercase pl-55" href="#"><strong class="mr-10">23</strong><small>Lista
                  Autos</small></a>
              <a class="list-group-item block uppercase pl-55" href="#"><strong
                  class="mr-10">00</strong><small>Pendentes</small></a>
            </div>
          </div>
        </div>
        <div class="col-4 col-m-6 col-s-12 row-col">
          <div class="card-alert full b-radius">
            <div class="box row-center"><b class="ico-target fs-28 fs-m-28 fs-s-28"></b>
              <h3 class="pl-10">Extrajudicial</h3>
            </div>
            <div class="card-container">
              <a class="list-group-item block uppercase pl-55" href="#"><strong
                  class="mr-10">01</strong><small>Aguardando recebimento</small></a>
              <a class="list-group-item block uppercase pl-55" href="#"><strong
                  class="mr-10">27</strong><small>Recadastrar</small></a>
              <a class="list-group-item block uppercase pl-55" href="#"><strong class="mr-10">23</strong><small>Lista
                  Autos</small></a>
              <a class="list-group-item block uppercase pl-55" href="#"><strong
                  class="mr-10">09</strong><small>Pendentes</small></a>
            </div>
          </div>
        </div>
        <div class="col-4 col-m-6 col-s-12 row-col">
          <div class="card-success full b-radius">
            <div class="box row-center"><b class="ico-shield fs-28 fs-m-28 fs-s-28"></b>
              <h3 class="pl-10">Judiacial</h3>
            </div>
            <div class="card-container">
              <a class="list-group-item block uppercase pl-60" href="#"><strong
                  class="mr-10">03</strong><small>Aguardando recebimento</small></a>
              <a class="list-group-item block uppercase pl-60" href="#"><strong class="mr-10">11</strong><small>Lista
                  Autos</small></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="col-4 col-m-6">
          <h2>Autos Recentes</h2>
          <span>Lista de visualizações</span>
          <div class="card-line b-radius mt-15">
            <a class="list-group-item row-center link_files" href="#">
              <b class="ico-file-text fs-32 fs-m-32 fs-s-32 text-info"></b>
              <span class="ml-10 full">202200000401 <small class="block">Adminstrativo</small></span>
              <b class="ico-chevron-right fs-18"></b>
            </a>
            <a class="list-group-item row-center link_files" href="#">
              <b class="ico-file-text fs-32 fs-m-32 fs-s-32 text-info"></b>
              <span class="ml-10 full">202200001109 <small class="block">Adminstrativo</small></span>
              <b class="ico-chevron-right fs-18"></b>
            </a>
            <a class="list-group-item row-center link_files" href="#">
              <b class="ico-file-text fs-32 fs-m-32 fs-s-32 text-alert"></b>
              <span class="ml-10 full">202200000877 <small class="block">Extrajudicial</small></span>
              <b class="ico-chevron-right fs-18"></b>
            </a>
            <a class="list-group-item row-center link_files" href="#">
              <b class="ico-file-text fs-32 fs-m-32 fs-s-32 text-success"></b>
              <span class="ml-10 full">202200001176 <small class="block">Judicial</small></span>
              <b class="ico-chevron-right fs-18"></b>
            </a>
            <a class="list-group-item row-center link_files" href="#">
              <b class="ico-file-text fs-32 fs-m-32 fs-s-32 text-success"></b>
              <span class="ml-10 full">202200000001 <small class="block">Judicial</small></span>
              <b class="ico-chevron-right fs-18"></b>
            </a>
            <a class="list-group-item block text-center" href="#">
              <span class="text-secondary">+5</span> Listar todos
            </a>
          </div>
        </div>
        <div class="col-8 col-m-6">
          <h2 class="title-bold">Atividades</h2>
          <span>Audiências Judiciais e tarefas agendas</span>

          <div class="card-line box mt-15 b-radius">
            <div class="row-center mb-15">
              <div class="full"><h3>Audiências/Tarefas</h3></div>
              <div class="nav-line row-center mr-15 b-right">
                <h3 class="text-success-dark">Hoje</h3>
                <button class="bt-secondary-clear bt-ico"><b class="ico-chevron-left"></b></button>
                <button class="bt-secondary-clear bt-ico"><b class="ico-chevron-right"></b></button>
              </div>
              <button class="bt-secondary bt-ico"><b class="ico-plus"></b></button>
            </div>
            <div class="scroll-277">
              <table class="table mt-0">
                <tbody>
                  <tr>
                    <td><strong>08:00</strong></td>
                    <td><small class="alert-info-block inline">00/00 08:45 - Reunião no MP</small></td>
                  </tr>
                  <tr>
                    <td><strong>09:00</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>10:00</strong></td>
                    <td>
                      <small class="alert-success-block inline">00/00 10:00 - Daily Atena 4</small>
                      <small class="alert-alert-block inline">00/00 10:30 - Daily Diárias</small>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>11:00</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>12:00</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>13:00</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>14:00</strong></td>
                    <td><small class="alert-error-block inline">00/00 12:45 - Ajuste de layout Diárias</small></td>
                  </tr>
                  <tr>
                    <td><strong>15:00</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>16:00</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>17:00</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>18:00</strong></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <h2 class="title-bold">Gerencial</h2>
      <span>Status geral da promotoria</span>
      <div class="row-fluid mt-15">
        <div class="col-3 col-m-6 row-col">
          <div class="box-line b-radius full">
            <b class="ico-check-circle fs-28 fs-m-28 fs-s-28"></b>
            <div class="row-center mt-10">
              <h1 class="mr-10">1.239</h1>
              <small class="status bg-success-status text-success-dark">+30.9%</small>
            </div>
            <span class="uppercase">Recadastrados</span>
          </div>
        </div>
        <div class="col-3 col-m-6 row-col">
          <div class="box-line b-radius full">
            <b class="ico-file-plus fs-28 fs-m-28 fs-s-28"></b>
            <div class="row-center mt-10">
              <h1 class="mr-10">10.145</h1>
              <small class="status bg-success-status text-success-dark">+3%</small>
            </div>
            <span class="uppercase">Novos Autos</span>
          </div>
        </div>
        <div class="col-6 row-col">
          <div class="chart box-line full">
            <span class="uppercase">Novos Autos</span>
      
            <div class="row">
              <div class="chart-text"><b class="ticks-left bg-success"></b>Administrativo 21%</div>
              <div class="chart-text"><b class="ticks-left bg-error"></b>Extrajudicial 39%</div>
              <div class="chart-text"><b class="ticks-left bg-alert"></b>Judicial 9%</div>
            </div>
            <div class="chart-line per-yx-10 bg-gray">
                <span class="bg-success per-yx-10 per-x-21"></span>
            </div>
            <div class="chart-line per-yx-10 bg-gray">
                <span class="bg-error per-yx-10 per-x-39"></span>
            </div>
            <div class="chart-line per-yx-10 bg-gray">
                <span class="bg-alert per-yx-10 per-x-9"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-block box-two b-radius mb-0">
        <h2 class="title">Meus Dados</h2>
        <span>informações gerais do usuário</span>
        <fieldset class="section-sm text-center">
          <figure class="user w-8 mr-auto ml-auto">
            <img src="images/user.png" alt="Foto do Perfil">
          </figure>
          <h3 class="mt-10">Renato Brandão</h3>
          <span class="block mb-5">Designer</span>
          <div class="form-group mt-15 mb-0">
            <label class="form-label" for="">Órgão</label>
            <select class="form-select block" name="">
              <option value="">Superintendêcia de Informática</option>
              <option value="">Departamento de Análise e Desenvolvimento</option>
            </select>
          </div>
        </fieldset>
        <div class="row">

          <fieldset class="col-12 col-m-6">
            <h4 class="title-bold mb-15">Notificações</h4>
            <a class="list-group-item row pl-0 link_mail" href="#">
              <b class="ico-mail fs-32 fs-m-32 fs-s-32 text-alert-dark"></b>
              <span class="ml-10">Novas Mensagens <small class="block">1 nova mensagem</small></span>
            </a>
            <a class="list-group-item row pl-0 link_files" href="#">
              <b class="ico-file-text fs-32 fs-m-32 fs-s-32 text-success"></b>
              <span class="ml-10">Novos Documentos <small class="block">3 novos documentos</small></span>
            </a>
            <a class="list-group-item row pl-0 link_files" href="#">
              <b class="ico-calendar fs-32 fs-m-32 fs-s-32 text-info"></b>
              <span class="ml-10">Agenda <small class="block">4 eventos hoje</small></span>
            </a>
            <a class="list-group-item block text-center" href="#">
              <span class="text-secondary">+08</span> Listar todas
            </a>
          </fieldset>

          <fieldset class="col-12 col-m-6">
            <h4 class="title-bold mb-15">Calendário</h4>
            <div class="box-line">
  
              <div class="row-center pb-10" ng-show="ctrl.exibir">
                <h5 class="row-full">Junho de 2022
                </h5>
                <div>
                  <button class="bt-secondary-clear bt-ico" style="padding: 0 !important;"
                    ng-click="ctrl.alterarMesCalendario('voltar')"><b class="ico-chevron-left"></b></button>
                  <button class="bt-secondary-clear bt-ico" style="padding: 0 !important;"
                    ng-click="ctrl.alterarMesCalendario('passar')"><b class="ico-chevron-right"></b></button>
                </div>
              </div>
  
              <table class="fs-12" style="width: 100%;">
                <thead class="fs-11">
                  <tr class="text-left">
                    <th>DOM</th>
                    <th>SEG</th>
                    <th>TER</th>
                    <th>QUA</th>
                    <th>QUI</th>
                    <th>SEX</th>
                    <th>SAB</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tooltip-top text-gray" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      29
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top text-gray" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      30
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top text-gray" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      31
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      1
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      2
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      3
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      4
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
  
                  </tr>
                  <tr>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      5
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      6
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      7
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      8
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      9
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      10
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      11
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
  
                  </tr>
                  <tr>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      12
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      13
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      14
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      15
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      16
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      17
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      18
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
  
                  </tr>
                  <tr>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      19
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      20
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      21
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      22
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      23
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      24
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      25
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
  
                  </tr>
                  <tr>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      26
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      27
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      28
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      29
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      30
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top text-gray" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      1
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
                    <td class="tooltip-top text-gray" data-tooltip="Nenhuma atividade registrada."
                      style="text-align: center;cursor:pointer">
  
                      2
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
                      <span class="row-full"
                        style="border-bottom: 1px solid transparent; width: 15px; display: block; margin: 2px auto 0px;"></span>
  
                    </td>
  
                  </tr>
                </tbody>
              </table>
            </div>
          </filedset>
        </div>
      </div>
    </div>
  </div>
</div>