<div class="content">

  <div class="row-fluid">
    <div class="col-12">
      <div class="slide bg-gray-light">
        <input type="radio" name="slide-3" id="slide3-1" class="hidden slide-input-1" checked>
        <input type="radio" name="slide-3" id="slide3-2" class="hidden slide-input-2">
    
        <div class="slide-nav">
          <label  class="slide-label slide-1" for="slide3-1"></label>
          <label  class="slide-label slide-2" for="slide3-2"></label>
        </div>
    
        <div class="slide-arrows">
          <label  class="slide-arrow arrow-1" for="slide3-1"><b class="ico-chevron-left"></b></label>
          <label  class="slide-arrow arrow-2" for="slide3-2"><b class="ico-chevron-left"></b></label>
        </div>
    
        <!-- slide container -->
        <div class="slide-container">
    
          <!-- slide 1 -->
          <div class="slide-item slide-1 card row">
    
            <figure class="slide-fade col-6 col-m-6 ml-auto">
              <img src="images/image-1.svg" alt="Fundo Login">
            </figure>
    
            <div class="slide-box row">
              <div class="col-6 col-m-6 mr-auto">
                <div class="slide-caption sc-center">
                  <h1 class="text-center text-secondary f-size-3">Bem vindo ao Front-MP</h1>
                  <h2 class="text-center">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</h2>
                </div>
              </div>
            </div>
    
          </div>
          <!-- fim: slide 1 -->
    
          <!-- slide 2 -->
          <div class="slide-item slide-2 card row">
    
            <figure class="slide-fade col-6 col-m-6 ml-auto">
              <img src="images/bg-login.svg" alt="Fundo Login">
            </figure>
    
            <div class="slide-box row">
              <div class="col-6 col-m-6 mr-auto">
                <div class="slide-caption sc-center">
                  <h1 class="text-center text-secondary f-size-3">Projeto Visual</h1>
                  <h2 class="text-center">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h2>
                </div>
              </div>
            </div>
    
          </div>
          <!-- fim: slide 2 -->
    
        </div>
        <!-- fim: slide container -->
    
      </div>
    </div>
  </div>


  <div class="row-fluid">

    <div class="col-6 box">
      <div class="card-line box">
        <div class="chart-bar">
        <div class="chart-title">
          Browser market share June 2018
        </div>
        <div class="row">
          <div>
            <div class="chart-text">IE 11: 11.33%</div>
            <div class="chart-text">Chrome: 49.77%</div>
            <div class="chart-text">Firefox: 16.09%</div>
            <div class="chart-text">Safari: 5.41%</div>
            <div class="chart-text">Opera: 1.62%</div>
            <div class="chart-text">Android 4.4: 2%</div>
          </div>
          <div class="row-full">
            <div class="chart-col">
              <span class="chart-percentage bg-success-dark per-x-11"></span>
            </div>
            <div class="chart-col">
              <span class="chart-percentage bg-success per-x-49"></span>
            </div>
            <div class="chart-col">
              <span class="chart-percentage bg-error-dark per-x-16"></span>
            </div>
            <div class="chart-col">
              <span class="chart-percentage bg-error per-x-5"></span>
            </div>
            <div class="chart-col">
              <span class="chart-percentage bg-alert-dark per-x-4"></span>
            </div>
            <div class="chart-col">
              <span class="chart-percentage bg-alert per-x-1"></span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="col-6 box">

      <div class="row-fluid">
        <div class="col-6 box">
          <div class="box bg-success row text-white">
            <b class="ico-box fs-48"></b>
            <div class="row-full ml-20">
              <h1 class="text-white">77</h1>
              <h5>Projetos</h5>
            </div>
          </div>
        </div>
        <div class="col-6 box">
          <div class="box bg-info row text-white">
            <b class="ico-file-text fs-48"></b>
            <div class="row-full ml-20">
              <h1 class="text-white">241</h1>
              <h5>Documentos</h5>
            </div>
          </div>
        </div>
      </div>

      

      <div class="row-fluid">
        <div class="col-6 box">
          <div class="box bg-error row text-white">
            <b class="ico-user fs-48"></b>
            <div class="row-full ml-20">
              <h1 class="text-white">03</h1>
              <h5>Usuários</h5>
            </div>
          </div>
        </div>
        <div class="col-6 box">
          <div class="box bg-alert row text-white">
            <b class="ico-briefcase fs-48"></b>
            <div class="row-full ml-20">
              <h1 class="text-white">6</h1>
              <h5>Profissões</h5>
            </div>
          </div>
        </div>
      </div>

      

      <div class="row-fluid">
        <div class="col-6 box">
          <div class="box bg-primary row text-white">
            <b class="ico-paperclip fs-48"></b>
            <div class="row-full ml-20">
              <h1 class="text-white">1359</h1>
              <h5>Anexos</h5>
            </div>
          </div>
        </div>
        <div class="col-6 box">
          <div class="box bg-secondary row text-white">
            <b class="ico-folder fs-48"></b>
            <div class="row-full ml-20">
              <h1 class="text-white">98</h1>
              <h5>Pastas</h5>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  

  <div class="row-fluid">
    <div class="col-m-6 col-4 box">
      <div class="card-line box">
        <h4>Estatísticas</h4>
        <!-- grafico donut -->
        <div class="row row-center">

          <div class="chart-donut">
            <div class="chart-recorte porcion-0">
              <div class="chart-quesito bg-success porcion-76" data-rel="21"></div>
            </div>
            <div class="chart-recorte porcion-76">
              <div class="chart-quesito bg-error porcion-140" data-rel="39"></div>
            </div>
            <div class="chart-recorte porcion-215">
              <div class="chart-quesito bg-alert porcion-113" data-rel="31"></div>
            </div>
            <div class="chart-recorte porcion-328">
              <div class="chart-quesito bg-primary porcion-32" data-rel="9"></div>
            </div>
            <div class="chart-center">JUN2018</div>
          </div>

          <div class="ml-20">
            <div class="chart-text"><b class="ticks-left bg-success"></b>iOS 21%</div>
            <div class="chart-text"><b class="ticks-left bg-error"></b>Mac 39%</div>
            <div class="chart-text"><b class="ticks-left bg-alert"></b>Linux 9%</div>
            <div class="chart-text"><b class="ticks-left bg-secondary"></b>Win 31%</div>
          </div>

        </div>
        <!-- grafico donut -->
      </div>
    </div>
    <div class="col-m-6 col-4 box">
      <div class="card-line box">
        <h4>Estatísticas</h4>
        <!-- grafico donut -->
        <div class="row row-center">

          <div class="chart-donut">
            <div class="chart-recorte porcion-0">
              <div class="chart-quesito bg-success porcion-21" data-rel="21"></div>
            </div>
            <div class="chart-recorte porcion-21">
              <div class="chart-quesito bg-error porcion-39" data-rel="39"></div>
            </div>
            <div class="chart-recorte porcion-60">
              <div class="chart-quesito bg-alert porcion-31" data-rel="31"></div>
            </div>
            <div class="chart-recorte porcion-91">
              <div class="chart-quesito bg-primary porcion-9" data-rel="9"></div>
            </div>
            <span class="chart-center">JUN2018</span>
          </div>

          <div class="ml-20">
            <div class="chart-text"><b class="ticks-left bg-success"></b>iOS 21%</div>
            <div class="chart-text"><b class="ticks-left bg-error"></b>Mac 39%</div>
            <div class="chart-text"><b class="ticks-left bg-alert"></b>Linux 9%</div>
            <div class="chart-text"><b class="ticks-left bg-secondary"></b>Win 31%</div>
          </div>

        </div>
        <!-- grafico donut -->
      </div>
    </div>
    <div class="col-m-6 col-4 box">
      <div class="card-line box">
        <h4>Estatísticas</h4>
        <!-- grafico donut -->
        <div class="row row-center">

          <div class="chart-donut">
            <div class="chart-recorte porcion-0">
              <div class="chart-quesito bg-success porcion-21" data-rel="21"></div>
            </div>
            <span class="chart-center">JUN2018</span>
          </div>

          <div class="ml-20">
            <div class="chart-text"><b class="ticks-left bg-success"></b>iOS 21%</div>
          </div>

        </div>
        <!-- grafico donut -->
      </div>
    </div>
  </div>

  

  <div class="row-fluid">

    <div class="col-8 box">

      <div class="card-line box">
        <h4>Gráfico</h4>

        <div class="chart-pico">
          <div class="chart-title">
            Browser market share June 2018
          </div>
          <div class="row">
            <div class="chart-row col-m-8">
              <div class="chart-col">
                <span class="chart-value">11.33%</span>
                <span class="chart-percentage bg-success per-y-11"></span>
              </div>
              <div class="chart-col">
                <span class="chart-value">49.77%</span>
                <span class="chart-percentage bg-error per-y-49"></span>
              </div>
              <div class="chart-col">
                <span class="chart-value">16.09%</span>
                <span class="chart-percentage bg-alert per-y-16"></span>
              </div>
              <div class="chart-col">
                <span class="chart-value">5.41%</span>
                <span class="chart-percentage bg-gray-dark per-y-5"></span>
              </div>
              <div class="chart-col">
                <span class="chart-value">1.62%</span>
                <span class="chart-percentage bg-secondary per-y-4 "></span>
              </div>
              <div class="chart-col">
                <span class="chart-value">2%</span>
                <span class="chart-percentage bg-primary per-y-1"></span>
              </div>
            </div>
            <div>
              <div class="chart-text"><b class="ticks-left bg-success"></b>IE 11: 11.33%</div>
              <div class="chart-text"><b class="ticks-left bg-error"></b>Chrome: 49.77%</div>
              <div class="chart-text"><b class="ticks-left bg-alert"></b>Firefox: 16.09%</div>
              <div class="chart-text"><b class="ticks-left bg-gray-dark"></b>Safari: 5.41%</div>
              <div class="chart-text"><b class="ticks-left bg-secondary"></b>Opera: 1.62%</div>
              <div class="chart-text"><b class="ticks-left bg-primary"></b>Android 4.4: 2%</div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-4 box">
      <div class="card-line box">
        <h4>Projetos</h4>

        <div class="row">
          <div class="chart-text row-full"><b class="ticks-left bg-gray-dark"></b>iOS</div>
          <div class="chart-text">21%</div>
        </div>
        <div class="chart-line per-yx-10 bg-gray">
            <span class="bg-gray-dark per-yx-10 per-x-21"></span>
        </div>

        <div class="row">
          <div class="chart-text row-full"><b class="ticks-left bg-error"></b>Opera</div>
          <div class="chart-text">81%</div>
        </div>
        <div class="chart-line per-yx-10 bg-gray">
            <span class="bg-error per-yx-10 per-x-81"></span>
        </div>

        <div class="row">
          <div class="chart-text row-full"><b class="ticks-left bg-alert"></b>Firefox</div>
          <div class="chart-text">16%</div>
        </div>
        <div class="chart-line per-yx-10 bg-gray">
            <span class="bg-alert per-yx-10 per-x-16"></span>
        </div>

        <div class="row">
          <div class="chart-text row-full"><b class="ticks-left bg-info"></b>Safari</div>
          <div class="chart-text">49%</div>
        </div>
        <div class="chart-line per-yx-10 bg-gray">
            <span class="bg-info per-yx-10 per-x-49"></span>
        </div>

        <div class="row">
          <div class="chart-text row-full"><b class="ticks-left bg-success"></b>Android</div>
          <div class="chart-text">38%</div>
        </div>
        <div class="chart-line per-yx-10 bg-gray">
            <span class="bg-success per-yx-10 per-x-38"></span>
        </div>

        <div class="row">
          <div class="chart-text row-full"><b class="ticks-left bg-black"></b>IE</div>
          <div class="chart-text">8%</div>
        </div>
        <div class="chart-line per-yx-10 bg-gray">
            <span class="bg-black per-yx-10 per-x-8"></span>
        </div>

      </div>
    </div>

  </div>

  

  <div class="row-fluid">
    <div class="col-12">
      <div class="card-line box">
        <h4>Usuários</h4>

        <table class="table">
          <thead>
            <tr>
              <th class="tw-3">Foto</th>
              <th>Nome</th>
              <th class="tw-2"><b class="ico-mail"></b></th>
              <th>E-mail</th>
              <th>Profissão</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><figure class="user-p"><img src="images/profile.svg"/></figure></td>
              <td class="td-focus" data-label="Nome:">Guilherme</td>
              <td class="max-s"><b class="ico-mail"></b></td>
              <td data-label="E-mail:">guilherme@exemple.com.br</td>
              <td data-label="Status:"><small class="status bg-info">Desenvolvedor</small></td>
              <td class="tw-5"><a class="bt-secondary-clear bt-small" href="#">Visualizar</a></td>
            </tr>
            <tr>
              <td><figure class="user-p"><img src="images/profile.svg"/></figure></td>
              <td class="td-focus" data-label="Nome:">Mariana</td>
              <td class="max-s"><b class="ico-mail"></b></td>
              <td data-label="E-mail:">mariana@exemple.com.br</td>
              <td data-label="Status:"><small class="status bg-info">Desenvolvedor</small></td>
              <td class="tw-5"><a class="bt-secondary-clear bt-small" href="#">Visualizar</a></td>
            </tr>
            <tr>
              <td><figure class="user-p"><img src="images/profile.svg"/></figure></td>
              <td class="td-focus" data-label="Nome:">Renato</td>
              <td class="max-s"><b class="ico-mail"></b></td>
              <td data-label="E-mail:">renato@exemple.com.br</td>
              <td data-label="Status:"><small class="status bg-alert">Designer</small></td>
              <td class="tw-5"><a class="bt-secondary-clear bt-small" href="#">Visualizar</a></td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>

  

  <div class="row-fluid">
    <div class="col-12">
      <article class="card">
        <div class="card-header-line">
          <h3 class="card-title">Lista Projetos</h3>
        </div>
        <div class="card-container box">
          <table class="table-block mt-0">
            <thead>
              <th>Nome</th>
              <th class="tw-10">Valor</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr>
                <td>Android</td>
                <td>$166,00</td>
                <td>
                  <div class="chart-line per-yx-10 bg-gray">
                    <span class="bg-success per-yx-10 per-x-46"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>iOs</td>
                <td>$38,00</td>
                <td>
                  <div class="chart-line per-yx-10 bg-gray">
                    <span class="bg-gray-dark per-yx-10 per-x-65"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Windows</td>
                <td>$98,00</td>
                <td>
                  <div class="chart-line per-yx-10 bg-gray">
                    <span class="bg-info per-yx-10 per-x-16"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Firefox</td>
                <td>$11,00</td>
                <td>
                  <div class="chart-line per-yx-10 bg-gray">
                    <span class="bg-alert per-yx-10 per-x-98"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Safari</td>
                <td>$13,00</td>
                <td>
                  <div class="chart-line per-yx-10 bg-gray">
                    <span class="bg-black per-yx-10 per-x-38"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
