<nav class="header-content">

  <label class="nav-icolink inline mr-auto min-l" for="menu"><b class="ico ico-menu"></b></label>
  
  <ul class="nav row-center mr-auto max-l">

    <li><a class="nav-link inline" href="index.html">Início</a></li>

    <li class="dropdown">
      <a class="nav-link block" href="#">E-mail <span class="ico-chevron-down"></span></a>
      <ul class="dropdown-content dropdown-menu">
        <li><a class="nav-sublink block link_mail" href="#">Entrada</a></li>
        <li><a class="nav-sublink block link_mail-msg" href="#">Mensagem</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="nav-link block" href="#">Layout <span class="ico-chevron-down"></span></a>
      <ul class="dropdown-content dropdown-menu">
        <li><a class="nav-sublink block" href="login.html">Login</a></li>
        <li><a class="nav-sublink block" href="auth.html">Autenticação</a></li>
        <li><a class="nav-sublink block link_modal" href="#">Modal</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="nav-link block" href="#">Páginas <span class="ico-chevron-down"></span></a>

      <div class="dropdown-content dropdown-menu drop-mega">
        <ul class="list-clear drop-mega-item">
          <li class="list-clear-item"><strong class="fs-13">App</strong></li>
          <li><a class="nav-sublink block link_user" href="#">Usuários</a></li>
          <li><a class="nav-sublink block link_files" href="#">Arquivos</a></li>
        </ul>
        <ul class="list-clear drop-mega-item" >
          <li class="list-clear-item"><strong class="fs-13">Processo</strong></li>
          <li><a class="nav-sublink block link_administrative" href="#">Administrativo</a></li>
          <li><a class="nav-sublink block link_judicial" href="#">Judicial</a></li>
          <li><a class="nav-sublink block link_extrajudicial" href="#">Extrajudicial</a></li>
        </ul>
      </div>

    </li>

    <li><a class="nav-link link_calendar" href="#">Calendário</a></li>
  </ul>

  <div class="header-search col-2 col-m-4 max-s">
    <input type="text" class="form-input small" placeholder="Pesquisar...">
    <button class="bt" name="button"><b class="ico-search"></b></button>
  </div>

  <ul class="nav row-center">

    <li><a class="nav-icolink block" href="#" id="bt-theme"><b class="ico-airplay"></b></a></li>
    <li class="dropdown">
      <a class="nav-icolink block" href="#"><b class="ico-bell"></b></a>
      <div class="dropdown-content dropdown-menu tw-30 small" style="right: 0;">
        <a class="list-group-item row link_mail" href="#">
          <b class="ico-mail fs-32 text-alert-dark"></b>
          <span class="ml-10">Novas Mensagens <small class="block">1 nova mensagem</small></span>
        </a>
        <a class="list-group-item row link_files" href="#">
          <b class="ico-file-text fs-32 text-success"></b>
          <span class="ml-10">Novos Documentos <small class="block">3 novos documentos</small></span>
        </a>
        <a class="list-group-item row link_files" href="#">
          <b class="ico-calendar fs-32 text-info"></b>
          <span class="ml-10">Agenda <small class="block">2 eventos hoje</small></span>
        </a>
        <a class="list-group-item block text-center" href="#">
          Ver todas <span class="text-error">08</span>
        </a>
      </div>
    </li>

    <li><label class="nav-icolink block" for="aside-float"><b class="ico-more-vertical"></b></label></li>

  </ul>

  <div class="dropdown mr-10">

    <div class="row-center">
      <figure class="user tw-3 mr-10">
        <img src="images/user.png" alt="Foto do Perfil">
      </figure>
      <em class="ico-chevron-down"></em>
    </div>

    <div class="dropdown-content dropdown-menu tw-28" style="right: 0;">
      <div class="box">
        <fieldset class="row-full max-m">
          Ola, Renato Brandão!
          <strong class="block small" href="#">Superintendência de Informática </strong>
        </fieldset>
  
        <fieldset>
          <h5 class="uppercase">Mais Orgãos</h5>
          <ul class="nav scroll-300">
            <li><a class="nav-sublink block" href="#">Nome do Orgão 1</a></li>
            <li><a class="nav-sublink block" href="#">Nome do Orgão 2</a></li>
            <li><a class="nav-sublink block" href="#">Nome do Orgão 4</a></li>
            <li><a class="nav-sublink block" href="#">Nome do Orgão 4</a></li>
            <li><a class="nav-sublink block" href="#">Nome do Orgão 5</a></li>
          </ul>
        </fieldset>
  
        <a href="auth.html" class="nav-link"><b class="ico-log-out"></b> Sair</a>
      </div>

    </div>

  </div>

</nav>
<!-- fim: header content -->
<script type="text/javascript">
  $("#bt-theme").on("click", function(){
    // if(!$("#theme").hasClass("theme-dark")) {
    //   $("#theme").removeClass("theme-white");
    //   $("#theme").addClass("theme-dark");
    // }
    if($("#theme").hasClass("theme-white")) {
      $("#theme").removeClass("theme-white");
      $("#theme").addClass("theme-primary");
    }
    else if($("#theme").hasClass("theme-primary")) {
      $("#theme").removeClass("theme-primary");
      $("#theme").addClass("theme-dark");
    }
    else if($("#theme").hasClass("theme-dark")) {
      $("#theme").removeClass("theme-dark");
      $("#theme").addClass("theme-white");
    }
  });
</script>
