<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-MP 2.0</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/application.css">
    <script type="text/javascript">
      $(document).ready(function(){
        $("#header").load("header.html");
        $("#nav").load("menu.html");
        $("#main").load("dashboard.html");
      });
    </script>
  </head>
  <body id="theme" class="theme-white">

    
    <input type="checkbox" id="menu" class="hidden">
    <label class="menu-close" for="menu"></label>
    
    <input type="checkbox" id="aside-float" class="hidden">

    <header class="header" id="header"></header>
    
    <nav class="menu" id="nav"></nav>
    
    <section class="container container-menu">
      <main id="main" class="main"></main>
      <section class="b-top box text-right"><span class="small">Superintendência de Informática / <strong>SINFO - 2018</strong></span></section>
    </section>
    
    <aside class="aside-float box-block">

      <fieldset>
        <h4 class="box">Usuários</h4>

        <div class="list-group">
          <a href="#" class="list-group-item row-center">
            <figure class="tw-4 ty-4 user">
              <img src="images/profile.svg" alt="Profile">
              <em class="status-ball bg-info"></em>
            </figure>
            <div class="row-full ml-10">
              <span class="block">Guilherme Maranhão</span>
              <small>Desenvolvedor</small>
            </div>
          </a>
          <a href="#" class="list-group-item row-center">
            <figure class="tw-4 ty-4 user">
              <img src="images/profile.svg" alt="Profile">
              <em class="status-ball bg-info"></em>
            </figure>
            <div class="row-full ml-10">
              <span class="block">Mariana Rocha</span>
              <small>Desenvolvedor</small>
            </div>
          </a>
          <a href="#" class="list-group-item row-center">
            <figure class="tw-4 ty-4 user">
              <img src="images/profile.svg" alt="Profile">
              <em class="status-ball bg-alert"></em>
            </figure>
            <div class="row-full ml-10">
              <span class="block">Renato Brandão</span>
              <small>Designer</small>
            </div>
          </a>
        </div>
      </fieldset>

      <fieldset>
        <div class="box">
          <h4>Profissão</h4><br>

          <ul class="list-clear">
            <li class="list-clear-item"><b class="tick mr-5 bg-success"></b> Analista</li>
            <li class="list-clear-item"><b class="tick mr-5 bg-info"></b> Desenvolvedor</li>
            <li class="list-clear-item"><b class="tick mr-5 bg-alert"></b> Designer</li>
          </ul>
        </div>
      </fieldset>

      <div class="box">
        <h4>Novidades</h4><br>

        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta. Manduma pindureta quium dia nois paga.
          Quem num gosta di mim que vai caçá sua turmis! Suco de cevadiss deixa as pessoas mais interessantis.</p>
      </div>

      <label class="bt-close" for="aside-float"><b class="ico-x"></b></label>

    </aside>
    

    
  </body>
</html>
