<ul class="menu-nav">
  <li class="menu-drop">
    <a class="menu-link block" href="#">
      <b class="ico ico-archive"></b> <span>Elementos</span>
      <em class="ico-chevron-down menu-left__ico"></em>
    </a>
    <ul class="menu-content">
      <li class="menu-header">Elementos</li>
      <li><a class="menu-link block link_color" href="#">Cores</a></li>
      <li><a class="menu-link block link_icons" href="#">Icones</a></li>
      <li><a class="menu-link block link_symbol" href="#">Símbolos</a></li>
      <li><a class="menu-link block link_type" href="#">Tipografia</a></li>
      <li><a class="menu-link block link_button" href="#">Button</a></li>
      <li><a class="menu-link block link_cards" href="#">Cards</a></li>
      <li><a class="menu-link block link_navbar" href="#">Navbar</a></li>
      <li><a class="menu-link block link_grid" href="#">Grid</a></li>
      <li><a class="menu-link block link_box" href="#">Box</a></li>
      <li><a class="menu-link block link_accordion" href="#">Accordion</a></li>
      <li><a class="menu-link block link_tabs" href="#">Tabs</a></li>
      <li><a class="menu-link block link_notify" href="#">Notificações</a></li>
      <li><a class="menu-link block link_slide" href="#">Slides</a></li>
      <li><a class="menu-link block link_background" href="#">Backgrounds</a></li>
      <li><a class="menu-link block link_chart" href="#">Gráficos</a></li>
      <li><a class="menu-link block link_widgets" href="#">Widgets</a></li>
      <li><a class="menu-link block link_modal" href="#">Modal</a></li>
    </ul>
  </li>
  <li class="menu-drop">
    <a class="menu-link block" href="#">
      <b class="ico ico-list"></b> <span>Formulários</span>
      <em class="ico-chevron-down menu-left__ico"></em>
    </a>
    <ul class="menu-content">
      <li class="menu-header">Formulários</li>
      <li><a class="menu-link block link_form" href="#">Elementos</a></li>
      <li><a class="menu-link block link_form-ex" href="#">Exemplo</a></li>
      <li><a class="menu-link block link_wizard" href="#">Wizard</a></li>
    </ul>
  </li>
  <li class="menu-drop">
    <a class="menu-link block" href="#">
      <b class="ico ico-grid"></b> <span>Tabelas</span>
      <em class="ico-chevron-down"></em>
    </a>
    <ul class="menu-content">
      <li class="menu-header">Tabelas</li>
      <li><a class="menu-link block link_table" href="#">Básico</a></li>
      <li><a class="menu-link block link_table-ex" href="#">Exemplo</a></li>
    </ul>
  </li>
  <li class="menu-drop">
    <a class="menu-link block" href="#">
      <b class="ico ico-layout"></b> <span>Páginas</span>
      <em class="ico-chevron-down"></em>
    </a>
    <ul class="menu-content">
      <li class="menu-header">Páginas</li>
      <li class="menu-title">APP</li>
      <li class="menu-drop">
        <a class="menu-link block" href="#">
          E-mail <em class="ico-chevron-down"></em>
        </a>

        <ul class="menu-content">
          <li><a class="menu-link block link_mail" href="#">Entrada</a></li>
          <li><a class="menu-link block link_mail-msg" href="#">Mensagem</a></li>
        </ul>
      </li>
      <li><a class="menu-link block link_calendar" href="#">Calendário</a></li>
      <li><a class="menu-link block link_user" href="#">Usuários</a></li>
      <li><a class="menu-link block link_profile" href="#">Meus Perfil</a></li>
      <li><a class="menu-link block link_files" href="#">Arquivos</a></li>
      <li><a class="menu-link block link_gallery" href="#">Galeria</a></li>
      <li class="menu-title">PROCESSOS</li>
      <li><a class="menu-link block link_administrative" href="#">Administrativo</a></li>
      <li><a class="menu-link block link_judicial" href="#">Judicial</a></li>
      <li><a class="menu-link block link_extrajudicial" href="#">Extrajudicial</a></li>
    </ul>
  </li>
</ul>

<div class="menu-brand row-center">
  <figure class="menu-logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 18.9">
      <rect x="20.5" y="1.5" width="3.6" height="16" class="text-primary"/>
      <path d="M6.7 2v1.5c0 0.8-0.1 1.5-0.1 2.3 0 0.1-0.1 0.2-0.2 0.3C4.7 7.3 3.7 8.9 3.5 11c0 0.1 0 0.2 0 0.3v0.1H0c0-1.8 0.5-3.3 1.3-4.8C2.5 4.5 4 3 6.7 2"/>
      <path d="M19.2 2v0.7c0 1-0.1 2-0.1 3.1C19.1 5.9 19 6 19 6c-1.8 1.2-2.8 2.9-2.9 5.1 0 0.1 0 0.2 0 0.2h-3.4c0-1.8 0.4-3.2 1.2-4.6C15 4.5 17 2.9 19.3 2.1"/>
      <path d="M9.8 11.3H6.5c0-1.8 0.5-3.5 1.4-5 1.1-2 3.1-3.4 5-4.2v0.1c0 1.2 0 2.3 0 3.5 0 0.1 0 0.2-0.2 0.3 -1.7 1.1-2.6 2.7-2.8 4.7 0 0.1 0 0.2 0 0.3C9.9 11.1 9.9 11.3 9.8 11.3"/>
      <path d="M28.6 11.2c0-0.3-0.1-0.6-0.1-0.9 -0.3-1.8-1.3-3.2-2.8-4.2 -0.1-0.1-0.3-0.2-0.3-0.3 0-0.9-0.1-1.8-0.1-2.7v-1c0.4 0.1 0.7 0.2 0.9 0.4 2.9 1.4 4.8 3.7 5.5 7 0.1 0.5 0.1 1.1 0.2 1.6 0 0.1 0 0.2-0.1 0.2C30.8 11.2 29.7 11.2 28.6 11.2 28.7 11.2 28.6 11.2 28.6 11.2"/>
      <path d="M3 13c-0.3 1.2-0.6 2.4-0.8 3.7H1.7c-0.3-1.3-0.5-2.4-0.8-3.7l0 0v3.6H0v-4.5h1.3C1.5 13 1.7 14 1.9 14.9l0 0C2 14.4 2.1 14 2.2 13.5c0.1-0.4 0.2-0.8 0.3-1.2 0-0.1 0-0.1 0-0.1 0.4 0 1.1 0 1.1 0v4.4H3.1v-3.7C3.1 13 3 13 3 13"/>
      <path d="M15.6 14.5v2.2h-0.7c0 0 0-0.2-0.1-0.4 -0.2 0.4-0.5 0.6-0.8 0.6 -0.7 0-1.1-0.3-1.3-1 -0.2-0.9-0.2-1.7 0-2.6 0.1-0.7 0.5-1 1.2-1.1 0.2 0 0.5 0 0.7 0 0.5 0.1 0.8 0.4 0.9 1 0 0.1 0 0.3 0 0.3h-0.8c0 0 0-0.2-0.1-0.4 -0.1-0.3-0.3-0.4-0.6-0.4s-0.5 0.2-0.5 0.5c0 0.5-0.1 1.1-0.1 1.6 0 0.3 0 0.6 0.1 0.8 0.1 0.3 0.2 0.5 0.5 0.5s0.5-0.2 0.5-0.5c0-0.2 0-0.3 0.1-0.7h-0.4v-0.4h0.5H15.6z"/>
      <path d="M19 14.5c0 0.3 0 0.7-0.1 1.1 -0.1 0.9-0.7 1.2-1.6 1.2 -0.7-0.1-1.1-0.4-1.2-1.1 -0.1-0.8-0.1-1.6 0-2.4s0.7-1.2 1.5-1.2c0.8 0.1 1.2 0.5 1.3 1.3C19 13.8 19 14.1 19 14.5M18.2 14.4c0-0.4-0.1-0.8-0.1-1.2 0-0.2-0.2-0.3-0.4-0.4 -0.3-0.1-0.6 0.1-0.6 0.5 0 0.5-0.1 1-0.1 1.5 0 0.3 0 0.6 0.1 0.9 0 0.3 0.2 0.4 0.5 0.4s0.5-0.1 0.5-0.5S18.1 14.9 18.2 14.4"/>
      <path d="M5.3 14.9v1.8H4.5v-4.4h0.1c0.5 0 1.1 0 1.6 0 0.7 0 1 0.3 1 1 0 0.2 0 0.5 0 0.8 -0.1 0.5-0.5 0.8-1 0.8C5.9 14.9 5.8 14.8 5.3 14.9M5.3 14.2c0.4 0 0.5 0 0.7-0.1 0.2 0 0.3-0.2 0.4-0.5 0-0.3 0-0.5-0.2-0.7H6.1c-0.2 0-0.3 0-0.7-0.1v1.4H5.3z"/>
      <rect x="9.4" y="14.9" width="1.3" height="0.4"/>
    </svg>
  </figure>
  <span class="menu-ass small">Ministério Público do <br>Estado de Goiás</span>
</div>



<script type="text/javascript">
  $(".link_color").click(function(){ $.get("elements/color.html", function(data) { $("#main").html(data); }); });
  $(".link_icons").click(function(){ $.get("elements/icons.html", function(data) { $("#main").html(data); }); });
  $(".link_symbol").click(function(){ $.get("elements/symbol.html", function(data) { $("#main").html(data); }); });
  $(".link_type").click(function(){ $.get("elements/type.html", function(data) { $("#main").html(data); }); });
  $(".link_button").click(function(){ $.get("elements/buttons.html", function(data) { $("#main").html(data); }); });
  $(".link_cards").click(function(){ $.get("elements/cards.html", function(data) { $("#main").html(data); }); });
  $(".link_navbar").click(function(){ $.get("elements/navbar.html", function(data) { $("#main").html(data); }); });
  $(".link_grid").click(function(){ $.get("elements/grid.html", function(data) { $("#main").html(data); }); });
  $(".link_box").click(function(){ $.get("elements/box.html", function(data) { $("#main").html(data); }); });
  $(".link_accordion").click(function(){ $.get("elements/accordion.html", function(data) { $("#main").html(data); }); });
  $(".link_tabs").click(function(){ $.get("elements/tabs.html", function(data) { $("#main").html(data); }); });
  $(".link_notify").click(function(){ $.get("elements/notification.html", function(data) { $("#main").html(data); }); });
  $(".link_slide").click(function(){ $.get("elements/slides.html", function(data) { $("#main").html(data); }); });
  $(".link_background").click(function(){ $.get("elements/backgrounds.html", function(data) { $("#main").html(data); }); });
  $(".link_chart").click(function(){ $.get("charts/chart.html", function(data) { $("#main").html(data); }); });
  $(".link_widgets").click(function(){ $.get("elements/widgets.html", function(data) { $("#main").html(data); }); });
  $(".link_modal").click(function(){ $.get("elements/modal.html", function(data) { $("#main").html(data); }); });
  $(".link_gallery").click(function(){ $.get("elements/gallery.html", function(data) { $("#main").html(data); }); });

  $(".link_form").click(function(){ $.get("form/form.html", function(data) { $("#main").html(data); }); });
  $(".link_form-ex").click(function(){ $.get("form/form-exemple.html", function(data) { $("#main").html(data); }); });
  $(".link_wizard").click(function(){ $.get("form/form-wizard.html", function(data) { $("#main").html(data); }); });

  $(".link_table").click(function(){ $.get("table/table.html", function(data) { $("#main").html(data); }); });
  $(".link_table-ex").click(function(){ $.get("table/table-exemple.html", function(data) { $("#main").html(data); }); });

  $(".link_mail").click(function(){ $.get("page/mail.html", function(data) { $("#main").html(data); }); });
  $(".link_calendar").click(function(){ $.get("page/calendar.html", function(data) { $("#main").html(data); }); });
  $(".link_mail-msg").click(function(){ $.get("page/mail-msg.html", function(data) { $("#main").html(data); }); });
  $(".link_user").click(function(){ $.get("page/user.html", function(data) { $("#main").html(data); }); });
  $(".link_files").click(function(){ $.get("page/files.html", function(data) { $("#main").html(data); }); });
  $(".link_profile").click(function(){ $.get("page/profile.html", function(data) { $("#main").html(data); }); });
  $(".link_administrative").click(function(){ $.get("page/administrative.html", function(data) { $("#main").html(data); }); });
  $(".link_judicial").click(function(){ $.get("page/judicial.html", function(data) { $("#main").html(data); }); });
  $(".link_extrajudicial").click(function(){ $.get("page/extrajudicial.html", function(data) { $("#main").html(data); }); });
  $(".link_calendar").click(function(){ $.get("page/calendar.html", function(data) { $("#main").html(data); }); });
</script>
