<div class="menu-brand">
  <a class="menu-brand-link" href="index.html">
    <figure class="menu-logo">
      <!-- <img class="img-fluid" src="images/logo.svg" alt="Logo do Sistema"> -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 18">
        <path class="fill-1" d="M4.4 6.7v1.9h4.7v2.8H4.4v3.6H0.6V3.8h9.1v2.8L4.4 6.7 4.4 6.7z"/>
        <path class="fill-1" d="M17.1 6.2v3.2c-0.4-0.1-0.5-0.1-0.8-0.1 -1.1 0-1.8 0.5-1.8 1.9v3.9h-3.7V6.3h3.5v0.9C14.9 6.6 15.8 6.2 17.1 6.2z"/>
        <path class="fill-1" d="M17.5 10.7c0-2.7 2.1-4.6 5.1-4.6s5.1 1.9 5.1 4.6 -2.1 4.6-5.1 4.6S17.5 13.4 17.5 10.7zM24.1 10.7c0-1.1-0.6-1.7-1.5-1.7 -0.8 0-1.5 0.5-1.5 1.7 0 1.1 0.6 1.7 1.5 1.7C23.5 12.4 24.1 11.9 24.1 10.7z"/>
        <path class="fill-1" d="M38.6 10.1v5H35v-4.5c0-1.1-0.5-1.6-1.1-1.6 -0.7 0-1.4 0.5-1.4 1.7V15h-3.7V6.3h3.5v0.9c0.7-0.7 1.6-1 2.7-1C37.1 6.2 38.6 7.3 38.6 10.1z"/>
        <path class="fill-1" d="M46.7 14.8c-0.5 0.4-1.4 0.5-2.2 0.5 -2.5 0-3.8-1.1-3.8-3.6V9.5h-1.3V6.8h1.2V4.4h3.7v2.5h1.8v2.7h-1.8v2.2c0 0.5 0.4 0.8 0.7 0.8 0.3 0 0.5-0.1 0.8-0.3L46.7 14.8z"/>
        <path class="fill-2" d="M68.6 15.1V10l-2.5 4.1h-1.7l-2.4-4V15h-3.5V3.8h3.1l3.7 6 3.6-6h3.1V15L68.6 15.1 68.6 15.1z"/>
        <path class="fill-2" d="M84.4 8.1c0 2.7-2 4.2-5.1 4.2h-1.6V15h-3.8V3.8h5.4C82.4 3.8 84.4 5.4 84.4 8.1zM80.5 8.1c0-0.8-0.5-1.3-1.6-1.3h-1.4v2.7H79C80.1 9.4 80.5 8.9 80.5 8.1z"/>
        <path class="fill-1" d="M47.9 12.4h4v2.7h-4V12.4z"/>
        <path class="fill-1" d="M52.9 12.4h4v2.7h-4V12.4z"/>
      </svg>
    </figure>
  </a>
  <label class="menu-label ml-30" for="menu"><b class="ico ico-menu"></b></label>
</div>

<div class="menu-item"><a class="menu-link inline" href="index.html"><em class="ico-home"></em><span>Início</span></a></div>

<div class="menu-item">
  <input type="checkbox" name="menu" id="menu-id2" class="menu-input hidden">
  <label class="menu-header" for="menu-id2"><small class="status-ball bg-success"></small><em class="ico-grid"></em><span> Elementos</span></label>
  <div class="menu-content">
    <a class="menu-link-1 link_color" href="#">Cores</a>
    <a class="menu-link-1 link_icons" href="#">Icones <small class="status bg-success">novo</small></a>
    <a class="menu-link-1 link_symbol" href="#">Símbolos</a>
    <a class="menu-link-1 link_type" href="#">Tipografia</a>
    <a class="menu-link-1 link_button" href="#">Button</a>
    <a class="menu-link-1 link_cards" href="#">Cards</a>
    <a class="menu-link-1 link_navbar" href="#">Navbar</a>
    <a class="menu-link-1 link_grid" href="#">Grid</a>
    <a class="menu-link-1 link_box" href="#">Box</a>
    <a class="menu-link-1 link_accordion" href="#">Accordion</a>
    <a class="menu-link-1 link_tabs" href="#">Tabs</a>
    <a class="menu-link-1 link_notify" href="#">Notificações</a>
    <a class="menu-link-1 link_slide" href="#">Slides</a>
    <a class="menu-link-1 link_background" href="#">Backgrounds</a>
    <a class="menu-link-1 link_chart" href="#">Gráficos</a>
    <a class="menu-link-1 link_widgets" href="#">Widgets</a>
    <a class="menu-link-1 link_modal" href="#">Modal</a>
  </div>
</div>

<div class="menu-item">
  <input type="checkbox" name="menu" id="menu-id3" class="menu-input hidden">
    <label class="menu-header" for="menu-id3"><em class="ico-file-text"></em><span> Formulários</span></label>
  <div class="menu-content">
    <a class="menu-link-1 link_form" href="#">Elementos</a>
    <a class="menu-link-1 link_form-ex" href="#">Exemplo</a>
    <a class="menu-link-1 link_wizard" href="#">Wizard</a>
  </div>
</div>

<div class="menu-item">
  <input type="checkbox" name="menu" id="menu-id4" class="menu-input hidden">
    <label class="menu-header" for="menu-id4"><em class="ico-briefcase"></em><span> Tabelas</span></label>
  <div class="menu-content">
    <a class="menu-link-1 link_table" href="#">Básico</a>
    <a class="menu-link-1 link_table-ex" href="#">Exemplo <small class="status bg-info">4</small></a>
  </div>
</div>

<div class="menu-item">
  <input type="checkbox" name="menu" id="menu-id5" class="menu-input hidden">
  <label class="menu-header" for="menu-id5"><em class="ico-layers"></em><span> Páginas</span></label>
  <div class="menu-content">
    
    <span class="menu-title pl-52">APP</span>
    <div class="menu-item">
      <input type="checkbox" name="menu" id="menu-id6" class="menu-input hidden">
      <label class="menu-header-1" for="menu-id6"><span> E-mail</span></label>
      <div class="menu-content">
        <a class="menu-link-2 link_mail" href="#">Entrada</a>
        <a class="menu-link-2 link_mail-msg" href="#">Mensagem</a>
      </div>
    </div>

    <a class="menu-link-1 link_calendar" href="#">Calendário</a>
    <a class="menu-link-1 link_user" href="#">Usuários</a>
    <a class="menu-link-1 link_profile" href="#">Meus Perfil</a>
    <a class="menu-link-1 link_files" href="#">Arquivos</a>
    <a class="menu-link-1 link_gallery" href="#">Galeria</a>

    <span class="menu-title pl-52">PROCESSOS</span>
    <a class="menu-link-1 link_administrative" href="#">Administrativo</a>
    <a class="menu-link-1 link_judicial" href="#">Judicial</a>
    <a class="menu-link-1 link_extrajudicial" href="#">Extrajudicial</a>
  </div>
</div>

<script type="text/javascript">
  $(".link_color").click(function () { $.get("elements/color.html", function (data) { $("#main").html(data); }); });
  $(".link_icons").click(function () { $.get("elements/icons.html", function (data) { $("#main").html(data); }); });
  $(".link_symbol").click(function () { $.get("elements/symbol.html", function (data) { $("#main").html(data); }); });
  $(".link_type").click(function () { $.get("elements/type.html", function (data) { $("#main").html(data); }); });
  $(".link_button").click(function () { $.get("elements/buttons.html", function (data) { $("#main").html(data); }); });
  $(".link_cards").click(function () { $.get("elements/cards.html", function (data) { $("#main").html(data); }); });
  $(".link_navbar").click(function () { $.get("elements/navbar.html", function (data) { $("#main").html(data); }); });
  $(".link_grid").click(function () { $.get("elements/grid.html", function (data) { $("#main").html(data); }); });
  $(".link_box").click(function () { $.get("elements/box.html", function (data) { $("#main").html(data); }); });
  $(".link_accordion").click(function () { $.get("elements/accordion.html", function (data) { $("#main").html(data); }); });
  $(".link_tabs").click(function () { $.get("elements/tabs.html", function (data) { $("#main").html(data); }); });
  $(".link_notify").click(function () { $.get("elements/notification.html", function (data) { $("#main").html(data); }); });
  $(".link_slide").click(function () { $.get("elements/slides.html", function (data) { $("#main").html(data); }); });
  $(".link_background").click(function () { $.get("elements/backgrounds.html", function (data) { $("#main").html(data); }); });
  $(".link_chart").click(function () { $.get("charts/chart.html", function (data) { $("#main").html(data); }); });
  $(".link_widgets").click(function () { $.get("elements/widgets.html", function (data) { $("#main").html(data); }); });
  $(".link_modal").click(function () { $.get("elements/modal.html", function (data) { $("#main").html(data); }); });
  $(".link_gallery").click(function () { $.get("elements/gallery.html", function (data) { $("#main").html(data); }); });

  $(".link_form").click(function () { $.get("form/form.html", function (data) { $("#main").html(data); }); });
  $(".link_form-ex").click(function () { $.get("form/form-exemple.html", function (data) { $("#main").html(data); }); });
  $(".link_wizard").click(function () { $.get("form/form-wizard.html", function (data) { $("#main").html(data); }); });

  $(".link_table").click(function () { $.get("table/table.html", function (data) { $("#main").html(data); }); });
  $(".link_table-ex").click(function () { $.get("table/table-exemple.html", function (data) { $("#main").html(data); }); });

  $(".link_mail").click(function () { $.get("page/mail.html", function (data) { $("#main").html(data); }); });
  $(".link_calendar").click(function () { $.get("page/calendar.html", function (data) { $("#main").html(data); }); });
  $(".link_mail-msg").click(function () { $.get("page/mail-msg.html", function (data) { $("#main").html(data); }); });
  $(".link_user").click(function () { $.get("page/user.html", function (data) { $("#main").html(data); }); });
  $(".link_files").click(function () { $.get("page/files.html", function (data) { $("#main").html(data); }); });
  $(".link_profile").click(function () { $.get("page/profile.html", function (data) { $("#main").html(data); }); });
  $(".link_administrative").click(function () { $.get("page/administrative.html", function (data) { $("#main").html(data); }); });
  $(".link_judicial").click(function () { $.get("page/judicial.html", function (data) { $("#main").html(data); }); });
  $(".link_extrajudicial").click(function () { $.get("page/extrajudicial.html", function (data) { $("#main").html(data); }); });
  $(".link_calendar").click(function () { $.get("page/calendar.html", function (data) { $("#main").html(data); }); });
</script>