<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title">Table</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <a href="table.html">table <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">
  <fieldset>
    <h3>Table</h3><br>
    <div class="row-fluid">
      <div class="col-6">
        <div class="overflow-x">
          <table class="table">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td class="td-focus" data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td class="td-focus" data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td class="td-focus" data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-border">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-line">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-block">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-header">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-6">
        <div class="overflow-x">
          <table class="table-secondary">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  </fieldset>

  <fieldset>
    <h3>Table Cores</h3><br>
    <div class="row-fluid">
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-light">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td class="td-focus" data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td class="td-focus" data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td class="td-focus" data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-success">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-info">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-alert">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="col-6">
        <div class="overflow-x">
          <table class="table-error">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-6">
        <div class="overflow-x">
          <table class="table-dark">
            <thead>
              <tr>
                <th class="tw-2">#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Fone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Guilherme</td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Mariana</td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
              <tr>
                <td data-label=""><b class="ico-mail"></b></td>
                <td data-label="Nome:">Renato</td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td data-label="Número:">62 9 9999-9999</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  </fieldset>

  <fieldset>
    <h3>Table Responsive</h3>
    <table class="table-responsive">
      <thead>
        <tr>
          <th class="tw-2">#</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Fone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label=""><b class="ico-mail"></b></td>
          <td class="td-focus" data-label="Nome:">Guilherme</td>
          <td data-label="E-mail:">guilherme@exemple.com.br</td>
          <td data-label="Número:">62 9 9999-9999</td>
        </tr>
        <tr>
          <td data-label=""><b class="ico-mail"></b></td>
          <td class="td-focus" data-label="Nome:">Mariana</td>
          <td data-label="E-mail:">mariana@exemple.com.br</td>
          <td data-label="Número:">62 9 9999-9999</td>
        </tr>
        <tr>
          <td data-label=""><b class="ico-mail"></b></td>
          <td class="td-focus" data-label="Nome:">Renato</td>
          <td data-label="E-mail:">renato@exemple.com.br</td>
          <td data-label="Número:">62 9 9999-9999</td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <h3>Table Small</h3>
    <div class="overflow-x">
      <table class="table table-small">
        <thead>
          <tr>
            <th class="tw-2">#</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Fone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label=""><b class="ico-mail"></b></td>
            <td class="td-focus" data-label="Nome:">Guilherme</td>
            <td data-label="E-mail:">guilherme@exemple.com.br</td>
            <td data-label="Número:">62 9 9999-9999</td>
          </tr>
          <tr>
            <td data-label=""><b class="ico-mail"></b></td>
            <td class="td-focus" data-label="Nome:">Mariana</td>
            <td data-label="E-mail:">mariana@exemple.com.br</td>
            <td data-label="Número:">62 9 9999-9999</td>
          </tr>
          <tr>
            <td data-label=""><b class="ico-mail"></b></td>
            <td class="td-focus" data-label="Nome:">Renato</td>
            <td data-label="E-mail:">renato@exemple.com.br</td>
            <td data-label="Número:">62 9 9999-9999</td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

</div>
