<!-- HEADER -->
<div class="page-header pl-grid">
  <h2 class="page-header-title">Gráficos</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>charts <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="chart.html">graficos <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content-center">

  <fieldset>
    <h3>Gráfico Barra</h3><br>

    <div class="chart-bar box-line">
      <div class="chart-title">
        Browser market share June 2018
      </div>
      <div class="row">
        <div class="col-m-4 col-3">
          <div class="chart-text">IE 11: 11.33%<b class="ticks-right bg-success-dark"></b></div>
          <div class="chart-text">Chrome: 49.77%<b class="ticks-right bg-success"></b></div>
          <div class="chart-text">Firefox: 16.09%<b class="ticks-right bg-error-dark"></b></div>
          <div class="chart-text">Safari: 5.41%<b class="ticks-right bg-error"></b></div>
          <div class="chart-text">Opera: 1.62%<b class="ticks-right bg-alert-dark"></b></div>
          <div class="chart-text">Android 4.4: 2%<b class="ticks-right bg-alert"></b></div>
        </div>
        <div class="col-m-8 col-9">
          <div class="chart-col">
            <span class="chart-percentage bg-success-dark per-x-11"></span>
          </div>
          <div class="chart-col">
            <span class="chart-percentage bg-success per-x-49"></span>
          </div>
          <div class="chart-col">
            <span class="chart-percentage bg-error-dark per-x-16"></span>
          </div>
          <div class="chart-col">
            <span class="chart-percentage bg-error per-x-5"></span>
          </div>
          <div class="chart-col">
            <span class="chart-percentage bg-alert-dark per-x-4"></span>
          </div>
          <div class="chart-col">
            <span class="chart-percentage bg-alert per-x-1"></span>
          </div>
        </div>
      </div>
    </div>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Gráfico Pico</h3><br>

    <div class="chart-pico box-line">
      <div class="chart-title">
        Browser market share June 2018
      </div>
      <div class="row">
        <div class="chart-row col-m-9 col-8">
          <div class="chart-col">
            <span class="chart-value">11.33%</span>
            <span class="chart-percentage bg-success per-y-11"></span>
          </div>
          <div class="chart-col">
            <span class="chart-value">49.77%</span>
            <span class="chart-percentage bg-error per-y-49"></span>
          </div>
          <div class="chart-col">
            <span class="chart-value">16.09%</span>
            <span class="chart-percentage bg-alert per-y-16"></span>
          </div>
          <div class="chart-col">
            <span class="chart-value">5.41%</span>
            <span class="chart-percentage bg-gray-dark per-y-5"></span>
          </div>
          <div class="chart-col">
            <span class="chart-value">1.62%</span>
            <span class="chart-percentage bg-secondary per-y-4 "></span>
          </div>
          <div class="chart-col">
            <span class="chart-value">2%</span>
            <span class="chart-percentage bg-primary per-y-1"></span>
          </div>
        </div>
        <div class="col-m-3 col-4">
          <div class="chart-text"><b class="ticks-left bg-success"></b>IE 11: 11.33%</div>
          <div class="chart-text"><b class="ticks-left bg-error"></b>Chrome: 49.77%</div>
          <div class="chart-text"><b class="ticks-left bg-alert"></b>Firefox: 16.09%</div>
          <div class="chart-text"><b class="ticks-left bg-gray-dark"></b>Safari: 5.41%</div>
          <div class="chart-text"><b class="ticks-left bg-secondary"></b>Opera: 1.62%</div>
          <div class="chart-text"><b class="ticks-left bg-primary"></b>Android 4.4: 2%</div>
        </div>
      </div>
    </div>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Gráfico Quarterly</h3><br>

    <div class="chart box-line">

      <div class="chart-title">Quarterly Resultados</div>

      <div class="row">
        <div class="chart-text"><b class="ticks-left bg-success-dark"></b>IE 11: 11.33%</div>
        <div class="chart-text"><b class="ticks-left bg-success"></b>Chrome: 49.77%</div>
        <div class="chart-text"><b class="ticks-left bg-error-dark"></b>Firefox: 16.09%</div>
        <div class="chart-text"><b class="ticks-left bg-error"></b>Safari: 5.41%</div>
        <div class="chart-text"><b class="ticks-left bg-alert-dark"></b>Opera: 1.62%</div>
        <div class="chart-text"><b class="ticks-left bg-alert"></b>Android 4.4: 2%</div>
      </div>

      <table class="chart-quarterly">

        <thead>
          <tr>
            <th class="per-yx-40">90</th>
            <th class="per-yx-40">70</th>
            <th class="per-yx-40">50</th>
            <th class="per-yx-40">30</th>
            <th class="per-yx-40">10</th>
          </tr>
        </thead>

        <tbody>
          <tr class="qtr" id="q1">
            <th scope="row">Q1</th>
            <td class="bg-success-dark per-y-18">18,4</td>
            <td class="bg-success per-y-16">16,5</td>
          </tr>
          <tr class="qtr" id="q2">
            <th scope="row">Q2</th>
            <td class="bg-error-dark per-y-34">34,3</td>
            <td class="bg-error per-y-32">32,3</td>
          </tr>
          <tr class="qtr" id="q3">
            <th scope="row">Q3</th>
            <td class="bg-alert-dark per-y-43">43,1</td>
            <td class="bg-alert per-y-32">32,2</td>
          </tr>
        </tbody>
      </table>

      <!-- <div id="ticks">
        <div class="tick" style="height: 59px;"><p>$50,000</p></div>
        <div class="tick" style="height: 59px;"><p>$40,000</p></div>
        <div class="tick" style="height: 59px;"><p>$30,000</p></div>
        <div class="tick" style="height: 59px;"><p>$20,000</p></div>
        <div class="tick" style="height: 59px;"><p>$10,000</p></div>
      </div> -->

    </div>

  </fieldset>

  <fieldset>
    <h3>Gráfico Donut</h3><br>

    <div class="row-fluid">

      <div class="box col-m-12 col-6">
        <div class="box-line chart">
          <div class="chart-title">Donut Resultados 1</div>
          <div class="row row-center">

            <div class="col-m-6 col-6">
              <div class="chart-donut">
                <div class="chart-recorte porcion-0">
                  <div class="chart-quesito bg-success porcion-21" data-rel="21"></div>
                </div>
                <div class="chart-recorte porcion-21">
                  <div class="chart-quesito bg-error porcion-39" data-rel="39"></div>
                </div>
                <div class="chart-recorte porcion-60">
                  <div class="chart-quesito bg-alert porcion-31" data-rel="31"></div>
                </div>
                <div class="chart-recorte porcion-91">
                  <div class="chart-quesito bg-primary porcion-9" data-rel="9"></div>
                </div>
                <span class="chart-center">JUN<br>2018</span></span>
              </div>
            </div>

            <div class="col-m-6 col-6">
              <div class="chart-text"><b class="ticks-left bg-success"></b>iOS 21%</div>
              <div class="chart-text"><b class="ticks-left bg-error"></b>Mac 39%</div>
              <div class="chart-text"><b class="ticks-left bg-alert"></b>Linux 9%</div>
              <div class="chart-text"><b class="ticks-left bg-secondary"></b>Win 31%</div>
            </div>

          </div>
        </div>
      </div>

      <div class="box col-m-12 col-6">
        <div class="box-line chart">
          <div class="chart-title">Donut Resultados 2</div>
          <div class="row row-center">

            <div class="col-m-6 col-6">
              <div class="chart-donut">
                <div class="chart-recorte porcion-0">
                  <div class="chart-quesito bg-success porcion-76" data-rel="21"></div>
                </div>
                <div class="chart-recorte porcion-76">
                  <div class="chart-quesito bg-error porcion-140" data-rel="39"></div>
                </div>
                <div class="chart-recorte porcion-215">
                  <div class="chart-quesito bg-alert porcion-113" data-rel="31"></div>
                </div>
                <div class="chart-recorte porcion-328">
                  <div class="chart-quesito bg-primary porcion-32" data-rel="9"></div>
                </div>
                <div class="chart-center">JUN<br>2018</div>
              </div>
            </div>

            <div class="col-m-6 col-6">
              <div class="chart-text"><b class="ticks-left bg-success"></b>iOS 21%</div>
              <div class="chart-text"><b class="ticks-left bg-error"></b>Mac 39%</div>
              <div class="chart-text"><b class="ticks-left bg-alert"></b>Linux 9%</div>
              <div class="chart-text"><b class="ticks-left bg-secondary"></b>Win 31%</div>
            </div>

          </div>
        </div>
      </div>

      <div class="box col-m-12 col-6">
        <div class="box-line chart">
          <div class="chart-title">Donut Resultados 3</div>
          <div class="row row-center">

            <div class="col-m-6 col-6">
              <div class="chart-donut">
                <div class="chart-recorte porcion-0">
                  <div class="chart-quesito bg-success porcion-21" data-rel="21"></div>
                </div>
                <span class="chart-center">JUN<br>2018</span>
              </div>
            </div>

            <div class="col-m-6 col-6">
              <div class="chart-text"><b class="ticks-left bg-success"></b>iOS 21%</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <h3>Gráfico Linha</h3><br>

    <div class="chart box-line">
      <div class="chart-title">Linha Resultados</div>

      <div class="row">
        <div class="chart-text"><b class="ticks-left bg-success"></b>iOS 21%</div>
        <div class="chart-text"><b class="ticks-left bg-error"></b>Mac 39%</div>
        <div class="chart-text"><b class="ticks-left bg-alert"></b>Linux 9%</div>
        <div class="chart-text"><b class="ticks-left bg-primary"></b>Win 31%</div>
      </div>
      <div class="chart-line per-yx-10 bg-gray">
          <span class="bg-success per-yx-10 per-x-21"></span>
      </div>
      <div class="chart-line per-yx-10 bg-gray">
          <span class="bg-error per-yx-10 per-x-39"></span>
      </div>
      <div class="chart-line per-yx-10 bg-gray">
          <span class="bg-alert per-yx-10 per-x-9"></span>
      </div>
      <div class="chart-line per-yx-10 bg-gray">
          <span class="bg-primary per-yx-10 per-x-31"></span>
      </div>
    </div>
  </fieldset>

</div>
