$cor-white: #fff;
.bg-white{background: $cor-white;}
.text-white{color: $cor-white;}

$cor-black: #131e26;
.bg-black{background: $cor-black;}
.text-black{color: $cor-black;}
$cor-black-dark: #020304;
.bg-black-dark{background: $cor-black-dark;}
.text-black-dark{color: $cor-black-dark;}
$cor-black-light: #243948;
.bg-black-light{background: $cor-black-light;}
.text-black-light{color: $cor-black-light;}

$cor-gray: #CFD7DD;
.bg-gray{background: $cor-gray;}
.text-gray{color: $cor-gray;}
$cor-gray-dark: #595959;
.bg-gray-dark{background: $cor-gray-dark;}
.text-gray-dark{color: $cor-gray-dark;}
$cor-gray-light: #f9fbfd;
.bg-gray-light{background: $cor-gray-light;}
.text-gray-light{color: $cor-gray-light;}

$cor-success: #4caf50;
.bg-success{background: $cor-success;}
.text-success{color: $cor-success;}
$cor-success-dark: #009688;
.bg-success-dark{background: $cor-success-dark;}
.text-success-dark{color: $cor-success-dark;}
$cor-success-light: #bff9c2;
.bg-success-light{background: $cor-success-light;}
.text-success-light{color: $cor-success-light;}

$cor-alert: #ff9800;
.bg-alert{background: $cor-alert;}
.text-alert{color: $cor-alert;}
$cor-alert-dark: #ee720e;
.bg-alert-dark{background: $cor-alert-dark;}
.text-alert-dark{color: $cor-alert-dark;}
$cor-alert-light: #fdf4a3;
.bg-alert-light{background: $cor-alert-light;}
.text-alert-light{color: $cor-alert-light;}

$cor-error: #f44336;
.bg-error{background: $cor-error;}
.text-error{color: $cor-error;}
$cor-error-dark: #cc094f;
.bg-error-dark{background: $cor-error-dark;}
.text-error-dark{color: $cor-error-dark;}
$cor-error-light: #f9d6d4;
.bg-error-light{background: $cor-error-light;}
.text-error-light{color: $cor-error-light;}

$cor-info: #2196f3;
.bg-info{background: $cor-info;}
.text-info{color: $cor-info;}
$cor-info-dark: #116f99;
.bg-info-dark{background: $cor-info-dark;}
.text-info-dark{color: $cor-info-dark;}
$cor-info-light: #cae5fb;
.bg-info-light{background: $cor-info-light;}
.text-info-light{color: $cor-info-light;}

$shadow: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);
$shadow-3: rgba(0, 0, 0, 0.3);
$shadow-4: rgba(0, 0, 0, 0.4);
$shadow-5: rgba(0, 0, 0, 0.5);

.cor-auxiliar {
  background-color: #E64C65;
  background-color: #11A8AB;
  background-color: #4FC4F6;
  background-color: #FCB150;
}
