.theme{
    &-front{
        --background: #fff;
        --color: #747474;
        --base-1: #fff;
        --base-2: #f9fbfd;
        --base-3: #CFD7DD;
        --base-4: #a8acaf;
        --shadow-1: rgba(0, 0, 0, 0.1);
        --shadow-2: rgba(0, 0, 0, 0.2);
        --header-1: #fff;
        --header-2: #2f3541;
        --header-3: #f19021;
        --menu-1: #fff;
        --menu-2: #2f3541;
        --menu-3: #f19021;
        --menu-4: #f9fbfd;
        --primary: #2f3541;
        --primary-light: #3d4557;
        --primary-dark: #000;
        --secondary: #f19021;
        --secondary-light: #ff9800;
        --secondary-dark: #ef6a21;
        --logo-1: #a8acaf;
        --logo-2: #f19021;
        --grid: 30px;
        --text: 'Montserrat', sans-serif;
        --title: 'Open Sans', sans-serif;
        --simbol: 'Font-icons';
        --calha: 2em;
        --border: 10px;
        --border-radius: 4px;
        --card-text: var(--color);
    }
    &-white{
        --background: #F5F5F5;
        --color: #747474;
        --base-1: #fff;
        --base-2: #{$cor-gray-light};
        --base-3: #{$cor-gray};
        --base-4: #a8acaf;
        --shadow-1: #{$shadow};
        --shadow-2: #{$shadow-2};
        --header-1: #fff;
        --header-2: #747474;
        --header-3: #0066cc;
        --menu-1: #fff;
        --menu-2: #747474;
        --menu-3: #0066cc;
        --menu-4: #{$cor-gray-light};
        --primary: #2f3541;
        --primary-light: #3d4557;
        --primary-dark: #000;
        --secondary: #0066cc;
        --secondary-light: #2196f3;
        --secondary-dark: #022473;
        --logo-1 : #2f3541;
        --logo-2 : #0066cc;
        --grid : 30px;
        --text: 'Montserrat', sans-serif;
        --title: 'Open Sans', sans-serif;
        --simbol: 'Font-icons';
        --calha: 2em;
        --border: 10px;
        --border-radius : 4px;
        --card-text : var(--color);
    }
    &-primary{
        --background: #fff;
        --color: #000;
        --base-1: #{$cor-white};
        --base-2: #{$cor-gray-light};
        --base-3: #{$cor-gray};
        --base-4: #747474;
        --shadow-1: #{$shadow};
        --shadow-2: #{$shadow-2};
        --header-1: #fff;
        --header-2: #000;
        --header-3: #0066cc;
        --menu-1: #000;
        --menu-2: #fff;
        --menu-3: #0066cc;
        --menu-4: #111115;
        --primary: #2f3541;
        --primary-light: #3d4557;
        --primary-dark: #000;
        --secondary: #0066cc;
        --secondary-light: #0066cc;
        --secondary-dark: #022473;
        --logo-1 : #fff;
        --logo-2 : #0066cc;
        --grid : 30px;
        --text: 'OpenSans', sans-serif;
        --title: 'Open Sans', sans-serif;
        --simbol: 'Font-icons';
        --calha: 2em;
        --border: 10px;
        --border-radius : 4px;
        --card-text : var(--color);
    }
    &-dark{
        --background: var(--base-1);
        --color: #fff;
        --base-1: #141A28;
        --base-2: #1b2337;
        --base-3: #33425e;
        --base-4: #{$cor-white};
        --shadow-1: #{$shadow-5};
        --shadow-2: #{$shadow-5};
        --header-1: var(--base-1);
        --header-2: #fff;
        --header-3: #{$cor-white};
        --menu-1: #1E2738;
        --menu-2: #CDCFD4;
        --menu-3: #{$cor-white};
        --menu-4: var(--base-1);
        --primary: #0d3dae;
        --primary-light: #0b328d;
        --primary-dark: #022473;
        --secondary: #0066cc;
        --secondary-light: #3d78f0;
        --secondary-dark: #2150ab;
        --logo-1 : #fff;
        --logo-2 : #0066cc;
        --grid : 30px;
        --text: 'OpenSans', sans-serif;
        --title: 'Open Sans', sans-serif;
        --simbol: 'Font-icons';
        --calha: 2em;
        --border: 10px;
        --border-radius : 4px;
        --card-text : var(--base-1);
    }
    
}

.bg-background{background: var(--background);}
.text-background{color: var(--background);}

$cor-primary: var(--primary);
.bg-primary{background: var(--primary);}
.text-primary{color: var(--primary);}
$cor-primary-dark: var(--primary-dark);
.bg-primary-dark{background: var(--primary-dark);}
.text-primary-dark{color: var(--primary-dark);}
$cor-primary-light: var(--primary-light);
.bg-primary-light{background: var(--primary-light);}
.text-primary-light{color: var(--primary-light);}

$cor-secondary: var(--secondary);
.bg-secondary{background: var(--secondary);}
.text-secondary{color: var(--secondary);}
$cor-secondary-dark: var(--secondary-dark);
.bg-secondary-dark{background: var(--secondary-dark);}
.text-secondary-dark{color: var(--secondary-dark);}
$cor-secondary-light:var(--secondary-light);
.bg-secondary-light{background: var(--secondary-light);}
.text-secondary-light{color: var(--secondary-light);}