$texto: 'OpenSans', sans-serif;
$simbolo: 'Font-icons';
$calha: 2em;
$border: 10px;
$border-radius : 4px;
$z: (
    content,
    menu,
    drop,
    modal,
    alert,
    tooltip
);
$break-xs: 480px;
$break-s: 767px;
$break-xm: 1024px;
$break-m: 1140px;
$break-xl: 1280px;
$break-l: 1366px;
