


.accordion{
  margin-bottom: calc(var(--grid)/2);
  
  
  
  &-box{
    position: relative;
  }
  
  
  
  &-header{
    display: block;
    padding: calc(var(--grid)/2);
    cursor: pointer;
  }
  
  
  
  &-ico{
    font-family: 'mp-icons' !important;
    &::after{
      content: "\ea1e";
      opacity: 1;
      position: absolute;
    }
    &::before{
      content: "\ea01";
      color: var(--secondary);
      opacity: 0;
      position: absolute;
    }
  }
  
  
  
  &-container{
    display: none;
    animation: fadeIn 1s;
  }
  
  
  
  &-input{
    display: none;

    &:checked{

      ~ .accordion-container{
        display: block;
      }

      ~ .accordion-header .accordion-ico{
        &::after{
          opacity: 0;
        }
        &::before{
          opacity: 1;
        }
      }
      ~ .accordion-header .accordion-title{
        color: var(--secondary);
      }

    }
  }
}



.accordion{
  
  
  
  &-title{
    padding: 0;
    padding-right: 55px;
  }
  
  
  
  &-ico{
    position: absolute;
    top: calc(var(--grid)/2);
    right: 30px;
  }
  
  
  
  &-content{
    padding: calc(var(--grid)/2);
  }
}



.accordion-list{
  
  
  
  .accordion-title{
    padding: 0;
    padding-left: 55px;
  }
  
  
  
  .accordion-ico{
    position: absolute;
    top: calc(var(--grid)/2);
    left: calc(var(--grid)/2);
  }
  
  
  
  .accordion-content{
    padding: calc(var(--grid)/2) calc(var(--grid)/2) calc(var(--grid)/2) 70px;
  }
}
