.alert{
  font-size: .9em;
  border: 1px solid;
  border-left: 4px solid;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
    
  &-info{
    animation: fadeIn .5s;
  }

  &-success{
    animation: fadeLeft .5s;
  }
  
  &-alert{
    animation: fadeRight .5s;
  }
  
  &-error{
    animation: fadeTop .5s;
  }
  
  &-box{
    animation: fadeIn .5s;
  }
  
  em{
    font-size: 1.2em;
    font-weight: 600;
  }
}



.alert{
  
  &-info{
    @extend .alert;
    color: $cor-info;
    border-color: $cor-info-light;
    
    .bt-close{
      color: $cor-info;
      &:hover{
        color: $cor-black-light;
      }
    }
    
    &-block{
      @extend .alert-info;
      color: $cor-info;
      background: $cor-info-light;
      border-left-color: $cor-info;
      
      .bt-close{
        color: $cor-info;
      }
    }
  }
  
  &-success{
    @extend .alert;
    color: $cor-success;
    border-color: $cor-success-light;
    
    .bt-close{
      color: $cor-success-dark;
      &:hover{
        color: $cor-black-light;
      }
    }
    
    &-block{
      @extend .alert-success;
      color: $cor-success;
      background: $cor-success-light;
      border-left-color: $cor-success;
      
      .bt-close{
        color: $cor-success;
      }
    }
  }
  
  &-alert{
    @extend .alert;
    color: $cor-alert;
    border-color: $cor-alert-light;
    
    .bt-close{
      color: $cor-alert-dark;
      &:hover{
        color: $cor-black-light;
      }
    }
    
    &-block{
      @extend .alert-alert;
      color: $cor-alert;
      background: $cor-alert-light;
      border-left-color: $cor-alert;
      
      .bt-close{
        color: $cor-alert;
      }
    }
  }
  
  &-error{
    @extend .alert;
    color: $cor-error;
    border-color: $cor-error-light;
    
    .bt-close{
      color: $cor-error-dark;
      &:hover{
        color: $cor-black-light;
      }
    }
    
    &-block{
      @extend .alert-error;
      color: $cor-error;
      background: $cor-error-light;
      border-left-color: $cor-error;
      
      .bt-close{
        color: $cor-error;
      }
    }
  }
  
  &-box{
    @extend .alert;
    border-color: var(--base-3);
    
    &-block{
      @extend .alert;
      background: var(--base-3);
      border-color: var(--base-3);
      border-left-color: var(--base-4);
    }
  }
}

.alert-action{
  padding-right: 35px;

  .bt-close{
    padding: 10px;
  }
}
