//==============================================================================
// FADE-IN
//==============================================================================
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//==============================================================================
// FADE-OUT
//==============================================================================
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
//==============================================================================
// FADE-TOP
//==============================================================================
@keyframes fadeTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
//==============================================================================
// FADE-BOTTOM
//==============================================================================
@keyframes fadeBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
//==============================================================================
// FADE-LEFT
//==============================================================================
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
//==============================================================================
// FADE-LEFT
//==============================================================================
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
//==============================================================================
// ROTATE
//==============================================================================
@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateLeft {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(-360deg);
  }
}
//==============================================================================
// SCALE
//==============================================================================
@keyframes scaleIn {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleOut {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(0);
  }
}
//==============================================================================
// ANIMATION
//==============================================================================
// ANIMATION | in
//------------------------------------------------------------------------------
.animate-in{
  animation: fadeIn 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | out
//------------------------------------------------------------------------------
.animate-out{
  animation: fadeOut 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | top
//------------------------------------------------------------------------------
.animate-top{
  animation: fadeTop 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | bottom
//------------------------------------------------------------------------------
.animate-bottom{
  animation: fadeBottom 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | Left
//------------------------------------------------------------------------------
.animate-left{
  animation: fadeLeft 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | Right
//------------------------------------------------------------------------------
.animate-right{
  animation: fadeRight 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | Rotate | right
//------------------------------------------------------------------------------
.animate-rotate-r{
  animation: rotate 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | Rotate | left
//------------------------------------------------------------------------------
.animate-rotate-l{
  animation: rotateLeft 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | scale | in
//------------------------------------------------------------------------------
.animate-scale-in{
  animation: scaleIn 1s;
}
//------------------------------------------------------------------------------
// ANIMATION | scale | out
//------------------------------------------------------------------------------
.animate-scale-out{
  animation: scaleOut 1s;
}
//==============================================================================
// ANIMATE | button
//==============================================================================
// ANIMATE | button | Left
//------------------------------------------------------------------------------
.bt-animate-left{
  @keyframes btLeft {
    0% {
      right: 0;
    }
    50% {
      right: 5px;
    }
    100% {
      right: 0;
    }
  }
  b{
    position: relative;
  }
  &:hover{
    .ico-arrow-left{
      animation: btLeft infinite 1s;
    }
  }
}
//------------------------------------------------------------------------------
// BUTTON ANIMATE | button | Right
//------------------------------------------------------------------------------
.bt-animate-right{
  @keyframes btRight {
    0% {
      left: 0;
    }
    50% {
      left: 5px;
    }
    100% {
      left: 0;
    }
  }
  b{
    position: relative;
  }
  &:hover{
    .ico-arrow-right{
      animation: btRight infinite 1s;
    }
  }
}