.box{
  transition: .5s;
  &-ico{
    font-size: 2em;
    transition: .5s;
  }
  &-title{
    margin-top: 20px;
  }
  &-text{
    margin-top: calc(var(--grid)/2);
  }
  &-divider{
    display: block;
    width: 50px;
    height: 3px;
    background: var(--secondary);
    margin-top: calc(var(--grid)/2);
    transition: all .5s;
  }
}



.box{
  padding: calc(var(--grid)/2);
  
  &-two{
    padding: calc(var(--grid)/2);
    transition: .5s;

    @media screen and (min-width: $break-s){
      padding: var(--grid);
    }
  }
  &-block{
    background: var(--base-1);
  }
  &-line{
    @extend .box;
    border: 1px solid var(--base-3);
    transition: all 1s;
  }

  &-modern{
    @extend .box;
    border: 4px solid var(--base-3);
    padding: calc(var(--grid)/2);
    transition: .5s;
    @media screen and (min-width: $break-s){
      padding: var(--grid);
    }
  }
  
  &-shadow{
    @extend .box;
    box-shadow: 0 0 calc(var(--grid)/2) var(--base-3);
  }

  &-primary{
    @extend .box;
    background: var(--primary);
    color: $cor-white;
  }

  &-secondary{
    @extend .box;
    background: var(--secondary);
    color: $cor-white;
  }

  &-hover{
    &:hover{
      background: var(--base-1);
    }

    &-block{
      &:hover{
        background: var(--base-2);
      }
    }
    &-line{
      &:hover{
        border-color: var(--secondary);
      }
    }
  
    &-modern{
      &:hover{
        border-color: var(--secondary);
      }
    }
    
    &-shadow{
      &:hover{
        box-shadow: 0 0 var(--grid) var(--secondary);
      }
    }
  
    &-primary{
      &:hover{
        background: var(--primary-light);
      }
    }
  
    &-secondary{
      &:hover{
        background: var(--secondary-light);
      }
    }
  }
}
