.box{
  transition: .5s;
  &-ico{
    font-size: 2em;
    transition: .5s;
  }
  &-title{
    margin-top: 20px;
  }
  &-text{
    margin-top: calc(var(--grid)/2);
  }
  &-divider{
    display: block;
    width: 50px;
    height: 3px;
    background: var(--secondary);
    margin-top: calc(var(--grid)/2);
    transition: all .5s;
  }
}



.box{
  padding: calc(var(--grid)/2);
  
  &-two{
    padding: calc(var(--grid)/2);
    transition: .5s;

    @media screen and (min-width: $break-s){
      padding: var(--grid);
    }
  }
  &-block{
    background: var(--base-1);
    padding: calc(var(--grid)/2);
  }
  &-line{
    @extend .box;
    border: 1px solid var(--base-3);
    transition: all 1s;
  }

  &-modern{
    @extend .box;
    border: 4px solid var(--base-3);
    padding: calc(var(--grid)/2);
    transition: .5s;
    @media screen and (min-width: $break-s){
      padding: var(--grid);
    }
  }
  
  &-shadow{
    @extend .box;
    box-shadow: 0 0 calc(var(--grid)/2) var(--base-3);
  }

  &-primary{
    @extend .box;
    background: var(--primary);
    color: $cor-white;
  }

  &-secondary{
    @extend .box;
    background: var(--secondary);
    color: $cor-white;
  }

  &-hover{
    &:hover{
      background: var(--base-1);
    }

    &-block{
      &:hover{
        background: var(--base-2);
      }
    }
    &-line{
      &:hover{
        border-color: var(--secondary);
      }
    }
  
    &-modern{
      &:hover{
        border-color: var(--secondary);
      }
    }
    
    &-shadow{
      &:hover{
        box-shadow: 0 0 var(--grid) var(--secondary);
      }
    }
  
    &-primary{
      &:hover{
        background: var(--primary-light);
      }
    }
  
    &-secondary{
      &:hover{
        background: var(--secondary-light);
      }
    }
  }
}

.box-hidden{
  position: relative;

  &-container{
    max-height: 80px;
    padding-bottom: calc(var(--grid)/2);
    overflow: hidden;
    transition: all .5s;
  }

  [data-box]{
    &::after{
      display: none;
      content: attr(data-box);
    }
  }

  &-label{
    position: relative;
    padding-left: calc(var(--grid)/2);
    em{position: absolute; left: 0;}
  }

  &-footer{
    display: flex;
    align-items: end;
    background: linear-gradient(0deg, var(--background) 20%, transparent);
    padding: var(--grid) calc(var(--grid)/2) calc(var(--grid)/2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
  }

  &-input {
    display: none;

    &:checked{
      ~ .box-hidden-container{
        max-height: initial;
      }

      ~ .box-hidden-footer{
          background: var(--background);
          padding: calc(var(--grid)/2);
          top: initial;

          .box-hidden-label{
            span{display: none;}
            &::after{display: inline;}
            em{transform: rotate(180deg);}
          }
      }
    }
  }
}
