.crumbs{
  @include list-simple;
  display: inline-flex;
  
  li{
    
    display: flex;
    align-items: center;
    padding-left: .3rem;

    &::before{
      content: "/";
      font-size: .75rem;
      margin-right: .3rem;
    }

    &:first-child{
      &::before{
        display: none;
      }
    }
  }
  
  a, p{
    display: block;
    color: var(--color);
    text-decoration: none;
    margin: 0;

  }
  
  a{
    &:hover{
      color: var(--secondary);
    }
  }
  
  b{
    font-size: .8em;
    margin-left: 5px;
    position: relative;
    top: -1px;
  }
}
