.header {
  --max-width : 255px;
  --max-height : 60px;

  width: 100%;
  background: var(--header-1);
  color: var(--header-2);
  position: fixed;
  top: 0;
  z-index: index($z, menu);

  a,
  label {
    color: var(--header-2);

    &:hover {
      color: var(--header-3);
    }
  }

  .dropdown-menu {
    background: var(--header-1);
  }

  &-content {
    height: var(--max-height);
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
    transition: all .5s;
  }

  &-search {
    @include display-flex;
    @include flex-wrap(nowrap);
    position: relative;
    margin: 0 15px;

    input {
      background: var(--header-1);
      width: 100%;
      padding-right: 45px;
      border: 1px solid var(--base-3);
    }

    button,
    a {
      background: transparent;
      color: var(--header-2);
      font-size: 1.1em;
      border: 0;
      padding: 9px 9px 8px;
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        color: var(--header-3) !important;
      }
    }

    &:hover {
      input {
        border: 1px solid var(--header-3);
      }
    }
  }

  &-user {
    @include display-flex;
    cursor: pointer;
  }

  @media screen and (min-width: $break-m) {

    &-content {
      padding-left: var(--max-height);
    }

  }

  @media screen and (min-width: $break-l) {

    &-content {
      padding-left: calc(var(--max-width) + var(--grid));
    }

  }

  @media screen and (max-width: $break-m) {

    .dropdown-content {
      left: calc(100% - 260px);
    }
  }
}