
.menu {
    --max-width : 255px;
    --min-width : 60px;
    --a-link : 10px;
    --l-link : 20px;

    position: fixed;
    width: var(--max-width);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--menu-1);
    transition: all .5s;
    z-index: index($z, menu);
    transform: translateX(-100%);
    top: 0;

    &-logo {
        .fill-1 {
            fill: var(--logo-1);
        }

        .fill-2 {
            fill: var(--logo-2);
        }
    }

    &-brand {
        width: var(--max-width);
        height: var(--min-width);
        display: flex;
        align-items: center;
        padding: calc(var(--l-link)/2);
        padding-right: var(--l-link);

        &-link {
            flex: 1;
        }
    }

    &-label{
        color: var(--menu-2);
        cursor: pointer;
        transition: all .5s;
        transform: translateX(var(--l-link));
        padding: var(--a-link) var(--l-link);

        &:hover{
            color: var(--menu-3);
        }
    }

    &-item {
        [class*="ico-"] {
            display: inline-block;
            font-size: 1.1rem;
            line-height: 25px;
            margin-right: var(--a-link);
        }
        .status{ float: right; padding: 2px 5px;}
        .status-ball{
            width: 8px;
            height: 8px;
            position: absolute;
            top: 6px;
            left: 29px;
        }
    }

    &-title {
        display: block;
        color: var(--menu-2);
        font-size: .65rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: var(--a-link) var(--l-link);
        transition: all .5s;
    }

    &-header {
        width: var(--max-width);
        display: flex;
        align-items: center;
        color: var(--menu-2);
        text-decoration: none;
        padding: var(--a-link) var(--l-link);
        transition: all .5s;
        cursor: pointer;
        position: relative;

        &::after {
            font-family: 'mp-icons' !important;
            margin-left: auto;
            content: "\e98f";
            transition: all .5s;
            position: relative;
            opacity: 0;
        }

        &:hover {
            background: var(--menu-4);
            color: var(--menu-3);
        }
    }

    &-link {
        width: var(--max-width);
        display: block;
        color: var(--menu-2);
        text-decoration: none;
        padding: var(--a-link) var(--l-link);
        transition: all .5s;
        position: relative;

        &:hover {
            background: var(--menu-4);
            color: var(--menu-3);
        }
    }

    &-link-1 {
        @extend .menu-link;
        padding-left: 52px;
    }

    &-link-2 {
        @extend .menu-link;
        padding-left: 62px;
    }

    &-header-1 {
        @extend .menu-header;
        padding-left: 52px;
    }

    &-header-2 {
        @extend .menu-header;
        padding-left: 62px;
    }

    &-content {
        opacity: 0;
        overflow: hidden;
        height: 0;
        position: relative;
        transition: all .5s;
        padding-left: var(--l-link);
    }

    &-input {
        &:checked {
            ~ .menu-header::after {
                transform: rotate(180deg);
            }

            ~ .menu-content {
                height: initial;
                opacity: 1;
                padding-left: 0;
            }
        }
    }

    &:hover {

        .menu-header {

            &::after {
                opacity: 1;
            }
        }

    }

    @media screen and (min-width: $break-m) {
        width: var(--min-width);
        transform: translateX(0);

        span{
            opacity: 0;
            transition: all .5s;
        }

        .menu-input:checked ~ .menu-content{
            opacity: 0;
            height: 0;
        }

        &:hover {
            width: var(--max-width);

            span{opacity: 1;}
            .menu-input:checked ~ .menu-content{opacity: 1; height: initial};
        }
    }

    @media screen and (min-width: $break-l) {
        width: var(--max-width);

        .menu-input:checked ~ .menu-content{opacity: 1; height: initial};

        span{
            opacity: 1;
        }
    }

}

#menu:checked {

    //   ~ .menu-label{
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       right: 0;
    //       bottom: 0;
    //       background: var(--shadow-2);
    //       z-index: index($z, menu);
    //   }

    ~ .menu {
        transform: translateX(0);
    }

    @media screen and (min-width: $break-m) {
        ~ .menu {
            width: var(--max-width);

            span{
                opacity: 1;
            }
            .menu-input:checked ~ .menu-content{opacity: 1; height: initial};
        }

        ~.container-menu {
            margin-left: var(--max-width);
        }

        ~.header .header-content {
            padding-left: var(--max-width);
        }
    }

    @media screen and (min-width: $break-l) {
        ~ .menu {
            width: var(--min-width);

            span{
                opacity: 0;
                transition: all .5s;
            }
            .menu-input:checked ~ .menu-content{opacity: 0; height: 0};

            &:hover {
                width: var(--max-width);

                span{opacity: 1;}
                .menu-input:checked ~ .menu-content{opacity: 1; height: initial};
            }
        }

        ~.container-menu {
            margin-left: var(--max-height);
        }

        ~.header .header-content {
            padding-left: calc(var(--max-height) + var(--grid));
        }
    }

    @media screen and (max-width: $break-m) {

        ~ .menu-close{
            background: var(--shadow-1);
            z-index: index($z, content);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

    }

}