//==============================================================================
// NAV
//==============================================================================
.nav{
  @include display-flex;
  @include flex-wrap(wrap);
  @include list-simple;
  //----------------------------------------------------------------------------
  // NAV | link
  //----------------------------------------------------------------------------
  &-item{
    margin-right: 10px;
    padding-right: 10px;
    &:last-child{
      margin-right: 0;
      padding-right: 0;
    }
  }
  //----------------------------------------------------------------------------
  // NAV | link
  //----------------------------------------------------------------------------
  &-link{
    color: var(--color);
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 15px;
    transition: all .5s;
    cursor: pointer;
    &:hover{
      color: var(--secondary);
    }
  }
  //----------------------------------------------------------------------------
  // NAV | sublink
  //----------------------------------------------------------------------------
  &-sublink{
    color: var(--color);
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 15px;
    cursor: pointer;
    transition: all .5s;
    &:hover{
      color: var(--secondary);
    }
  }
  //----------------------------------------------------------------------------
  // NAV | icolink
  //----------------------------------------------------------------------------
  &-icolink{
    @include display-flex;
    color: var(--color);
    font-size: 1.2em;
    text-decoration: none;
    white-space: nowrap;
    padding: 7px 15px;
    transition: all .5s;
    cursor: pointer;
    &:hover{
      color: var(--secondary);
    }
  }
  //----------------------------------------------------------------------------
  // NAV | link
  //----------------------------------------------------------------------------
  &-link-line{
    @extend .nav-link;
    border: 1px solid var(--color);
  }
}
//==============================================================================
// NAV LINE
//------------------------------------------------------------------------------
.nav-line{
  @extend .nav;

  &-item{
    border-right: 1px solid var(--base-3);
    margin-right: 10px;
    padding-right: 10px;
    &:last-child{
      border: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }
}
//==============================================================================
// NAV BALL
//------------------------------------------------------------------------------
.nav-ball{
  @extend .nav;

  &-item{
    padding-right: 10px;
    margin-right: 10px;
    position: relative;

    &:before{
      content: "";
      width: 6px;
      height: 6px;
      background: var(--color);
      border-radius: 50%;
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:last-child{
      margin-right: 0;
      padding-right: 0;
      &:before{
        display: none;
      }
    }
  }
}
//==============================================================================
// NAV TABS
//------------------------------------------------------------------------------
.nav-tabs{
  @extend .nav;
  background: var(--base-3);
  padding: 10px;

  &-item{
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }

  &-label{
    color: var(--secondary);
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    transition: all .5s;
  }

  .active{
    .nav-tabs-label{
      background: var(--secondary);
      color: var(--base-3);
    }
  }
}
//==============================================================================
// NAV SPACE
//------------------------------------------------------------------------------
.nav-space{
  @extend .nav;

  &-item{
    @include flex(1);
  }
}
//==============================================================================
// NAV RIGHT
//------------------------------------------------------------------------------
.nav-right{
  @media screen and (min-width: $break-s){
    @include justify-content(flex-end);
  }
}
.nav-center{
  @include justify-content(center);
}

.nav-sub{
  position: relative;

  &-header{
    display: none;
  }

  &-content{
    display: flex;
    border-top: 1px solid var(--base-3);
    border-bottom: 1px solid var(--base-3);
    margin-bottom: 10px;
  }

  @media screen and (max-width: $break-xm){
    
    &-header{
      display: flex;
      margin-bottom: 10px;
      border-top: 1px solid var(--base-3);
      border-bottom: 1px solid var(--base-3);
    }
    
    &-content{
      display: initial;
      max-width: 280px;
      background: var(--background);
      visibility: hidden;
      opacity: 0;
      border-top: 0;
      border-bottom: 1px solid var(--base-3);
      box-shadow: 0 15px 15px var(--shadow-1);
      margin: 0;
      padding: calc(var(--grid) /3);
      position: absolute;
      top: calc(100% + 13px);
      transition: all .3s;
      z-index: -1;
  
      li{
        border: 0;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
    
    &-menu{
      @include list-simple;
      background: var(--base-1);
      box-shadow: 0 0 10px var(--shadow-2);
      margin-top: 1em;
    }
  
    &-input{
  
      &:checked{
        ~ .nav-sub-content{
          visibility: visible;
          opacity: 1;
          z-index: index($z, drop);
          transform: translateY(-1em);
        }
      }
    }
  }

}
