.nav{
  @include display-flex;
  @include flex-wrap(wrap);
  @include list-simple;  
  &-item{
    margin-right: 10px;
    padding-right: 10px;
    &:last-child{
      margin-right: 0;
      padding-right: 0;
    }
  }
  &-link{
    color: var(--color);
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 15px;
    transition: all .5s;
    cursor: pointer;
    &:hover{
      color: var(--secondary);
    }
  }
  &-sublink{
    color: var(--color);
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 15px;
    cursor: pointer;
    transition: all .5s;
    &:hover{
      color: var(--secondary);
    }
  }
  &-icolink{
    @include display-flex;
    color: var(--color);
    font-size: 1.2em;
    text-decoration: none;
    white-space: nowrap;
    padding: 7px 15px;
    transition: all .5s;
    cursor: pointer;
    &:hover{
      color: var(--secondary);
    }
  }
  &-link-line{
    @extend .nav-link;
    border: 1px solid var(--color);
  }
}
.nav-line{
  @extend .nav;

  &-item{
    border-right: 1px solid var(--base-3);
    margin-right: 10px;
    padding-right: 10px;
    &:last-child{
      border: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }
}
.nav-ball{
  @extend .nav;

  &-item{
    padding-right: 10px;
    margin-right: 10px;
    position: relative;

    &:before{
      content: "";
      width: 6px;
      height: 6px;
      background: var(--color);
      border-radius: 50%;
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:last-child{
      margin-right: 0;
      padding-right: 0;
      &:before{
        display: none;
      }
    }
  }
}
.nav-tabs{
  @extend .nav;
  background: var(--base-3);
  padding: 10px;

  &-item{
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }

  &-label{
    color: var(--secondary);
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    transition: all .5s;
  }

  .active{
    .nav-tabs-label{
      background: var(--secondary);
      color: var(--base-3);
    }
  }
}
.nav-space{
  @extend .nav;

  &-item{
    @include flex(1);
  }
  @media screen and (max-width: $break-xm){
    flex-direction: column;
  }
}
.nav-right{
  @media screen and (min-width: $break-s){
    @include justify-content(flex-end);
  }
}
.nav-center{
  @include justify-content(center);
}

.nav-sub{
  position: relative;

  &-header{
    display: none;
  }

  &-content{
    display: flex;
  }

  @media screen and (max-width: $break-xm){
    
    &-header{
      display: flex;
    }
    
    &-content{
      max-height: 0px;
      visibility: hidden;
      opacity: 0;
      border-top: 0;
      margin: 0;
      transition: all .3s;
      z-index: -1;
  
      li{
        border: 0;
        width: 100%;
        margin: 0;
        padding: 0;

        &::before{
          display: none;
        }
      }

      .dropdown{
        .nav-link, a{
          display: none;
        }
        .dropdown-content{
          opacity: 1;
          visibility: visible;
          background: none;
          box-shadow: none;
          position: relative;
          margin: 0;
          transform: translateY(-100%);
          z-index: inherit;

          .nav-link, a{
            display: block;
          }
        }
      }
    }
    
    &-menu{
      @include list-simple;
      background: var(--base-1);
      box-shadow: 0 0 10px var(--shadow-2);
      margin-top: 1em;
    }
  
    &-input{
  
      &:checked{
        ~ .nav-sub-content{
          max-height: inherit;
          padding-top: calc(var(--grid) /3);
          visibility: visible;
          opacity: 1;
          z-index: index($z, drop);
          // transform: translateY(-1em);
        }
      }
    }
  }

}
