html{
  @include scrollbar;
}
body{
  background: var(--background);
  color: var(--color);
  @include scrollbar;
  font-size: 14px;
  font-family: var(--text);
  animation: 1s fadeIn;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--title);
  margin: 0;
  position: relative;
}
mark, .mark{
  background: var(--secondary);
  color: $cor-white;
}
.text{
  line-height: 1.8em;
  margin: 0;
  margin-bottom: 15px;
}
.blockquote{
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300;
  em{
    display: block;
    font-size: 3em;
  }
}
.text{

  &-center{
    text-align: center;
  }

  &-right{
    text-align: right;
  }

  &-left{
    text-align: left;
  }
  &-space{
    white-space: nowrap;
  }
}
.title{
  font-family: var(--title);
  font-weight: 400;

  &-light{
    @extend .title;
    font-weight: 300;
  }

  &-medium{
    @extend .title;
    font-weight: 500;
  }

  &-semibold{
    @extend .title;
    font-weight: 600;
  }

  &-bold{
    @extend .title;
    font-weight: 700;
  }

  &-extra{
    @extend .title;
    font-weight:800;
  }
}
.plus{
  font-size: 2em;
}
.small{
  font-size: .8em;
}
.block{
  display: block;
  width: 100%;
}
.inline{
  display: inline-block;
}
.uppercase{
  text-transform: uppercase;
}
@for $f from 1 through 72 {
  .fs-#{$f}{
    $value: $f * 1px;
    font-size: $value;
  }
}
@for $lh from 1 through 30 {
  .lh-#{$lh}{
    $value: $lh + 0px;
    line-height: $value;
  }
}
@for $ls from 1 through 10 {
  .ls-#{$ls}{
    $value: $ls + 0px;
    letter-spacing: $value;
  }
}
.link{
  color: var(--secondary);
  transition: .5s;
  cursor: pointer;

  &:hover{
    color: var(--secondary-light);
  }

  &:focus{
    color: var(--secondary-light);
  }
}
.mr-auto{
  margin-right: auto !important;
}
.ml-auto{
  margin-left: auto !important;
}
@for $m from 0 through 100 {
  .mt-#{$m}{
    $value: ($m * 1px);
    margin-top: $value !important;
  }
}
@for $m from 0 through 100 {
  .ml-#{$m}{
    $value: ($m * 1px);
    margin-left: $value !important;
  }
}
@for $m from 0 through 100 {
  .mr-#{$m}{
    $value: ($m * 1px);
    margin-right: $value !important;
  }
}
@for $m from 0 through 100 {
  .mb-#{$m}{
    $value: ($m * 1px);
    margin-bottom: $value !important;
  }
}
.pr-auto{
  padding-right: auto !important;
}
.pl-auto{
  padding-left: auto !important;
}
@for $m from 0 through 100 {
  .pt-#{$m}{
    $value: ($m * 1px);
    padding-top: $value !important;
  }
}
@for $m from 0 through 100 {
  .pl-#{$m}{
    $value: ($m * 1px);
    padding-left: $value !important;
  }
}
@for $m from 0 through 100 {
  .pr-#{$m}{
    $value: ($m * 1px);
    padding-right: $value !important;
  }
}
@for $m from 0 through 100 {
  .pb-#{$m}{
    $value: ($m * 1px);
    padding-bottom: $value !important;
  }
}
.b{



  &-box,&-bx{
    border: 1px solid var(--base-2);
  }



  &-top, &-t{
    border-top: 1px solid var(--base-2);
  }



  &-bottom, &-b{
    border-bottom: 1px solid var(--base-2);
  }



  &-left, &-l{
    border-left: 1px solid var(--base-2);
  }



  &-right, &-r{
    border-right: 1px solid var(--base-2);
  }
}
.hidden{
  display: none;
}
.overflow{
  overflow: auto;

  &-x{
    overflow-x: auto;
  }

  &-y{
    overflow-y: auto;
  }
}
@for $ow from 0 through 1024 {
  .overflow-x-#{$ow}{
    $value: ($ow * 1px);
    overflow-x: $value;
  }
}
@for $oh from 0 through 1024 {
  .overflow-x-#{$oh}{
    $value: ($oh * 1px);
    overflow-y: $value;
  }
}
.user, profile{
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  overflow: hidden;

  position: relative;

  img{
    border-radius: 50%;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  em{
  
    position: absolute;
    top: 0;
    right: 0;
  }
}
.user-p{
  @extend .user;
  width: 32px;
  height: 32px;
}
.list-icons{
  @include list-simple;
  margin-bottom: 20px;



  li{
  
    margin-top: 10px;

    &:first-child{
      margin-top: 0;
    }
  
  
  
    &::before{
      font-family: 'mp-icons' !important;
      content: "\e912";
      display: inline-block;
      min-width: 25px;
      position: relative;
      top: 1px;
    }
  }
}
.list-order{
  @include list-simple;
  margin-bottom: 20px;
  counter-reset: li;



  li{
    display: block;
    margin-top: 10px;

    &:first-child{
      margin-top: 0;
    }
  
  
  
    &::before{
      counter-increment: li;
      content: counter(li) ".";
      display: inline-block;
      min-width: 25px;
      position: relative;
      top: 1px;
    }
  }
}
.list{



  &-clear{
    @include list-simple;

    &-item{
      padding: 10px;
    }
  }



  &-group{
    @include list-simple;

    &-item{
      color: var(--base-4);
      text-decoration: none;
      padding: 15px;
      transition: all .5s;

      &:hover{
        background: var(--base-3);
      }
    }
  }



  &-line{
    @include list-simple;

    &-item{
      border-bottom: 1px solid var(--base-3);
      padding: 10px;

      &:last-child{
        border-bottom: 0;
      }
    }
  }
}
.badges{
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: normal;
  border-radius: 3px;
  border: 1px solid;
  padding: 4px 10px;
}
.status{
  @extend .badges;
  color: $cor-white;
  border: 0;
}
.status{



  &-line{
    @extend .badges;
  }



  &-shadow{
    @extend .badges;
    color: $cor-white;
    border: 0;
    box-shadow: 0 0 5px var(--base-4);
  }



  &-ball{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
.scroll{
  overflow-y: auto;
}
@for $s from 0 through 960 {
  .scroll-#{$s}{
    max-height: calc(#{$s} * 1px);
    overflow-y: auto;
  }
}
.divider{
  width: 100%;
  @include display-flex;
  @include align-items(center);
  flex: 0 1 0%;
  font-size: 12px;
  margin: 2rem auto;
  letter-spacing: 0.5px;
  text-align: center;

  &::before,
  &::after{
    content: '';
    @include flex-grow(1);
    border-top: 1px solid var(--base-3);
  }

  &:before{
    margin-right: 20px;
  }

  &:after{
    margin-left: 20px;
  }
}
