.pagination{
  @include display-flex;
  @include list-simple;
  
  a{
    display: block;
    color: var(--primary);
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    white-space: nowrap;
    border-radius: var(--border-radius);
    padding: calc(var(--grid)/3);
    transition: .5s;
    &:hover{
      color: var(--secondary);
    }
    span{
      display: none;
    }
    
    @media screen and (min-width: $break-m){

      span{
        display: inline-block;
      }
    }
  }
  
  .active{
    color: var(--secondary);
    &:hover{
      color: var(--secondary);
    }
  }
  
  @media screen and (max-width: $break-s){
    @include justify-content(space-between);
  }
}

.pagination-block{
  @extend .pagination;
  
  li{
    margin-left: 5px;
    &:first-child{
      margin-left: 0;
    }
  }

  a{
    background: var(--primary);
    color: $cor-white;
    &:hover{
      background: var(--primary-light);
      color: $cor-white;
    }
  }
  
  .active{
    background: var(--secondary);
    color: $cor-white;
    &:hover{
      background: var(--secondary);
      color: $cor-white;
    }
  }
}



.pagination-line{
  @extend .pagination;
  
  li{
    margin-left: 5px;
    &:first-child{
      margin-left: 0;
    }
  }
  
  a{
    border: 1px solid var(--base-3);
    color: var(--color);
    &:hover{
      border-color: var(--secondary);
      color: var(--secondary);
    }
  }
  
  .active{
    border-color: var(--secondary);
    color: var(--secondary);
    &:hover{
      border-color: var(--secondary);
      color: var(--secondary);
    }
  }
}

.end{
  @include justify-content(flex-end);
}
