
.section {

  &-lg {
    padding: 90px 0;
  }

  &-md {
    padding: 60px 0;
  }

  &-sm {
    padding: 30px 0;
  }
}

.container {
  --max-width : 255px;
  --max-height : 60px;
  
  @include display-flex;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  margin-top: 55px;
  height: calc(100vh - 55px);
  position: relative;
  transition: all .5s;

  @media screen and (min-width: $break-m) {
    margin-top: 70px;
    height: calc(100vh - 70px);
  }
}

.container-menu {
  @extend .container;

  @media screen and (min-width: $break-m) {
    margin-left: var(--max-height);
  }

  @media screen and (min-width: $break-l) {
    margin-left: var(--max-width);
  }
}

.main {
  @include flex(1);
}

.content {
  padding: var(--grid);
  animation: 1s fadeIn;

  &-s{
    @extend .content;
    max-width: $break-s;
    margin: 0 auto;
  }
  &-xm{
    @extend .content;
    max-width: $break-xm;
    margin: 0 auto;
  }
  &-m{
    @extend .content;
    max-width: $break-m;
    margin: 0 auto;
  }
  &-xl{
    @extend .content;
    max-width: $break-xl;
    margin: 0 auto;
  }
  &-l{
    @extend .content;
    max-width: $break-l;
    margin: 0 auto;
  }
}

.content-center {
  @extend .content;
  margin: 0 auto;
  max-width: $break-xl;

  @media screen and (max-width: $break-xm) {
    max-width: $break-xm;
  }
  @media screen and (max-width: $break-s) {
    max-width: $break-s;
  }
}

.page {
  animation: 1s fadeIn;
  padding: var(--grid);

  &-center {
    max-width: $break-xl;
    margin: 0 auto;
    animation: 1s fadeIn;

    @media screen and (max-width: $break-xm) {
      max-width: $break-xm;
    }
    @media screen and (max-width: $break-s) {
      max-width: $break-s;
    }
    
  }

  &-header {
    border-bottom: 1px solid var(--base-3);
    padding-bottom: calc(var(--grid) / 2);

    &-title {
      color: var(--secondary);
      padding: 0;
    }
  }

  &-sub {
    border-bottom: 1px solid var(--base-3);
    margin-bottom: calc(var(--grid) / 2);
  }

}