
.section {

  &-lg {
    padding: 90px 0;
  }

  &-md {
    padding: 60px 0;
  }

  &-sm {
    padding: 30px 0;
  }
}

.container {
  @include display-flex;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  margin-top: 55px;
  height: calc(100vh - 55px);
  position: relative;
  z-index: index($z, content);
  transition: all .5s;

  @media screen and (min-width: $break-m) {
    margin-top: 70px;
    height: calc(100vh - 70px);
  }
}

.container-menu {
  @extend .container;

  @media screen and (min-width: $break-m) {
    margin-left: 50px;
  }

  @media screen and (min-width: $break-l) {
    margin-left: 255px;
  }
}

.main {
  @include flex(1);
}

.content {
  padding: 15px;
  animation: 1s fadeIn;
}

.content-center {
  @extend .content;
  max-width: 1180px;
  margin: 0 auto;
}

.page {
  animation: 1s fadeIn;




  &-center {
    max-width: 1180px;
    margin: 0 auto;
    animation: 1s fadeIn;
  }




  &-header {
    border-bottom: 1px solid var(--base-3);
    padding: 15px 15px 10px;

  
  
  
    &__title {
    
      margin: 0;
      padding: 0;
    }
  }




  &-sub {
    border-bottom: 1px solid var(--base-3);
    padding: 5px 15px;
  }
}