//==============================================================================
// POPOVER
//==============================================================================
.popover{
  position: relative;
  display: inline-block;

  &-container{
    width: auto;
    background: var(--base-1);
    position: absolute;
    box-shadow: 0 2px 10px var(--shadow-1);
    bottom: calc(100% + 10px);
    left: -280px;
    transform: translate(140px, -10px);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);

    &::before{
      content: "";
      bottom: -8px;
      border-top: 10px solid var(--base-1);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 0px solid transparent;
      position: absolute;
      right: calc(50% - 10px);
      transition-duration: 0.3s;
      transition-property: transform;
      z-index: -1;
    }
  }

  &-title{
    border-bottom: 1px solid var(--base-2);
    padding: 15px;
  }

  &-content{
    padding: 15px;
  }

  &:hover{
    .popover-container{
      z-index: index($z, modal);
      opacity: 1;
      visibility: visible;
      transform: translate(140px, 0);
    }
  }
}
