
$qt-tabs: 5;

.tab{

  &-label{
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
  }

  &-content{
    display: none;
    animation: fadeIn 1s;
  }

  @for $t from 1 through $qt-tabs{

    .tab-input-#{$t}:checked{
      ~ .tab-container .tab-#{$t}{
        display: block;
      }
    }
  }

}

.tab{

  &-button{
    @extend .tab;

    .tab-label{
      border-radius: 5px;
      padding: calc(var(--grid)/3) var(--grid);
      margin-right: calc(var(--grid)/3);
      transition: all .5s;
      &:hover{
        color: var(--secondary);
      }
    }

    @for $t from 1 through $qt-tabs{

      .tab-input-#{$t}:checked{
        ~ .tab-nav .tab-#{$t}{
          background: var(--secondary);
          color: $cor-white;
        }
      }

    }

  }

  &-block{
    @extend .tab;

    .tab-nav{
      // background: var(--base-2);
      border: 1px solid var(--base-3);
      border-radius: 5px;
      overflow: hidden;
    }

    .tab-label{
      border-right: 1px solid var(--base-3);
      padding: calc(var(--grid)/3) var(--grid);
      transition: all .5s;
      &:hover{
        color: var(--secondary);
      }
      &:last-child{
        border-right: none;
      }
    }

    @for $t from 1 through $qt-tabs{

      .tab-input-#{$t}:checked{
        ~ .tab-nav .tab-#{$t}{
          background: var(--base-1);
          color: var(--secondary);
        }
      }

    }

  }

  &-icon{
    @extend .tab;

    .tab-label{
      border-radius: 1rem;
      padding: calc(var(--grid)/3) var(--grid);
      transition: all .5s;

      [class*="ico-"]{
        font-size: 16px;
      }

      span{
        display: none; 
        padding-left: 5px;
      }

      &:hover{
        color: var(--secondary);
      }
 
    }

    @for $t from 1 through $qt-tabs{

      .tab-input-#{$t}:checked{
        ~ .tab-nav .tab-#{$t}{
          background: var(--secondary);
          color: $cor-white;

          span{display: inline-block;}
        }
      }

    }

  }

  &-line{
    @extend .tab;

    .tab-nav{
      border-bottom: 3px solid var(--base-3);
    }

    .tab-label{
      border-bottom: 3px solid transparent;
      margin-bottom: -3px;
      padding: calc(var(--grid)/3);
      transition: all .5s;
      &:hover{
        color: var(--secondary);
      }
    }

    @for $t from 1 through $qt-tabs{

      .tab-input-#{$t}:checked{
        ~ .tab-nav .tab-#{$t}{
          border-color: var(--secondary);
          color: var(--secondary);
        }
      }

    }

  }

  &-vertical{
    @extend .tab;
    @include display-flex;
    @media screen and (max-width: $break-s){
      @include flex-direction(column);
    }

    .tab-nav{
      @include display-flex;
      @include flex-direction(column);
      border-right: 3px solid var(--base-3);
      border-bottom: 0;
      margin-right: var(--grid);
    
      @media screen and (max-width: $break-s){
        border-right: 0;
        border-left: 3px solid var(--base-3);
        margin-right: 0;
        margin-bottom: var(--grid);
      }
    }

    .tab-label{
      padding: calc(var(--grid)/3);
      border-bottom: 0;
      border-right: 3px solid transparent;
      transition: all .5s;
      margin-right: -3px;
  
      @media screen and (max-width: $break-s){
        border-right: 0;
        border-left: 3px solid transparent;
        margin-right: 0;
        margin-left: -3px;
      }
      &:hover{
        color: var(--secondary);
      }
    }

    .tab-container{flex: 1;}

    @for $t from 1 through $qt-tabs{

      .tab-input-#{$t}:checked{
        ~ .tab-nav .tab-#{$t}{
          border-color: var(--secondary);
          color: var(--secondary);
        }
      }

    }

  }
}
