.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 1em;

  tr {
    border-bottom: 1px solid var(--base-3);
  }

  th,
  td {
    padding: calc(var(--grid)/4);
    position: relative;
  }

  thead {
    tr {
      border-bottom: 1px solid var(--primary);

      th {
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }

  tbody {
    tr {
      transition: .5s;

      &:hover {
        background: var(--base-3);
      }
    }
  }

  @media screen and (max-width: $break-s) {
    td{white-space: pre;}
  }
}

.table {

  &-border {
    @extend .table;
    border: 1px solid var(--base-3);

    th,
    td {
      border: 1px solid var(--base-3);
    }
  }

  &-line {
    @extend .table;

    tbody {
      tr {
        border: 0;

        &:nth-of-type(odd) {
          background: var(--base-2);
        }
      }
    }
  }

  &-header {
    @extend .table;

    thead {
      tr {
        color: $cor-white;
        background: var(--primary);
      }
    }

    tbody {
      tr {
        &:nth-of-type(odd) {
          background: var(--base-2);
        }
      }
    }
  }

  &-secondary {
    @extend .table;

    thead {
      tr {
        color: $cor-white;
        background: var(--secondary);
        border-color: var(--secondary);
      }
    }
  }

  &-block {
    @extend .table;

    thead {
      tr {
        background: var(--base-2);
        border-color: var(--base-3);
      }
    }

    td,
    th {
      border-right: 1px solid var(--base-3);

      &:last-child {
        background: var(--base-2);
        font-weight: 600;
      }
    }

  }

  &-light {
    @extend .table;

    thead {
      tr {
        color: $cor-white;
        background: var(--base-3);
        border-color: var(--base-3);
      }
    }
  }

  &-success {
    @extend .table;

    thead {
      tr {
        color: $cor-white;
        background: $cor-success;
        border-color: $cor-success;
      }
    }
  }

  &-alert {
    @extend .table;

    thead {
      tr {
        color: $cor-white;
        background: $cor-alert;
        border-color: $cor-alert;
      }
    }
  }

  &-error {
    @extend .table;

    thead {
      tr {
        color: $cor-white;
        background: $cor-error;
        border-color: $cor-error;
      }
    }
  }

  &-info {
    @extend .table;

    thead {
      tr {
        color: $cor-white;
        background: $cor-info;
        border-color: $cor-info;
      }
    }
  }

  &-dark {
    @extend .table;

    thead {
      tr {
        color: $cor-white;
        background: $cor-black;
        border-color: $cor-black;
      }
    }
  }

  &-clear {
    @extend .table;

    tr {
      border: none;
      vertical-align: top;
    }
  }

  &-responsive {
    @extend .table;

    @media screen and (max-width: $break-s) {

      td {
        padding: calc(var(--grid)/5);
  
        &::before {
          content: attr(data-label);
          color: $cor-black-light;
          font-size: .8em;
          text-transform: uppercase;
          display: block;
        }
      }
  
      tr {
        @include display-flex;
        @include flex-direction(column);
  
        th {
          display: none;
        }
      }
  
    }

  }

  &-small{
    @extend .table;
    th, td {
      font-size: 12px;
      padding: calc(var(--grid)/4);
      position: relative;
    }
  }
}


.table-mail {
  a {
    color: var(--primary);
    text-decoration: none;
  }

  .mail-active {
    font-weight: bold;
  }
}

.td-focus {
  font-weight: 600;
}

@for $t from 1 through 200 {

  .tw-#{$t},
  .w-#{$t} {
    $value: calc(#{$t}px * 10);
    width: $value;
  }
}

@for $t from 1 through 200 {

  .ty-#{$t},
  .h-#{$t} {
    $value: calc(#{$t}px * 10);
    height: $value;
  }
}