$qt-wizard: 4;
.wizard{
    
  &-nav{
    @include display-flex;
    counter-reset: label;
    border-top: 1px solid var(--base-3);
    border-bottom: 1px solid var(--base-3);

    label[disabled]{
      color: var(--base-4);
    }
  }
  
  &-label{
    display: inline-block;
    letter-spacing: .025em;
    margin-bottom: -1px;
    margin-right: 20px;
    padding: 15px 20px 15px 0;
    position: relative;
    transition: all .5s;
    cursor: pointer;
    
    
    &::before{
      counter-increment: label;
      content: counter(label) ".";
      display: inline-block;
      font-weight: 600;
      margin-right: 10px;
      padding: 0 0 0 5px;
      
      
      
      @media screen and (min-width: $break-s){
        min-width: 25px;
      }
    }
    
    
    
    &::after{
      display: inline-block;
      content: "";
      width: 12px;
      height: 12px;
      border-top: 2px solid transparent;
      border-right: 2px solid transparent;
      position: absolute;
      top: 50%;
      right: -2px;
      transition: all .5s;
      transform: rotate(45deg) translate(0, -50%);
    }
    
    
    
    &:hover{
      color: var(--secondary);
    }

  }
  
  
  
  &-text{
    font-size: .8em;
    letter-spacing: 0.035em;
    line-height: 1em;
    margin: 0;
    margin-left: 36px;
    padding: 0;
  }
  
  
  
  &-content{
    display: none;
    padding-top: 20px;
    animation: fadeIn 1s;
  }
  
  
  
  &-footer{
    padding-top: 20px;
    border-top: 1px dashed var(--base-3);

    label[disabled]{
      color: var(--base-4);
      background: var(--base-2);
      border-color: var(--base-3);

      &:hover{
        color: var(--base-4);
        background: var(--base-2);
        border-color: var(--base-3);
      }
    }
  }
  
  
  
  @for $t from 1 through $qt-wizard{

    .wizard-input-#{$t}:checked{
      
      
      
      ~ .wizard-nav .wizard-#{$t}{
        color: var(--secondary);
        border-color: var(--secondary);

        &::before{
          border-color: var(--secondary);
        }
        &:after{
          border-color: var(--secondary);
        }
      }
      
      
      
      ~ .wizard-container .wizard-#{$t}{
        display: block;
      }
    }
  }



@media screen and (max-width: $break-s){
  &-label{
    padding: 10px;
    margin-right: 10px;

    &::before{
      margin: 0;
      padding: 0;
    }

    span,p{
      display: none;
    }
  }
}
}



.wizard-vertical{
  @include display-flex;
  
  
  
  .wizard-nav{
    @include flex-direction(column);
    border: 0;
  }
  
  
  
  .wizard-label{
    white-space: nowrap;
    border: 0;

    &:after{
      border: 0;
      border-bottom: 2px solid transparent;
      border-right: 2px solid transparent;
      top: initial;
      transform: rotate(45deg) translate(0);
    }
  }



@media screen and (max-width: $break-s){
  .wizard-label{
    margin-bottom: 10px;
  }
}
}
