<!-- HEADER -->
<section class="page-header pl-grid">
  <h2 class="page-header-title">Wizard</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Formulários <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="form-Wizard.html">Wizard <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</section>
<!-- fim: HEADER -->

<div class="content-center">

  <fieldset class="card box">
    <h3>Wizards</h3><br>

    <div class="wizard">

      <input type="radio" name="wizard-1" id="wizard-1" class="hidden wizard-input-1" checked>
      <input type="radio" name="wizard-1" id="wizard-2" class="hidden wizard-input-2">
      <input type="radio" name="wizard-1" id="wizard-3" class="hidden wizard-input-3">
      <input type="radio" name="wizard-1" id="wizard-4" class="hidden wizard-input-4">

      <nav class="wizard-nav">
        <label class="wizard-label wizard-1" for="wizard-1"><span>Wizard</span></label>
        <label class="wizard-label wizard-2" for="wizard-2"><span>Wizard</span></label>
        <label class="wizard-label wizard-3" for="wizard-3"><span>Wizard</span></label>
        <label class="wizard-label wizard-4" for="wizard-4"><span>Wizard</span></label>
      </nav>

      <div class="wizard-container">

        <div class="wizard-content wizard-1">

          <h4>Cacilds vidis litro abertis</h4><br>
          <p class="small">RADIO | NAME: wizard-1 | ID: #wizard-1</p>
          <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Diuretics paradis num copo é motivis de denguis.
          Aenean aliquam molestie leo, vitae iaculis nisl. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-medium bt-primary-line" for="wizard-1" disabled>Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-medium bt-primary" for="wizard-2">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-2">

          <h4>Quem num gosta di mé</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Quem num gosta di mim que vai caçá sua turmis!
          Casamentiss faiz malandris se pirulitá.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-medium bt-primary-line" for="wizard-1">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-medium bt-primary" for="wizard-3">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-3">

          <h4>Delegadis gente finis</h4><br>
          <p class="small">RADIO | NAME: wizard-3 | ID: #wizard-1</p>
          <p class="text">Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Nec orci ornare consequat.
          Praesent lacinia ultrices consectetur. Sed non ipsum felis.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-medium bt-primary-line" for="wizard-2">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-medium bt-primary" for="wizard-4">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-4">

          <h4>Não sou faixa preta cumpadi</h4><br>
          <p class="small">RADIO | NAME: wizard-4 | ID: #wizard-1</p>
          <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Interagi no mé, cursus quis, vehicula ac nisi.
          Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Aenean aliquam molestie leo, vitae iaculis nisl.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-medium bt-primary-line" for="wizard-3">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-medium bt-primary" for="wizard-4" disabled>Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

      </div>

    </div>

  </fieldset>

  <fieldset class="card box">
    <h3>Wizards Text</h3><br>

    <div class="wizard">

      <input type="radio" name="wizard-2" id="wizard2-1" class="hidden wizard-input-1" checked>
      <input type="radio" name="wizard-2" id="wizard2-2" class="hidden wizard-input-2">
      <input type="radio" name="wizard-2" id="wizard2-3" class="hidden wizard-input-3">
      <input type="radio" name="wizard-2" id="wizard2-4" class="hidden wizard-input-4">

      <nav class="wizard-nav">
        <label class="wizard-label wizard-1" for="wizard2-1"><span>Wizard</span> <p class="wizard-text">Texto auxiliar</p></label>
        <label class="wizard-label wizard-2" for="wizard2-2"><span>Wizard</span> <p class="wizard-text text-error">Erro</p></label>
        <label class="wizard-label wizard-3" for="wizard2-3"><span>Wizard</span> <p class="wizard-text text-alert">Alerta</p></label>
        <label class="wizard-label wizard-4" for="wizard2-4"><span>Wizard</span> <p class="wizard-text text-success">Sucesso</p></label>
      </nav>

      <div class="wizard-container">

        <div class="wizard-content wizard-1">

          <h4>Cacilds vidis litro abertis</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Diuretics paradis num copo é motivis de denguis.
          Aenean aliquam molestie leo, vitae iaculis nisl. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-medium bt-primary-line" for="wizard2-1" disabled>Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-medium bt-primary" for="wizard2-2">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-2">

          <h4>Quem num gosta di mé</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Quem num gosta di mim que vai caçá sua turmis!
          Casamentiss faiz malandris se pirulitá.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-medium bt-primary-line" for="wizard2-1">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-medium bt-primary" for="wizard2-3">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-3">

          <h4>Delegadis gente finis</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Nec orci ornare consequat.
          Praesent lacinia ultrices consectetur. Sed non ipsum felis.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-medium bt-primary-line" for="wizard2-2">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-medium bt-primary" for="wizard2-4">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-4">

          <h4>Não sou faixa preta cumpadi</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Interagi no mé, cursus quis, vehicula ac nisi.
          Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Aenean aliquam molestie leo, vitae iaculis nisl.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-medium bt-primary-line" for="wizard2-3">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-medium bt-secondary" for="wizard2-4">Salvar <b class="ico-save"></b></label>
          </div>

        </div>

      </div>

    </div>

  </fieldset>

  <fieldset class="card box">
    <h3>Wizards Vertical</h3><br>

    <div class="wizard wizard-vertical box">

      <input type="radio" name="wizard-3" id="wizard3-1" class="hidden wizard-input-1" checked>
      <input type="radio" name="wizard-3" id="wizard3-2" class="hidden wizard-input-2">
      <input type="radio" name="wizard-3" id="wizard3-3" class="hidden wizard-input-3">
      <input type="radio" name="wizard-3" id="wizard3-4" class="hidden wizard-input-4">

      <nav class="wizard-nav">
        <label class="wizard-label wizard-1" for="wizard3-1"><span>Wizard</span></label>
        <label class="wizard-label wizard-2" for="wizard3-2"><span>Wizard</span></label>
        <label class="wizard-label wizard-3" for="wizard3-3"><span>Wizard</span></label>
        <label class="wizard-label wizard-4" for="wizard3-4"><span>Wizard</span></label>
      </nav>

      <div class="wizard-container">

        <div class="wizard-content wizard-1">

          <h4>Cacilds vidis litro abertis</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Diuretics paradis num copo é motivis de denguis.
          Aenean aliquam molestie leo, vitae iaculis nisl. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-small bt-primary-line" for="wizard3-1" disabled>Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-small bt-primary" for="wizard3-2">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-2">

          <h4>Quem num gosta di mé</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Quem num gosta di mim que vai caçá sua turmis!
          Casamentiss faiz malandris se pirulitá.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-small bt-primary-line" for="wizard3-1">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-small bt-primary" for="wizard3-3">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-3">

          <h4>Delegadis gente finis</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Nec orci ornare consequat.
          Praesent lacinia ultrices consectetur. Sed non ipsum felis.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-small bt-primary-line" for="wizard3-2">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-small bt-primary" for="wizard3-4">Proximo <b class="ico-arrow-right"></b></label>
          </div>

        </div>

        <div class="wizard-content wizard-4">

          <h4>Não sou faixa preta cumpadi</h4><br>
          <p class="small">RADIO | NAME: wizard-2 | ID: #wizard-1</p>
          <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Interagi no mé, cursus quis, vehicula ac nisi.
          Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Aenean aliquam molestie leo, vitae iaculis nisl.</p>

          <div class="nav-buttons wizard-footer">
            <label class="bt-small bt-primary-line" for="wizard3-3">Anterior <b class="ico-arrow-left"></b></label>
            <label class="bt-small bt-secondary" for="wizard3-4">Salvar <b class="ico-save"></b></label>
          </div>

        </div>

      </div>

    </div>

  </fieldset>

</div>
