<div class="page-header pl-grid">
  <h2 class="page-header-title"><b class="ico-archive"></b> Accordion</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="accordion.html">accordion <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>


<div class="content">

  <fieldset>

    <div class="row-fluid">

      <div class="col-6 box">
        <h3>Accordion</h3><br>

        <div class="accordion">
          <div class="accordion-box card-block">
            <input type="checkbox" name="accordion-1" id="acord-1" class="accordion-input" checked>
            <label class="accordion-header" for="acord-1">
              <h4 class="accordion-title">Si u mundo tá muito paradis?</h4>
              <b class="accordion-ico"></b>
            </label>
            <div class="accordion-container">
              <div class="accordion-content">
                <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Atirei o pau no gatis, per
                  gatis num morreus.
                  Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
                <p class="small">CHECKBOX | ID: #acord-1</p>
              </div>
            </div>
          </div>
          <div class="accordion-box card-block">
            <input type="checkbox" name="accordion-1" id="acord-2" class="accordion-input">
            <label class="accordion-header" for="acord-2">
              <h4 class="accordion-title">Atirei o pau no gatis?</h4>
              <b class="accordion-ico"></b>
            </label>
            <div class="accordion-container">
              <div class="accordion-content">
                <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Atirei o pau no gatis, per
                  gatis num morreus.
                  Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
                <p class="small">CHECKBOX | ID: #acord-2</p>
              </div>
            </div>
          </div>
          <div class="accordion-box card-block">
            <input type="checkbox" name="accordion-1" id="acord-3" class="accordion-input">
            <label class="accordion-header" for="acord-3">
              <h4 class="accordion-title">O gatis num morreus?</h4>
              <b class="accordion-ico"></b>
            </label>
            <div class="accordion-container">
              <div class="accordion-content">
                <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Atirei o pau no gatis, per
                  gatis num morreus.
                  Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
                <p class="small">CHECKBOX | ID: #acord-3</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-6 box teste">
        <h3>Accordion List</h3><br>

        <div class="accordion-list">
          <div class="accordion-box card-line">
            <input type="radio" name="accordion-2" id="acord2-1" class="accordion-input" checked>
            <label class="accordion-header" for="acord2-1">
              <h4 class="accordion-title">Si u mundo tá muito paradis?</h4>
              <b class="accordion-ico"></b>
            </label>
            <div class="accordion-container">
              <div class="accordion-content">
                <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Atirei o pau no gatis, per
                  gatis num morreus.
                  Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
                <p class="small">RADIO | Name: accordion-2 | ID: #acord2-1</p>
              </div>
            </div>
          </div>
          <div class="accordion-box card-line">
            <input type="radio" name="accordion-2" id="acord2-2" class="accordion-input">
            <label class="accordion-header" for="acord2-2">
              <h4 class="accordion-title">Atirei o pau no gatis?</h4>
              <b class="accordion-ico"></b>
            </label>
            <div class="accordion-container">
              <div class="accordion-content">
                <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Atirei o pau no gatis, per
                  gatis num morreus.
                  Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
                <p class="small">RADIO | Name: accordion-2 | ID: #acord2-2</p>
              </div>
            </div>
          </div>
          <div class="accordion-box card-line">
            <input type="radio" name="accordion-2" id="acord2-3" class="accordion-input">
            <label class="accordion-header" for="acord2-3">
              <h4 class="accordion-title">O gatis num morreus?</h4>
              <b class="accordion-ico"></b>
            </label>
            <div class="accordion-container">
              <div class="accordion-content">
                <p class="text">Delegadis gente finis, bibendum egestas augue arcu ut est. Atirei o pau no gatis, per
                  gatis num morreus.
                  Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
                <p class="small">RADIO | Name: accordion-2 | ID: #acord2-3</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </fieldset>

</div>