<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-archive"></b> Backgrounds</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="backgrounds.html">Backgrounds <b class="ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

  <fieldset>
    <h3>Backgrounds Image</h3><br>

    <div class="box-shadow bg-cover bg-image-1 ty-50">
      <p>Backgrounds Image 1</p>
    </div>

  </fieldset>

  <fieldset>
    <div class="row">

      <div class="col-6 box">
        <h3>Backgrounds Image | Top 50%</h3><br>
        <div class="box-shadow bg-image-1 bg-top-50 ty-30">
          <p>Backgrounds Image 1 | .bg-top-50</p>
        </div>
      </div>

      <div class="col-6 box">
        <h3>Backgrounds Image | Bottom 50%</h3><br>
        <div class="box-shadow bg-image-1 bg-bottom-50 ty-30">
          <p>Backgrounds Image 1 | .bg-bottom-50</p>
        </div>
      </div>

    </div>
  </fieldset>

  <fieldset>
    <div class="row">

      <div class="col-6 box">
        <h3>Backgrounds Image | Left 50%</h3><br>
        <div class="box-shadow bg-cover bg-image-1 bg-left-50 ty-30">
          <p>Backgrounds Image 1 | .bg-left-50</p>
        </div>
      </div>

      <div class="col-6 box">
        <h3>Backgrounds Image | Right 50%</h3><br>
        <div class="box-shadow bg-cover bg-image-1 bg-right-50 ty-30">
          <p>Backgrounds Image 1 | .bg-right-50</p>
        </div>
      </div>

    </div>
  </fieldset>

  <br><br>

  <fieldset>
    <h3>Backgrounds Shape</h3><br>

    <div class="box-shadow bg-shape ty-50">
      <span class="shape bg-gray-dark"></span>
      <p>Backgrounds Shape 1</p>
    </div>

  </fieldset>

  <fieldset>
    <div class="row">

      <div class="col-6 box">
        <h3>Backgrounds Shape | Top 50%</h3><br>
        <div class="box-shadow bg-shape bg-top-50 ty-30">
          <span class="shape bg-gray-dark"></span>
          <p>Backgrounds Shape 1 | .bg-top-50</p>
        </div>
      </div>

      <div class="col-6 box">
        <h3>Backgrounds Shape | Bottom 50%</h3><br>
        <div class="box-shadow bg-shape bg-bottom-50 ty-30">
          <span class="shape bg-gray-dark"></span>
          <p>Backgrounds Shape 1 | .bg-bottom-50</p>
        </div>
      </div>

    </div>
  </fieldset>

  <fieldset>
    <div class="row">

      <div class="col-6 box">
        <h3>Backgrounds Shape | Left 50%</h3><br>
        <div class="box-shadow bg-shape bg-left-50 ty-30">
          <span class="shape bg-gray-dark"></span>
          <p>Backgrounds Shape 1 | .bg-left-50</p>
        </div>
      </div>

      <div class="col-6 box">
        <h3>Backgrounds Shape | Right 50%</h3><br>
        <div class="box-shadow bg-shape bg-right-50 ty-30">
          <span class="shape bg-gray-dark"></span>
          <p>Backgrounds Shape 1 | .bg-right-50</p>
        </div>
      </div>

    </div>
  </fieldset>


</div>
