<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-archive"></b> Box</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="box.html">box <b class="ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

  <fieldset>
    <h3>Box</h3></br>

    <div class="row-fluid">

      <div class="col-3 box">
        <article class="box">
          <b class="box-ico ico-cloud"></b>
          <h4 class="box-title">Box Title</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-block">
          <b class="box-ico ico-cloud"></b>
          <h4 class="box-title">Box Block</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-line">
          <b class="box-ico ico-cloud-drizzle"></b>
          <h4 class="box-title">Box Line</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-primary">
          <b class="box-ico ico-cloud-rain"></b>
          <h4 class="box-title">Box Primary</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-secondary">
          <b class="box-ico ico-cloud-snow"></b>
          <h4 class="box-title">Box Secondary</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <h3>Box Hover</h3><br>

    <div class="row-fluid">

      <div class="col-3 box">
        <article class="box-block box-hover">
          <h4 class="box-title">Box</h4>
          <span class="box-divider"></span>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>

      <div class="col-3 box">
        <article class="box-block box-hover-block">
          <h4 class="box-title">Box Block</h4>
          <span class="box-divider"></span>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-line box-hover-line">
          <h4 class="box-title">Box line</h4>
          <span class="box-divider"></span>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-shadow box-hover-shadown">
          <h4 class="box-title">Box Shadown</h4>
          <span class="box-divider"></span>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-primary box-hover-primary">
          <h4 class="box-title">Box Primary</h4>
          <span class="box-divider"></span>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-secondary box-hover-secondary>
          <h4 class="box-title">Box Secondary</h4>
          <span class="box-divider"></span>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <h3>Box Modern</h3><br>

    <div class="row-fluid">

      <div class="col-3 box">
        <article class="box-modern">
          <b class="box-ico ico-cloud"></b>
          <h4 class="box-title">Box No-hover</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-modern">
          <b class="box-ico ico-cloud-drizzle"></b>
          <h4 class="box-title">Box line</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-modern box-hover-modern">
          <b class="box-ico ico-cloud-rain"></b>
          <h4 class="box-title">Box Modern</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-modern box-hover-modern">
          <b class="box-ico ico-cloud-snow"></b>
          <h4 class="box-title">Box Shadow</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <h3>Box Shadow</h3><br>

    <div class="row-fluid">

      <div class="col-3 box">
        <article class="box-shadow no-hover">
          <h4 class="box-title">Box Shadown</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-shadow">
          <h4 class="box-title">Box Shadown</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-shadow box-hover-shadown">
          <h4 class="box-title">Box Shadown</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-shadow box-hover-shadown">
          <h4 class="box-title">Box Shadown</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
          <ul class="nav">
            <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
            <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
          </ul>
        </article>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <h3>Box Two</h3></br>

    <div class="row-fluid">

      <div class="col-3 box">
        <article class="box-two">
          <b class="box-ico ico-cloud"></b>
          <h4 class="box-title">Box</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-two">
          <b class="box-ico ico-cloud-drizzle"></b>
          <h4 class="box-title">Box line</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-two">
          <b class="box-ico ico-cloud-rain"></b>
          <h4 class="box-title">Box Modern</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>
      <div class="col-3 box">
        <article class="box-two">
          <b class="box-ico ico-cloud-snow"></b>
          <h4 class="box-title">Box Shadow</h4>
          <p class="text box-text">Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
        </article>
      </div>

    </div>

  </fieldset>

</div>
