<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-archive"></b> Button</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="buttons.html">Button <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

  <fieldset>
    <h3>Button Link</h3>

    <div class="row">
      <div class="box col-12">
        <p>
          <button class="bt-link" type="button" name="button">Button link</button>
        </p>
        <p>
          <button class="bt-link small" type="button" name="button">Button link</button>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h3>Button Tamanho</h3>

    <div class="row">
      <div class="box col-12">
        <p>
          <button class="bt bt-large" type="button" name="button">Button large</button>
        </p>
        <p>
          <button class="bt" type="button" name="button">Medium Button</button>
        </p>
        <p>
          <button class="bt bt-small" type="button" name="button">Button small</button>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h3>Button Icone</h3>

    <div class="row">
      <div class="box col-12">
        <p>
          <button class="bt" type="button" name="button">Button <b class="ico-arrow-right"></b></button>
        </p>
        <p>
          <button class="bt bt-small" type="button" name="button">Button <b class="ico-arrow-right"></b></button>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h3>Button Cores</h3>

    <div class="row">
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-light" type="button" name="button">Light</button>
        </p>
        <p>
          <button class="bt-light bt-small" type="button" name="button">Light</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-primary" type="button" name="button">Primary</button>
        </p>
        <p>
          <button class="bt-primary bt-small" type="button" name="button">Primary</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-secondary" type="button" name="button">Secundary</button>
        </p>
        <p>
          <button class="bt-secondary bt-small" type="button" name="button">Secundary</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-success" type="button" name="button">Success</button>
        </p>
        <p>
          <button class="bt-success bt-small" type="button" name="button">Success</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-alert" type="button" name="button">Alert</button>
        </p>
        <p>
          <button class="bt-alert bt-small" type="button" name="button">Alert</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-error" type="button" name="button">Error</button>
        </p>
        <p>
          <button class="bt-error bt-small" type="button" name="button">Error</button>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h3>Button Line</h3>

    <div class="row">
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-primary-line" type="button" name="button">Primary</button>
        </p>
        <p>
          <button class="bt-primary-line bt-small" type="button" name="button">Primary</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-secondary-line" type="button" name="button">Secundary</button>
        </p>
        <p>
          <button class="bt-secondary-line bt-small" type="button" name="button">Secundary</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-success-line" type="button" name="button">Success</button>
        </p>
        <p>
          <button class="bt-success-line bt-small" type="button" name="button">Success</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-alert-line" type="button" name="button">Alert</button>
        </p>
        <p>
          <button class="bt-alert-line bt-small" type="button" name="button">Alert</button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-error-line" type="button" name="button">Error</button>
        </p>
        <p>
          <button class="bt-error-line bt-small" type="button" name="button">Error</button>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h3>Button Clear</h3>

    <div class="row">
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-primary-clear" type="button" name="button">Primary <b class="ico-arrow-right"></b></button>
        </p>
        <p>
          <button class="bt-primary-clear bt-small" type="button" name="button">Primary <b class="ico-arrow-right"></b></button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-secondary-clear" type="button" name="button">Secundary <b class="ico-arrow-right"></b></button>
        </p>
        <p>
          <button class="bt-secondary-clear bt-small" type="button" name="button">Secundary <b class="ico-arrow-right"></b></button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-success-clear" type="button" name="button">Success <b class="ico-arrow-right"></b></button>
        </p>
        <p>
          <button class="bt-success-clear bt-small" type="button" name="button">Success <b class="ico-arrow-right"></b></button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-alert-clear" type="button" name="button">Alert <b class="ico-arrow-right"></b></button>
        </p>
        <p>
          <button class="bt-alert-clear bt-small" type="button" name="button">Alert <b class="ico-arrow-right"></b></button>
        </p>
      </div>
      <div class="box col-2 col-m-4">
        <p>
          <button class="bt-error-clear" type="button" name="button">Error <b class="ico-arrow-right"></b></button>
        </p>
        <p>
          <button class="bt-error-clear bt-small" type="button" name="button">Error <b class="ico-arrow-right"></b></button>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h3>Dropdow</h3><br>

    <div class="row-center">

      <div class="box col-2  col-m-6">
        <div class="dropdown">
          <a class="bt-primary-clear block" href="#">Drop Menu <b class="ico-chevron-down"></b></a>
          <ul class="dropdown-content dropdown-menu block">
            <li><a class="bt-primary-clear bt-block" href="#"><b class="ico-arrow-right"></b> Dropdow 1</a></li>
            <li><a class="bt-primary-clear bt-block" href="#"><b class="ico-arrow-right"></b> Dropdow 2</a></li>
          </ul>
        </div>
      </div>
      <div class="box col-2  col-m-6">
        <div class="dropdown">
          <a class="bt-secondary-clear block" href="#">Drop Menu <b class="ico-chevron-down"></b></a>
          <ul class="dropdown-content dropdown-menu block">
            <li><a class="bt-secondary-clear bt-block" href="#"><b class="ico-cloud-snow"></b> Dropdow 1</a></li>
            <li><a class="bt-secondary-clear bt-block" href="#"><b class="ico-cloud-lightning"></b> Dropdow 2</a></li>
          </ul>
        </div>
      </div>
      <div class="box col-2  col-m-6">
        <div class="dropdown">
          <a class="bt block" href="#"><b class="ico-menu"></b> Drop Menu</a>
          <ul class="dropdown-content dropdown-menu block">
            <li><a class="bt bt-block" href="#">Dropdow 1</a></li>
            <li><a class="bt bt-block" href="#">Dropdow 2</a></li>
          </ul>
        </div>
      </div>
      <div class="box col-2  col-m-6">
        <div class="dropdown">
          <a class="bt-primary block" href="#">Drop Menu <b class="ico-arrow-down"></b></a>
          <ul class="dropdown-content dropdown-menu block">
            <li><a class="bt-primary-clear bt-block" href="#">Dropdow 1</a></li>
            <li><a class="bt-primary-clear bt-block" href="#">Dropdow 2</a></li>
          </ul>
        </div>
      </div>
      <div class="box col-2  col-m-6">
        <div class="dropdown">
          <a class="bt-secondary block" href="#">Drop Menu <b class="ico-arrow-down"></b></a>
          <ul class="dropdown-content dropdown-menu block">
            <li><a class="bt-secondary-clear bt-block" href="#">Dropdow 1</a></li>
            <li><a class="bt-secondary-clear bt-block" href="#">Dropdow 2</a></li>
          </ul>
        </div>
      </div>



    </div>


  </fieldset>

  <fieldset>
    <h3>Paginação</h3>

    <div class="row">
        <nav class="box col-12">
          <ul class="pagination">
            <li><a href="#"><b class="ico-arrow-left"></b> <span>Anterior</span></a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><span>Próxima</span> <b class="ico-arrow-right"></b></a></li>
          </ul>
        </nav>
    </div>
  </fieldset>

  <fieldset>
    <h3>Paginação Block</h3>

    <div class="row">
        <nav class="box col-12">
          <ul class="pagination-block">
            <li><a href="#"><b class="ico-arrow-left"></b></a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><b class="ico-arrow-right"></b></a></li>
          </ul>
        </nav>
    </div>
  </fieldset>

  <fieldset>
    <h3>Paginação Line</h3>

    <div class="row">
        <nav class="box col-12">
          <ul class="pagination-line">
            <li><a href="#"><b class="ico-arrow-left"></b></a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><b class="ico-arrow-right"></b></a></li>
          </ul>
        </nav>
    </div>
  </fieldset>


</div>
