<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-archive"></b> Cards</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="cards.html">Cards <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

  <fieldset>
    <h3>Card</h3>

    <div class="row-fluid">

      <div class="col-3 col-m-6 box">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card</h3>
          </div>
          <div class="card-container">
            <div class="card-content">
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-line">
          <div class="card-header">
            <h3 class="card-title">Card Line</h3>
          </div>
          <div class="card-container">
            <div class="card-content">
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-primary">
          <div class="card-header">
            <h3 class="card-title">Card Primary</h3>
          </div>
          <div class="card-container">
            <div class="card-content">
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-secondary">
          <div class="card-header">
            <h3 class="card-title">Card Secondary</h3>
          </div>
          <div class="card-container">
            <div class="card-content">
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <h3>Card Label</h3>

    <div class="row-fluid">

      <div class="col-3 col-m-6 box">
        <div class="card">
          <input type="checkbox" id="card-1" class="hidden card-input">
          <div class="card-header">
            <h3 class="card-title">Card Label</h3>
            <label class="card-label" for="card-1"><b class="ico-arrow-up-circle"></b></label>
          </div>
          <div class="card-container">
            <div class="card-content">
              <h5>ID: #card-1</h5><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-line">
          <input type="checkbox" id="card-2" class="hidden card-input">
          <div class="card-header">
            <h3 class="card-title">Card Line label</h3>
            <label class="card-label" for="card-2"><b class="ico-arrow-up-circle"></b></label>
          </div>
          <div class="card-container">
            <div class="card-content">
              <h5>ID: #card-2</h5><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-primary">
          <input type="checkbox" id="card-3" class="hidden card-input">
          <div class="card-header">
            <h3 class="card-title">Card Primary label</h3>
            <label class="card-label" for="card-3"><b class="ico-arrow-up-circle"></b></label>
          </div>
          <div class="card-container">
            <div class="card-content">
              <h5>ID: #card-3</h5><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-secondary">
          <input type="checkbox" id="card-4" class="hidden card-input">
          <div class="card-header">
            <h3 class="card-title">Card Secondary label</h3>
            <label class="card-label" for="card-4"><b class="ico-arrow-up-circle"></b></label>
          </div>
          <div class="card-container">
            <div class="card-content">
              <h5>ID: #card-4</h5><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <h3>Card Rodape</h3>

    <div class="row-fluid">

      <div class="col-3 col-m-6 box">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Card Footer</h3>
          </div>
          <div class="card-container">
            <div class="card-content">
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
            <div class="card-footer">
              <ul class="nav">
                <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
                <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
                <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-line">
          <div class="card-header">
            <h3 class="card-title">Card Line</h3>
          </div>
          <div class="card-container">
            <div class="card-content">
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
            <div class="card-footer">
              <ul class="nav">
                <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
                <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
                <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-primary">
          <div class="card-header">
            <h3 class="card-title">Card Primary</h3>
          </div>
          <div class="card-container">
            <div class="card-content">
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
            <div class="card-footer">
              <ul class="nav">
                <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
                <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
                <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-secondary">
          <div class="card-header">
            <h3 class="card-title">Card Secondary</h3>
          </div>
          <div class="card-container">
            <div class="card-content">
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
            <div class="card-footer">
              <ul class="nav">
                <li><a class="nav-link" href="#"><b class="ico-mail"></b></a></li>
                <li><a class="nav-link" href="#"><b class="ico-facebook"></b></a></li>
                <li><a class="nav-link" href="#"><b class="ico-twitter"></b></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <h3>Card Animado</h3>

    <div class="row-fluid">

      <div class="col-3 col-m-6 box">
        <div class="card card-hidden">
          <div class="card-container">
            <figure class="figure">
              <img src="images/background/bg-2.jpg" alt="background 1">
            </figure>
            <div class="card-footer">
              <h3>Card Hidden</h3><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card card-hidden">
          <div class="card-container">
            <figure class="figure">
              <img src="images/background/bg-2.jpg" alt="background 1">
            </figure>
            <div class="card-footer">
              <h3>Card Hidden</h3><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-primary card-hidden">
          <div class="card-container">
            <figure class="figure">
              <img src="images/background/bg-2.jpg" alt="background 1">
            </figure>
            <div class="card-footer">
              <h3 class="card-title">Card Hidden</h3><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-secondary card-hidden">
          <div class="card-container">
            <figure class="figure">
              <img src="images/background/bg-2.jpg" alt="background 1">
            </figure>
            <div class="card-footer">
              <h3 class="card-title">Card Hidden</h3><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <br><br>

    <div class="row-fluid">

      <div class="col-3 col-m-6 box">
        <div class="card card-caption">
          <div class="card-container">
            <figure class="figure">
              <img src="images/bg-login.svg" alt="Imagem Login">
            </figure>
            <div class="card-footer">
              <h3>Card Hidden</h3><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-line card-caption">
          <div class="card-container">
            <figure class="figure">
              <img src="images/bg-login.svg" alt="Imagem Login">
            </figure>
            <div class="card-footer">
              <h3>Card Hidden</h3><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-primary card-caption">
          <div class="card-container">
            <figure class="figure">
              <img src="images/bg-login.svg" alt="Imagem Login">
            </figure>
            <div class="card-footer">
              <h3 class="card-title">Card Hidden</h3><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 col-m-6 box">
        <div class="card-secondary card-caption">
          <div class="card-container">
            <figure class="figure">
              <img src="images/bg-login.svg" alt="Imagem Login">
            </figure>
            <div class="card-footer">
              <h3 class="card-title">Card Hidden</h3><br>
              <p class="text">Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Quem num gosta di mé, boa gentis num é. </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </fieldset>

</div>
