<!-- HEADER -->
<div class="page-header pl-grid">
  <h2 class="page-header-title"><b class="ico-archive"></b> Cores</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="box.html">cores <b class="ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

  <fieldset>
    <h3>Padrão</h3><br>

    <div class="row">
      <div class="col-12 box-shadow bg-white mb-10">$cor-white | .bg-white</div>
      <div class="col-12 box-shadow bg-background">$cor-background | .bg-background</div>
    </div><br>
    <div class="row">
      <div class="col-4 box text-white bg-black-dark">$cor-black-dark | .bg-black-dark</div>
      <div class="col-4 box text-white bg-black">$cor-black | .bg-black</div>
      <div class="col-4 box text-white bg-black-light">$cor-black-light | .bg-black-light</div>
    </div>
    <div class="row">
      <div class="col-4 box bg-gray-dark">$cor-gray-dark | .bg-gray-dark</div>
      <div class="col-4 box bg-gray">$cor-gray | .bg-gray</div>
      <div class="col-4 box bg-gray-light">$cor-gray-light | .bg-gray-light</div>
    </div>
    <br>
    <div class="row">
      <div class="col-3 box text-white bg-success-dark">$cor-success-dark | .bg-success-dark</div>
      <div class="col-3 box text-white bg-success">$cor-success | .bg-success</div>
      <div class="col-3 box text-white bg-success-light">$cor-success-light | .bg-success-light</div>
      <div class="col-3 box text-success bg-success-status">$cor-success-status | .bg-success-status</div>
    </div>
    <div class="row">
      <div class="col-3 box text-white bg-alert-dark">$cor-alert-dark | .bg-alert-dark</div>
      <div class="col-3 box text-white bg-alert">$cor-alert | .bg-cor-alert</div>
      <div class="col-3 box text-white bg-alert-light">$cor-alert-light | .bg-alert-light</div>
      <div class="col-3 box text-alert bg-alert-status">$cor-alert-status | .bg-alert-status</div>
    </div>
    <div class="row">
      <div class="col-3 box text-white bg-error-dark">$cor-error-dark | .bg-error-dark</div>
      <div class="col-3 box text-white bg-error">$cor-error | .bg-error</div>
      <div class="col-3 box text-white bg-error-light">$cor-error-light | .bg-error-light</div>
      <div class="col-3 box text-error bg-error-status">$cor-error-status | .bg-error-status</div>
    </div>
    <div class="row">
      <div class="col-3 box text-white bg-info-dark">$cor-info-dark | .bg-info-dark</div>
      <div class="col-3 box text-white bg-info">$cor-info | .bg-info</div>
      <div class="col-3 box text-white bg-info-light">$cor-info-light | .bg-info-light</div>
      <div class="col-3 box text-info bg-info-status">$cor-info-status | .bg-info-status</div>
    </div>

  </fieldset>

  <fieldset>
    <h3>Primary</h3><br>

    <div class="row">
      <div class="col-4 box text-white bg-primary-dark">$cor-primary-dark | .bg-primary-dark</div>
      <div class="col-4 box text-white bg-primary">$cor-primary | .bg-primary</div>
      <div class="col-4 box text-white bg-primary-light">$cor-primary-light | .bg-primary-light</div>
    </div>

  </fieldset>


  <fieldset>
    <h3>Secondary</h3><br>

    <div class="row">
      <div class="col-4 box text-white bg-secondary-dark">$cor-secondary-dark | .bg-secondary-dark</div>
      <div class="col-4 box text-white bg-secondary">$cor-secondary | .bg-secondary</div>
      <div class="col-4 box text-white bg-secondary-light">$cor-secondary-light | .bg-secondary-light</div>
    </div>

  </fieldset>

</div>
