<!-- HEADER -->
<div class="page-header pl-grid">
  <h2 class="page-header-title"><b class="ico-archive"></b> Galeria</h2>
  <ul class="crumbs">
    <li>
      <a href="index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="gallery.html">galeria <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content-center">
  <fieldset>
    <h3>Galeria</h3><br>

    <div class="divider">
      NOV 2018
    </div>
    <ul class="list-clear gallery">
      <li class="col-12">
        <div class="photo-link"><a class="figure" href="#"><img src="images/background/bg-1.jpg" alt="Foto Iphone"></a></div>
      </li>
      <li class="col-3 col-m-3">
        <div class="photo-link"><a class="figure" href="#"><img src="images/background/bg-1.jpg" alt="Foto Iphone"></a></div>
      </li>
      <li class="col-3 col-m-3">
        <div class="photo-link"><a class="figure" href="#"><img src="images/background/bg-2.jpg" alt="Foto Iphone"></a></div>
      </li>
      <li class="col-3 col-m-3">
        <div class="photo-link"><a class="figure" href="#"><img src="images/background/bg-1.jpg" alt="Foto Iphone"></a></div>
      </li>
      <li class="col-3 col-m-3">
        <div class="photo-link"><a class="figure" href="#"><img src="images/background/bg-2.jpg" alt="Foto Iphone"></a></div>
      </li>
    </ul>
  </fieldset>
</div>
