<!-- HEADER -->
<section class="page-header pl-grid">
  <h2 class="page-header-title"><b class="ico-grid"></b> Grid</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="grid.html">grid <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</section>
<!-- fim: HEADER -->

<section class="content">

  <h3>Grid full</h3><br>

  <div class="row grid-exemple">
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
    <div class="col-1 col-m-1"><h4>col-1 col-m-1/12</h4></div>
  </div>

  <div class="row grid-exemple">
    <div class="col-2 col-m-2">
      <h4>col-2 col-m-2/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-2 col-m-2">
      <h4>col-2 col-m-2/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-2 col-m-2">
      <h4>col-2 col-m-2/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-2 col-m-2">
      <h4>col-2 col-m-2/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-2 col-m-2">
      <h4>col-2 col-m-2/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-2 col-m-2">
      <h4>col-2 col-m-2/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-3 col-m-3">
      <h4>col-3 col-m-3/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
      </div>
    <div class="col-3 col-m-3">
      <h4>col-3 col-m-3/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
      </div>
    <div class="col-3 col-m-3">
      <h4>col-3 col-m-3/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
      </div>
    <div class="col-3 col-m-3">
      <h4>col-3 col-m-3/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
      </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-4 col-m-4">
      <h4>col-4 col-m-4/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-4 col-m-4">
      <h4>col-4 col-m-4/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-4 col-m-4">
      <h4>col-4 col-m-4/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-5 col-m-5">
      <h4>col-5 col-m-5/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-5 col-m-5">
      <h4>col-5 col-m-5/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-2 col-m-2">
      <h4>col-2 col-m-2/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-6 col-m-6">
      <h4>col-6 col-m-6/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-6 col-m-6">
      <h4>col-6 col-m-6/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-7 col-m-7">
      <h4>col-7 col-m-7/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-5 col-m-5">
      <h4>col-5 col-m-5/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-8 col-m-8">
      <h4>col-8 col-m-8/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-4 col-m-4">
      <h4>col-4 col-m-4/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-9 col-m-9">
      <h4>col-9 col-m-9/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-3 col-m-3">
      <h4>col-3 col-m-3/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-10 col-m-10">
      <h4>col-10 col-m-10/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-2 col-m-2">
      <h4>col-2 col-m-2/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-11 col-m-11">
      <h4>col-11 col-m-11/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
    <div class="col-1">
      <h4>col-1/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

  <div class="row grid-exemple">
    <div class="col-12 col-m-12">
      <h4>col-12 col-m-12/12</h4><br>
      <p class="text">Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis!</p>
    </div>
  </div>

</section>
