<div class="page-header pl-grid">
  <h2 class="page-header-title"><b class="ico-aperture"></b> Material Icons</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <a href="icons.html">Icones <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>

<div class="content">

  <h2  class="gmat-subhead-2 group-title">Material Icons</h2>
  <fieldset>
    <div class="row-fluid mt-15 text-center">
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">search</b>
        <span class="pl-10">Search</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">home</b>
        <span class="pl-10">Home</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">menu</b>
        <span class="pl-10">Menu</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">close</b>
        <span class="pl-10">Close</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">settings</b>
        <span class="pl-10">Settings</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">done</b>
        <span class="pl-10">Done</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">expand_more</b>
        <span class="pl-10">Expand More</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">check_circle</b>
        <span class="pl-10">Check Circle</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">favorite</b>
        <span class="pl-10">Favorite</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">add</b>
        <span class="pl-10">Add</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">delete</b>
        <span class="pl-10">Delete</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_back</b>
        <span class="pl-10">Arrow Back</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">logout</b>
        <span class="pl-10">Logout</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">chevron_right</b>
        <span class="pl-10">Chevron Right</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">star</b>
        <span class="pl-10">Star</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_forward_ios</b>
        <span class="pl-10">Arrow Forward Ios</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">add_circle</b>
        <span class="pl-10">Add Circle</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">cancel</b>
        <span class="pl-10">Cancel</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_back_ios</b>
        <span class="pl-10">Arrow Back Ios</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">file_download</b>
        <span class="pl-10">File Download</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_forward</b>
        <span class="pl-10">Arrow Forward</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_drop_down</b>
        <span class="pl-10">Arrow Drop Down</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">more_vert</b>
        <span class="pl-10">More Vert</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">check</b>
        <span class="pl-10">Check</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">check_box</b>
        <span class="pl-10">Check Box</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">toggle_on</b>
        <span class="pl-10">Toggle On</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">grade</b>
        <span class="pl-10">Grade</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">login</b>
        <span class="pl-10">Login</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">open_in_new</b>
        <span class="pl-10">Open In New</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">check_box_outline_blank</b>
        <span class="pl-10">Check Box Outline Blank</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">refresh</b>
        <span class="pl-10">Refresh</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">chevron_left</b>
        <span class="pl-10">Chevron Left</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">expand_less</b>
        <span class="pl-10">Expand Less</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">radio_button_unchecked</b>
        <span class="pl-10">Radio Button Unchecked</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">more_horiz</b>
        <span class="pl-10">More Horiz</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_right_alt</b>
        <span class="pl-10">Arrow Right Alt</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">radio_button_checked</b>
        <span class="pl-10">Radio Button Checked</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">file_upload</b>
        <span class="pl-10">File Upload</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">apps</b>
        <span class="pl-10">Apps</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">remove</b>
        <span class="pl-10">Remove</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">download</b>
        <span class="pl-10">Download</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">toggle_off</b>
        <span class="pl-10">Toggle Off</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">bolt</b>
        <span class="pl-10">Bolt</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">delete_forever</b>
        <span class="pl-10">Delete Forever</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_upward</b>
        <span class="pl-10">Arrow Upward</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">filter_list</b>
        <span class="pl-10">Filter List</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">autorenew</b>
        <span class="pl-10">Autorenew</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">sort</b>
        <span class="pl-10">Sort</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">sync</b>
        <span class="pl-10">Sync</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_back_ios_new</b>
        <span class="pl-10">Arrow Back Ios New</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_downward</b>
        <span class="pl-10">Arrow Downward</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">add_box</b>
        <span class="pl-10">Add Box</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">block</b>
        <span class="pl-10">Block</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">restart_alt</b>
        <span class="pl-10">Restart Alt</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">key</b>
        <span class="pl-10">Key</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">menu_open</b>
        <span class="pl-10">Menu Open</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">backspace</b>
        <span class="pl-10">Backspace</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">undo</b>
        <span class="pl-10">Undo</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">done_all</b>
        <span class="pl-10">Done All</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">expand_circle_down</b>
        <span class="pl-10">Expand Circle Down</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_circle_right</b>
        <span class="pl-10">Arrow Circle Right</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">arrow_right</b>
        <span class="pl-10">Arrow Right</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">double_arrow</b>
        <span class="pl-10">Double Arrow</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">shopping_cart_checkout</b>
        <span class="pl-10">Shopping Cart Checkout</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">open_in_full</b>
        <span class="pl-10">Open In Full</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">manage_search</b>
        <span class="pl-10">Manage Search</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">zoom_in</b>
        <span class="pl-10">Zoom In</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">done_outline</b>
        <span class="pl-10">Done Outline</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">do_not_disturb_on</b>
        <span class="pl-10">Do Not Disturb On</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">sync_alt</b>
        <span class="pl-10">Sync Alt</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">drag_indicator</b>
        <span class="pl-10">Drag Indicator</span>
      </div>
      <div class="col-2 col-m-4 row-center">
        <b class="material-icons-outlined plus">fullscreen</b>
        <span class="pl-10">Fullscreen</span>
      </div>
      
    </div>
  </fieldset>
  <div class="box text-center">
    <a class="bt-secondary" href="https://fonts.google.com/icons" target="_blank">Todos os ícones <b class="ico-chevron-right"></b></a>
  </div>
</div>