<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-archive"></b> Navbar</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="navbar.html">navbar <b class="ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

  <fieldset>
    <h3>Nav Basica</h3><br>

    <ul class="nav">
      <li><a class="nav-link" href="#">MENU</a></li>
      <li><a class="nav-link" href="#">MENU</a></li>
      <li><a class="nav-link" href="#">MENU</a></li>
      <li><a class="nav-link" href="#">MENU</a></li>
    </ul>

    <ul class="nav nav-right">
      <li><a class="nav-link" href="#">MENU</a></li>
      <li><a class="nav-link" href="#">MENU</a></li>
      <li><a class="nav-link" href="#">MENU</a></li>
      <li><a class="nav-link" href="#">MENU</a></li>
    </ul>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Nav Line</h3><br>

    <ul class="nav-line">
      <li class="nav-line-item"><a class="nav-link" href="#"><b class="ico-bell"></b> MENU</a></li>
      <li class="nav-line-item"><a class="nav-link" href="#"><b class="ico-box"></b> MENU</a></li>
      <li class="nav-line-item"><a class="nav-link" href="#"><b class="ico-briefcase"></b> MENU</a></li>
      <li class="nav-line-item"><a class="nav-link" href="#"><b class="ico-gift"></b> MENU</a></li>
    </ul>

    <ul class="nav-line nav-right">
      <li class="nav-line-item"><a class="nav-link" href="#"><b class="ico-bell"></b> MENU</a></li>
      <li class="nav-line-item"><a class="nav-link" href="#"><b class="ico-box"></b> MENU</a></li>
      <li class="nav-line-item"><a class="nav-link" href="#"><b class="ico-briefcase"></b> MENU</a></li>
      <li class="nav-line-item"><a class="nav-link" href="#"><b class="ico-gift"></b> MENU</a></li>
    </ul>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Nav ball</h3><br>

    <ul class="nav-ball">
      <li class="nav-ball-item"><a class="nav-link" href="#">MENU</a></li>
      <li class="nav-ball-item dropdown">
        <a class="nav-link" href="#">MENU <b class="ico-chevron-down"></b></a>
        <div class="dropdown-content dropdown-menu">
          <a class="nav-link bt-block" href="#">MENU</a>
          <a class="nav-link bt-block" href="#">MENU</a>
        </div>
      </li>
      <li class="nav-ball-item"><a class="nav-link" href="#">MENU</a></li>
      <li class="nav-ball-item"><a class="nav-link" href="#">MENU</a></li>
    </ul>

    <ul class="nav-ball nav-right">
      <li class="nav-ball-item"><a class="nav-link" href="#">MENU</a></li>
      <li class="nav-ball-item dropdown">
        <a class="nav-link" href="#">MENU <b class="ico-chevron-down"></b></a>
        <div class="dropdown-content dropdown-menu">
          <a class="nav-link bt-block" href="#">MENU</a>
          <a class="nav-link bt-block" href="#">MENU</a>
        </div>
      </li>
      <li class="nav-ball-item"><a class="nav-link" href="#">MENU</a></li>
      <li class="nav-ball-item"><a class="nav-link" href="#">MENU</a></li>
    </ul>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Nav Space</h3><br>

    <ul class="nav-space">
      <li class="nav-space-item"><a class="nav-link bt-block" href="#">MENU</a></li>
      <li class="nav-space-item dropdown">
        <a class="nav-link bt-block" href="#">MENU <b class="ico-chevron-down"></b></a>
        <div class="dropdown-content dropdown-menu">
          <a class="nav-link bt-block" href="#">MENU</a>
          <a class="nav-link bt-block" href="#">MENU</a>
        </div>
      </li>
      <li class="nav-space-item"><a class="nav-link bt-block" href="#">MENU</a></li>
      <li class="nav-space-item"><a class="nav-link bt-block" href="#">MENU</a></li>
    </ul>

  </fieldset>

</div>
