
<div class="page-header pl-grid">
  <h2 class="page-header-title"><b class="ico-archive"></b> Navbar</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="navbar.html">navbar <b class="ico-arrow-right"></b></a>
    </li>
  </ul>
</div>


<div class="content">

  <fieldset>
    <h3>Nav Sub</h3><br>
    <nav class="nav-sub card-line">
      <input type="checkbox" id="submenu" class="nav-sub-input hidden">
      <div class="nav-sub-header">
        <label class="nav-link block uppercase row-center row-full" for="submenu"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
      </div>
      <div class="nav-sub-content">
        <ul class="nav-line row-full">
          <li class="nav-line-item"><a class="nav-link block tooltip-top" href="#" data-tooltip="Novo movimento"><b class="ico-file"></b> Novo movimento</a></li>
          <li class="nav-line-item"><a class="nav-link block tooltip-top" href="#" data-tooltip="Copiar capa"><b class="ico-copy"></b> Copiar</a></li>
          <li class="nav-line-item"><a class="nav-link block tooltip-top" href="#" data-tooltip="Histórico completo"><b class="ico-clock"></b> Histórico</a></li>
          <li class="nav-line-item"><a class="nav-link block tooltip-top" href="#" data-tooltip="Imprimir etiqueta"><b class="ico-printer"></b> Etiqueta</a></li>
          <li class="nav-line-item"><a class="nav-link block tooltip-top" href="#" data-tooltip="Arquivar"><b class="ico-archive"></b> Arquivar</a></li>
          <li class="nav-line-item min-xm"><a class="nav-link block tooltip-top" href="#" data-tooltip="Imprimir"><b class="ico-printer"></b> Imprimir</a></li>
        </ul>
        <ul class="nav-line max-xm">
          <li class="nav-line-item"><a class="nav-link block tooltip-left" href="#" data-tooltip="Imprimir"><b class="ico-printer"></b></a></li>
        </ul>
      </div>
    </nav>
  </fieldset>

  <fieldset>
    <h3>Nav Basica</h3><br>

    <div class="row-fluid">
      <div class="col-6">
        <nav class="nav-sub card-block">
          <input type="checkbox" id="submenu2" class="nav-sub-input hidden">
          <div class="nav-sub-header">
            <label class="nav-link block uppercase row-center row-full" for="submenu2"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
          </div>
          <div class="nav-sub-content">
            <ul class="nav row-full">
              <li><a class="nav-link block" href="#">MENU</a></li>
              <li><a class="nav-link block" href="#">MENU</a></li>
              <li><a class="nav-link block" href="#">MENU</a></li>
              <li><a class="nav-link block" href="#">MENU</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-6">
        <nav class="nav-sub card-line">
          <input type="checkbox" id="submenu3" class="nav-sub-input hidden">
          <div class="nav-sub-header">
            <label class="nav-link block uppercase row-center row-full" for="submenu3"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
          </div>
          <div class="nav-sub-content">
            <ul class="nav nav-right row-full">
              <li><a class="nav-link block" href="#">MENU</a></li>
              <li><a class="nav-link block" href="#">MENU</a></li>
              <li><a class="nav-link block" href="#">MENU</a></li>
              <li><a class="nav-link block" href="#">MENU</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Nav Line</h3><br>

    <div class="row-fluid">
      <div class="col-6">
        <nav class="nav-sub">
          <input type="checkbox" id="submenu4" class="nav-sub-input hidden">
          <div class="nav-sub-header">
            <label class="nav-link block uppercase row-center row-full" for="submenu4"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
          </div>
          <div class="nav-sub-content">
            <ul class="nav-line row-full">
              <li class="nav-line-item"><a class="nav-link block" href="#"><b class="ico-bell"></b> MENU</a></li>
              <li class="nav-line-item"><a class="nav-link block" href="#"><b class="ico-box"></b> MENU</a></li>
              <li class="nav-line-item"><a class="nav-link block" href="#"><b class="ico-briefcase"></b> MENU</a></li>
              <li class="nav-line-item"><a class="nav-link block" href="#"><b class="ico-gift"></b> MENU</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-6">
        <nav class="nav-sub card-line">
          <input type="checkbox" id="submenu5" class="nav-sub-input hidden">
          <div class="nav-sub-header">
            <label class="nav-link block uppercase row-center row-full" for="submenu5"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
          </div>
          <div class="nav-sub-content">
            <ul class="nav-line nav-right row-full">
              <li class="nav-line-item"><a class="nav-link block" href="#"><b class="ico-bell"></b> MENU</a></li>
              <li class="nav-line-item"><a class="nav-link block" href="#"><b class="ico-box"></b> MENU</a></li>
              <li class="nav-line-item"><a class="nav-link block" href="#"><b class="ico-briefcase"></b> MENU</a></li>
              <li class="nav-line-item"><a class="nav-link block" href="#"><b class="ico-gift"></b> MENU</a></li>
            </ul>
          </div>
        </nav>
        
      </div>
    </div>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Nav ball</h3><br>

    <div class="row-fluid">
      <div class="col-6">
        <nav class="nav-sub card-primary">
          <input type="checkbox" id="submenu6" class="nav-sub-input hidden">
          <div class="nav-sub-header">
            <label class="nav-link block uppercase row-center row-full" for="submenu6"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
          </div>
          <div class="nav-sub-content">
            <ul class="nav-ball row-full">
              <li class="nav-ball-item"><a class="nav-link block" href="#">MENU</a></li>
              <li class="nav-ball-item dropdown">
                <a class="nav-link block" href="#">MENU <b class="ico-chevron-down"></b></a>
                <div class="dropdown-content dropdown-menu">
                  <a class="nav-link bt-block" href="#">MENU</a>
                  <a class="nav-link bt-block" href="#">MENU</a>
                </div>
              </li>
              <li class="nav-ball-item"><a class="nav-link block" href="#">MENU</a></li>
              <li class="nav-ball-item"><a class="nav-link block" href="#">MENU</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-6">
        <nav class="nav-sub card-shadown">
          <input type="checkbox" id="submenu7" class="nav-sub-input hidden">
          <div class="nav-sub-header">
            <label class="nav-link block uppercase row-center row-full" for="submenu7"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
          </div>
          <div class="nav-sub-content">
            <ul class="nav-ball nav-right row-full">
              <li class="nav-ball-item"><a class="nav-link block" href="#">MENU</a></li>
              <li class="nav-ball-item dropdown">
                <a class="nav-link block" href="#">MENU <b class="ico-chevron-down"></b></a>
                <div class="dropdown-content dropdown-menu">
                  <a class="nav-link bt-block" href="#">MENU</a>
                  <a class="nav-link bt-block" href="#">MENU</a>
                </div>
              </li>
              <li class="nav-ball-item"><a class="nav-link block" href="#">MENU</a></li>
              <li class="nav-ball-item"><a class="nav-link block" href="#">MENU</a></li>
            </ul>
          </div>
        </nav>
        
      </div>
    </div>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Nav Space</h3><br>
    <nav class="nav-sub card-block">
      <input type="checkbox" id="submenu8" class="nav-sub-input hidden">
      <div class="nav-sub-header">
        <label class="nav-link block uppercase row-center row-full" for="submenu8"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
      </div>
      <div class="nav-sub-content">
        <ul class="nav-space row-full">
          <li class="nav-space-item"><a class="nav-link bt-block" href="#">MENU</a></li>
          <li class="nav-space-item dropdown">
            <a class="nav-link bt-block" href="#">MENU <b class="ico-chevron-down"></b></a>
            <div class="dropdown-content dropdown-menu">
              <a class="nav-link bt-block" href="#">MENU</a>
              <a class="nav-link bt-block" href="#">MENU</a>
            </div>
          </li>
          <li class="nav-space-item"><a class="nav-link bt-block" href="#">MENU</a></li>
          <li class="nav-space-item"><a class="nav-link bt-block" href="#">MENU</a></li>
        </ul>
      </div>
    </nav>

  </fieldset>

</div>
