<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-archive"></b> Notificação</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="accordion.html">notificação <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

  <fieldset>
    <h3>Notificação</h3><br>

    <p class="alert-info"><strong>Informis!</strong> Quem manda na minha terra sou euzis! </p>
    <p class="alert-success"><strong>Tudo certis!</strong> Suco de cevadiss, é um leite divinis. </p>
    <p class="alert-alert"><strong>Fiquis atentis!</strong> Quem num gosta di mim que vai caçá sua turmis! </p>
    <p class="alert-error"><strong>Deu erris!</strong> Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. </p>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Notificação Icones</h3><br>

    <p class="alert-info alert-action">
      <em class="ico-info"></em>
      <strong>Informis!</strong> Quem manda na minha terra sou euzis!
      <a class="bt-close"><b class="ico-x"></b></a>
    </p>
    <p class="alert-success alert-action">
      <em class="ico-check"></em>
      <strong>Tudo certis!</strong> Suco de cevadiss, é um leite divinis.
      <a class="bt-close"><b class="ico-x"></b></a>
    </p>
    <p class="alert-alert alert-action">
      <em class="ico-bell"></em>
      <strong>Fiquis atentis!</strong> Quem num gosta di mim que vai caçá sua turmis!
      <a class="bt-close"><b class="ico-x"></b></a>
    </p>
    <p class="alert-error alert-action">
      <em class="ico-alert-triangle"></em>
      <strong>Deu erris!</strong> Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      <a class="bt-close"><b class="ico-x"></b></a>
    </p>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Notificação Block</h3><br>

    <p class="alert-info-block"><strong>Informis!</strong> Quem manda na minha terra sou euzis! </p>
    <p class="alert-success-block"><strong>Tudo certis!</strong> Suco de cevadiss, é um leite divinis. </p>
    <p class="alert-alert-block"><strong>Fiquis atentis!</strong> Quem num gosta di mim que vai caçá sua turmis! </p>
    <p class="alert-error-block"><strong>Deu erris!</strong> Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. </p>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Notificação Block Icones</h3><br>

    <p class="alert-info-block alert-action">
      <em class="ico-alert-octagon"></em>
      <strong>Informis!</strong> Quem manda na minha terra sou euzis!
      <a class="bt-close"><b class="ico-x"></b></a>
    </p>
    <p class="alert-success-block alert-action">
      <em class="ico-check-circle"></em>
      <strong>Tudo certis!</strong> Suco de cevadiss, é um leite divinis.
      <a class="bt-close"><b class="ico-x"></b></a>
    </p>
    <p class="alert-alert-block alert-action">
      <em class="ico-bell"></em>
      <strong>Fiquis atentis!</strong> Quem num gosta di mim que vai caçá sua turmis!
      <a class="bt-close"><b class="ico-x"></b></a>
    </p>
    <p class="alert-error-block alert-action">
      <em class="ico-x"></em>
      <strong>Deu erris!</strong> Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
      <a class="bt-close"><b class="ico-x"></b></a>
    </p>

  </fieldset>

  <br><br>

  <fieldset>
    <h3>Notificação Box</h3><br>

    <div class="row-fluid">
      <div class="box col-6">
        <div class="alert-box">
          <h4><em class="ico-bell"></em> Alerta Box</h4><br>
          Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora torquent.
          Quem manda na minha terra sou euzis! Per aumento de cachacis, eu reclamis. Casamentiss faiz malandris se pirulitá.
        </div>
      </div>
      <div class="box col-6">
        <div class="alert-box-block">
          <h4><em class="ico-alert-octagon"></em> Alerta Box Block</h4><br>
          Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora torquent.
          Quem manda na minha terra sou euzis! Per aumento de cachacis, eu reclamis. Casamentiss faiz malandris se pirulitá.
          <a class="bt-close"><b class="ico-x"></b></a>
        </div>
      </div>
    </div>



  </fieldset>

  <br><br>

  <fieldset>
    <h3>Notificações Status</h3><br>

    <ul class="list-line">
      <li class="list-line-item"><a class="bt" href="#">Top Left</a></li>
      <li class="list-line-item"><a class="bt" href="#">Top Center</a></li>
      <li class="list-line-item"><a class="bt" href="#">Top right</a></li>
      <li class="list-line-item"><a class="bt" href="#">Bottom left</a></li>
      <li class="list-line-item"><a class="bt" href="#">Bottom center</a></li>
      <li class="list-line-item"><a class="bt" href="#">Bottom right</a></li>
    </ul>
  </fieldset>

  <br><br>

  <fieldset>
    <h3>Tooltipe</h3><br>

    <div class="row">
      <div class="box col-2 col-m-4">
        <button class="bt tooltip-left" data-tooltip="Tooltip text">Tootipe Left</button>
        <p><a class="link tooltip-left" href="#" data-tooltip="Tooltip text">Tootipe Left</a></p>
      </div>
      <div class="box col-2 col-m-4">
        <button class="bt tooltip-top" data-tooltip="Tooltip text">Tootipe Top</button>
        <p><a class="link tooltip-top" href="#" data-tooltip="Tooltip text">Tootipe Top</a></p>
      </div>
      <div class="box col-2 col-m-4">
        <button class="bt tooltip-right" data-tooltip="Tooltip text">Tootipe Right</button>
        <p><a class="link tooltip-right" href="#" data-tooltip="Tooltip text">Tootipe Right</a></p>
      </div>
      <div class="box col-2 col-m-4">
        <button class="bt tooltip-bottom" data-tooltip="Tooltip text">Tootipe Bottom</button>
        <p><a class="link tooltip-bottom" href="#" data-tooltip="Tooltip text">Tootipe Bottom</a></p>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <h3>Popover</h3><br>

    <div class="popover">
      <a href="#" class="link"><b class="ico-file-text"></b> Resumo</a>

      <div class="popover-container">
        <h4 class="popover-title">Resumo</h4>
        <div class="popover-content">
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora torquent.
            Quem manda na minha terra sou euzis! Per aumento de cachacis, eu reclamis. Casamentiss faiz malandris se pirulitá.</p>
        </div>
      </div>

    </div>

  </fieldset>

</div>


<!-- notificações -->
<div class="notify notify-top-left">
  <div class="alert-info-block alert-action">
    <em class="ico-info"></em>
    <strong>Informis!</strong> Quem manda na minha terra sou euzis!
    <a class="bt-close"><b class="ico-x"></b></a>
  </div>
</div>

<div class="notify notify-top-center">
  <div class="alert-error-block alert-action">
    <em class="ico-info"></em>
    <strong>Informis!</strong> Quem manda na minha terra sou euzis!
    <a class="bt-close"><b class="ico-x"></b></a>
  </div>
</div>

<div class="notify notify-top-right">
  <div class="alert-success-block alert-action">
    <em class="ico-info"></em>
    <strong>Informis!</strong> Quem manda na minha terra sou euzis!
    <a class="bt-close"><b class="ico-x"></b></a>
  </div>
</div>

<div class="notify notify-bottom-left">
  <div class="alert-alert-block alert-action">
    <em class="ico-info"></em>
    <strong>Informis!</strong> Quem manda na minha terra sou euzis!
    <a class="bt-close"><b class="ico-x"></b></a>
  </div>
</div>

<div class="notify notify-bottom-center">
  <div class="alert-box-block alert-action">
    <em class="ico-info"></em>
    <strong>Informis!</strong> Quem manda na minha terra sou euzis!
    <a class="bt-close"><b class="ico-x"></b></a>
  </div>
</div>

<div class="notify notify-bottom-right">
  <div class="alert-success-block alert-action">
    <em class="ico-info"></em>
    <strong>Informis!</strong> Quem manda na minha terra sou euzis!
    <a class="bt-close"><b class="ico-x"></b></a>
  </div>
</div>
<!-- fim: notificações -->
