<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-archive"></b> Slides</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="slide.html">slide <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

  <div class="row-fluid">
    <div class="col-6 box">
      <fieldset>
        <h3>Slides</h3><br>
        <!-- slide -->
        <div class="slide">
          <input type="radio" name="slide-1" id="slide-1" class="hidden slide-input-1" checked>
          <input type="radio" name="slide-1" id="slide-2" class="hidden slide-input-2">
          <input type="radio" name="slide-1" id="slide-3" class="hidden slide-input-3">
          <input type="radio" name="slide-1" id="slide-4" class="hidden slide-input-4">

          <div class="slide-nav">
            <label  class="slide-label slide-1" for="slide-1"></label>
            <label  class="slide-label slide-2" for="slide-2"></label>
            <label  class="slide-label slide-3" for="slide-3"></label>
            <label  class="slide-label slide-4" for="slide-4"></label>
          </div>

          <div class="slide-arrows">
            <label  class="slide-arrow arrow-1" for="slide-1"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-2" for="slide-2"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-3" for="slide-3"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-4" for="slide-4"><b class="ico-chevron-left"></b></label>
          </div>

          <!-- slide container -->
          <div class="slide-container">

            <!-- slide 1 -->
            <div class="slide-item slide-1 card">

              <figure class="figure">
                <img src="images/slide-1.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-caption">
                <h2 class="text-white">Atirei o pau no gatis</h2><br>
                <p class="text text-white">Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Detraxit consequat et quo num tendi nada. </p>
              </div>

            </div>
            <!-- fim: slide 1 -->

            <!-- slide 2 -->
            <div class="slide-item slide-2 card">

              <figure class="figure">
                <img src="images/slide-2.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-caption">
                <h2 class="text-white">Mussum Ipsum, cacilds vidis litro abertis.</h2><br>
                <p class="text text-white">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </p>
              </div>

            </div>
            <!-- fim: slide 2 -->

            <!-- slide 3 -->
            <div class="slide-item slide-3 card">

              <figure class="figure">
                <img src="images/slide-3.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-caption">
                <h2 class="text-white">Casamentiss faiz malandris se pirulitá.</h2><br>
                <p class="text text-white">Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Detraxit consequat et quo num tendi nada. </p>
              </div>

            </div>
            <!-- fim: slide 3 -->

            <!-- slide 4 -->
            <div class="slide-item slide-4 card">

              <figure class="figure">
                <img src="images/slide-4.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-caption">
                <h2 class="text-white">Vide electram sadipscing et per</h2><br>
                <p class="text text-white">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </p>
              </div>

            </div>
            <!-- fim: slide 4 -->


          </div>
          <!-- fim: slide container -->

        </div>
        <!-- fim: slide -->
      </fieldset>
    </div>
    <div class="col-6 box">
      <fieldset>
        <h3>Slides Center</h3><br>
        <!-- slide -->
        <div class="slide bg-black-dark">
          <input type="radio" name="slide-2" id="slide2-1" class="hidden slide-input-1" checked>
          <input type="radio" name="slide-2" id="slide2-2" class="hidden slide-input-2">
          <input type="radio" name="slide-2" id="slide2-3" class="hidden slide-input-3">
          <input type="radio" name="slide-2" id="slide2-4" class="hidden slide-input-4">

          <div class="slide-nav">
            <label  class="slide-label slide-1" for="slide2-1"></label>
            <label  class="slide-label slide-2" for="slide2-2"></label>
            <label  class="slide-label slide-3" for="slide2-3"></label>
            <label  class="slide-label slide-4" for="slide2-4"></label>
          </div>

          <div class="slide-arrows">
            <label  class="slide-arrow arrow-1" for="slide2-1"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-2" for="slide2-2"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-3" for="slide2-3"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-4" for="slide2-4"><b class="ico-chevron-left"></b></label>
          </div>

          <!-- slide container -->
          <div class="slide-container">

            <!-- slide 1 -->
            <div class="slide-item slide-1 card">

              <figure class="figure">
                <img src="images/slide-1.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-caption sc-center">
                <h1 class="text-center text-white">Atirei o pau no gatis</h1><br>
                <p class="text text-center text-white">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </p>
              </div>

            </div>
            <!-- fim: slide 1 -->

            <!-- slide 2 -->
            <div class="slide-item slide-2 card">

              <figure class="figure">
                <img src="images/slide-2.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-caption sc-center">
                <h1 class="text-center text-white">Mussum Ipsum, cacilds vidis litro abertis</h1><br>
                <p class="text text-center text-white">Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Detraxit consequat et quo num tendi nada. </p>
              </div>

            </div>
            <!-- fim: slide 2 -->

            <!-- slide 3 -->
            <div class="slide-item slide-3 card">

              <figure class="figure">
                <img src="images/slide-3.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-caption sc-center">
                <h1 class="text-center text-white">Casamentiss faiz malandris se pirulitá</h1><br>
                <p class="text text-center text-white">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </p>
              </div>

            </div>
            <!-- fim: slide 3 -->

            <!-- slide 4 -->
            <div class="slide-item slide-4 card">

              <figure class="figure">
                <img src="images/slide-4.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-caption sc-center">
                <h1 class="text-center text-white">Vide electram sadipscing et per</h1><br>
                <p class="text text-center text-white">Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Detraxit consequat et quo num tendi nada. </p>
              </div>

            </div>
            <!-- fim: slide 4 -->


          </div>
          <!-- fim: slide container -->

        </div>
        <!-- fim: slide -->
      </fieldset>
    </div>
    <div class="col-12 box">
      <fieldset>
        <h3>Slides Box</h3><br>
        <!-- slide -->
        <div class="slide bg-primary">
          <input type="radio" name="slide-3" id="slide3-1" class="hidden slide-input-1" checked>
          <input type="radio" name="slide-3" id="slide3-2" class="hidden slide-input-2">
          <input type="radio" name="slide-3" id="slide3-3" class="hidden slide-input-3">
          <input type="radio" name="slide-3" id="slide3-4" class="hidden slide-input-4">

          <div class="slide-nav">
            <label  class="slide-label slide-1" for="slide3-1"></label>
            <label  class="slide-label slide-2" for="slide3-2"></label>
            <label  class="slide-label slide-3" for="slide3-3"></label>
            <label  class="slide-label slide-4" for="slide3-4"></label>
          </div>

          <div class="slide-arrows">
            <label  class="slide-arrow arrow-1" for="slide3-1"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-2" for="slide3-2"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-3" for="slide3-3"><b class="ico-chevron-left"></b></label>
            <label  class="slide-arrow arrow-4" for="slide3-4"><b class="ico-chevron-left"></b></label>
          </div>

          <!-- slide container -->
          <div class="slide-container">

            <!-- slide 1 -->
            <div class="slide-item slide-1 row bg-black">

              <figure class="col-6 figure">
                <img src="images/slide-1.jpg" alt="Fundo Login">
              </figure>

              <div class="slide-box row">
                <div class="col-6 max-s"></div>
                <div class="col-6">
                  <div class="slide-caption sc-center">
                    <h1 class="text-white">Atirei o pau no gatis</h1><br>
                    <p class="text text-white">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </p>
                  </div>
                </div>
              </div>

            </div>
            <!-- fim: slide 1 -->

            <!-- slide 2 -->
            <div class="slide-item slide-2 row bg-black">

              <div class="slide-box row">
                <div class="col-6">
                  <div class="slide-caption sc-center">
                    <h1 class="text-right text-white">Atirei o pau no gatis</h1><br>
                    <p class="text text-right text-white">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </p>
                  </div>
                </div>
                <div class="col-6 max-s"></div>
              </div>

              <figure class="col-6 figure ml-auto">
                <img src="images/slide-2.jpg" alt="Fundo Login">
              </figure>


            </div>
            <!-- fim: slide 2 -->

            <!-- slide 3 -->
            <div class="slide-item slide-3 row bg-black">

              <div class="slide-box row">
                <div class="col-6 max-s"></div>
                <div class="col-6">
                  <div class="slide-caption sc-center">
                    <h1 class="text-white">Atirei o pau no gatis</h1><br>
                    <p class="text text-white">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </p>
                  </div>
                </div>
              </div>

              <figure class="col-6 figure">
                <img src="images/slide-3.jpg" alt="Fundo Login">
              </figure>


            </div>
            <!-- fim: slide 3 -->

            <!-- slide 4 -->
            <div class="slide-item slide-4 row bg-black">

              <div class="slide-box row">
                <div class="col-6">
                  <div class="slide-caption sc-center">
                    <h1 class="text-right text-white">Atirei o pau no gatis</h1><br>
                    <p class="text text-right text-white">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </p>
                  </div>
                </div>
              </div>

              <figure class="col-6 figure ml-auto">
                <img src="images/slide-4.jpg" alt="Fundo Login">
              </figure>


            </div>
            <!-- fim: slide 4 -->


          </div>
          <!-- fim: slide container -->

        </div>
        <!-- fim: slide -->
      </fieldset>
    </div>
  </div>
</div>
