<!-- HEADER -->
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-aperture"></b> Símbolos</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <a href="icons.html">Icones <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content">

    <div class="row">

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#logo"/>
            </svg>
            <span class="mls ml-10"> #Logo</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#adobe"/>
            </svg>
            <span class="mls ml-10"> #adobe</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#android"/>
            </svg>
            <span class="mls ml-10"> #android</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#apple"/>
            </svg>
            <span class="mls ml-10"> #apple</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#facebook"/>
            </svg>
            <span class="mls ml-10"> #facebook</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#linkedin"/>
            </svg>
            <span class="mls ml-10"> #linkedin</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#twitter"/>
            </svg>
            <span class="mls ml-10"> #twitter</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#whatsapp"/>
            </svg>
            <span class="mls ml-10"> #whatsapp</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#youtube"/>
            </svg>
            <span class="mls ml-10"> #youtube</span>
          </div>
        </fieldset>

        <fieldset class="col-2 col-m-4">
          <div class="row-center">
            <svg class="svg fs-52">
              <use xlink:href="images/ico/icons.svg#flickr"/>
            </svg>
            <span class="mls ml-10"> #flickr</span>
          </div>
        </fieldset>
    
      </div>

</div>
