
<div class="page-header">
  <h2 class="page-header__title"><b class="ico-archive"></b> Tabs</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="tabs.html">tabs <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>


<section class="content-center">

  <fieldset>
    <h3>Tab Button</h3><br>

    <div class="tab-button">
      <input type="radio" name="tab" id="tab-1" class="tab-input-1 hidden" checked>
      <input type="radio" name="tab" id="tab-2" class="tab-input-2 hidden">

      <nav class="tab-nav nav nav-center">
        <label class="tab-label card-shadow tab-1" for="tab-1"><b class="ico-user"></b> Meu Perfil</label>
        <label class="tab-label card-shadow tab-2" for="tab-2"><b class="ico-align-left"></b> Descrição</label>
      </nav>
      
      <div class="tab-container section-sm text-center">

        <div class="tab-content tab-1">
          <h1>Meu Perfil</h1>
          <p class="text">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Praesent malesuada urna nisi,
            quis volutpat erat hendrerit non. Nam vulputate dapibus. Manduma pindureta quium dia nois paga. In elementis mé pra quem é amistosis quis leo.</p>
        </div>
        
        <div class="tab-content tab-2">
          <h1>Minha Descrição</h1>
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta.
            Sapien in monti palavris qui num significa nadis i pareci latim. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            A ordem dos tratores não altera o pão duris.</p>
        </div>
        
      </div>
    
    </div>

  </fieldset>

  <fieldset>
    <h3>Tab Block</h3><br>

    <div class="tab-block row-center row-col">
      <input type="radio" name="tab-block" id="tab-block1" class="tab-input-1 hidden" checked>
      <input type="radio" name="tab-block" id="tab-block2" class="tab-input-2 hidden">

      <nav class="tab-nav nav nav-center">
        <label class="tab-label tab-1" for="tab-block1"><b class="ico-user"></b> Meu Perfil</label>
        <label class="tab-label tab-2" for="tab-block2"><b class="ico-align-left"></b> Descrição</label>
      </nav>
      
      <div class="tab-container section-sm text-center">

        <div class="tab-content tab-1">
          <h1>Meu Perfil</h1>
          <p class="text">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Praesent malesuada urna nisi,
            quis volutpat erat hendrerit non. Nam vulputate dapibus. Manduma pindureta quium dia nois paga. In elementis mé pra quem é amistosis quis leo.</p>
        </div>
        
        <div class="tab-content tab-2">
          <h1>Minha Descrição</h1>
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta.
            Sapien in monti palavris qui num significa nadis i pareci latim. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            A ordem dos tratores não altera o pão duris.</p>
        </div>
        
      </div>
    
    </div>

  </fieldset>

  <fieldset>
    <h3>Tab Icon</h3><br>

    <div class="tab-icon row-center row-col">
      <input type="radio" name="tab-icon" id="tab-icon1" class="tab-input-1 hidden" checked>
      <input type="radio" name="tab-icon" id="tab-icon2" class="tab-input-2 hidden">

      <nav class="tab-nav nav nav-center">
        <label class="tab-label tooltip-top tab-1" data-tooltip="Meu Perfil" for="tab-icon1"><b class="ico-user"></b><span>Meu Perfil</span></label>
        <label class="tab-label tooltip-top tab-2" data-tooltip="Descrição" for="tab-icon2"><b class="ico-align-left"></b><span>Descrição</span></label>
      </nav>
      
      <div class="tab-container section-sm text-center">

        <div class="tab-content tab-1">
          <h1>Meu Perfil</h1>
          <p class="text">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Praesent malesuada urna nisi,
            quis volutpat erat hendrerit non. Nam vulputate dapibus. Manduma pindureta quium dia nois paga. In elementis mé pra quem é amistosis quis leo.</p>
        </div>
        
        <div class="tab-content tab-2">
          <h1>Minha Descrição</h1>
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta.
            Sapien in monti palavris qui num significa nadis i pareci latim. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            A ordem dos tratores não altera o pão duris.</p>
        </div>
        
      </div>
    
    </div>

  </fieldset>

  <fieldset>

    <h3>Tab Line</h3><br>
    
    <div class="tab-line ">
      <input type="radio" name="tab-line" id="tab-line1" class="tab-input-1 hidden" checked>
      <input type="radio" name="tab-line" id="tab-line2" class="tab-input-2 hidden">

      
      <nav class="tab-nav">
        <label class="tab-label tab-1" for="tab-line1"><b class="ico-user"></b> Meu Perfil</label>
        <label class="tab-label tab-2" for="tab-line2"><b class="ico-align-left"></b> Descrição</label>
      </nav>
      

      
      <div class="tab-container section-sm">

        
        <div class="tab-content tab-1">
          <h1>Meu Perfil</h1>
          <p class="text">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Praesent malesuada urna nisi,
            quis volutpat erat hendrerit non. Nam vulputate dapibus. Manduma pindureta quium dia nois paga. In elementis mé pra quem é amistosis quis leo.</p>
        </div>
        
        
        <div class="tab-content tab-2">
          <h1>Minha Descrição</h1>
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta.
            Sapien in monti palavris qui num significa nadis i pareci latim. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            A ordem dos tratores não altera o pão duris.</p>
        </div>
        

      </div>
      

    </div>

  </fieldset>

  <fieldset>
    <h3>Tab Vertical</h3><br>

    
    <div class="tab-vertical">

      <input type="radio" name="tab-v1" id="tab-v1" class="tab-input-1 hidden" checked>
      <input type="radio" name="tab-v1" id="tab-v2" class="tab-input-2 hidden">

      
      <nav class="tab-nav">
        <label class="tab-label tab-1" for="tab-v1"><b class="ico-user"></b> Meu Perfil</label>
        <label class="tab-label tab-2" for="tab-v2"><b class="ico-align-left"></b> Descrição</label>
      </nav>
      

      
      <div class="tab-container">
        
        <div class="tab-content tab-1">
          <h1>Meu Perfil</h1>
          <p class="text">Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Praesent malesuada urna nisi,
            quis volutpat erat hendrerit non. Nam vulputate dapibus. Manduma pindureta quium dia nois paga. In elementis mé pra quem é amistosis quis leo.</p>
        </div>
        

        
          <div class="tab-content tab-2">
            <h1>Minha Descrição</h1>
            <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta.
              Sapien in monti palavris qui num significa nadis i pareci latim. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
              A ordem dos tratores não altera o pão duris.</p>
          </div>
          

        </div>
        

      </div>
      

    </fieldset>

</section>
