<!-- HEADER -->
<div class="page-header pl-grid">
  <h2 class="page-header-title"><b class="ico-italic"></b> Tipografia</h2>
  <ul class="crumbs">
    <li>
      <a href="../index.html">Início <b class="ico ico-arrow-right"></b></a>
    </li>
    <li>
      <p>Elementos <b class="ico ico-arrow-right"></b></p>
    </li>
    <li>
      <a href="grid.html">tipografia <b class="ico ico-arrow-right"></b></a>
    </li>
  </ul>
</div>
<!-- fim: HEADER -->

<div class="content-center">

  <fieldset>

    <h1>h1 Título</h1><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
      Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p><br>

  </fieldset>

  <br><br>

  <fieldset>

    <h2>h2 Título</h2><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
      Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p><br>

  </fieldset>

  <br><br>

  <fieldset>

    <h3>h3 Título</h3><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
      Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p><br>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>h4 Título</h4><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
      Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p><br>

  </fieldset>

  <br><br>

  <fieldset>

    <h5>h5 Título</h5><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
      Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p><br>

  </fieldset>

  <br><br>

  <fieldset>

    <h6>h6 Título</h6><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
      Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p><br>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>blockquote</h4><br>

    <blockquote class="blockquote">
      <em>"</em>
      In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
      Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</blockquote><br>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>HTML text</h4><br>

    <p class="text">In elementis <a class="link">link hover</a> mé pra quem é amistosis quis leo. Per aumento de cachacis, <span class="tooltip">tooltips <em>tooltip text</em></span> eu reclamis. Copo furadis é <mark>disculpa de bebadis</mark>, arcu quam euismod magna.
      Posuere <b>libero varius.</b> Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p><br>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>List Icons</h4><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis.
      Copo furadis é disculpa de bebadis, arcu quam euismod magna.</p>
      <ul class="list-icons">
        <li>Não sou faixa preta cumpadi</li>
        <li>Copo furadis é disculpa de bebadis</li>
        <li>Quem manda na minha terra sou euzis!</li>
        <li>Suco de cevadiss deixa as pessoas mais interessantis</li>
        <li>Ninguém vê os tombis que eu levo!</li>
      </ul>
      <p class="text">Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>List Order</h4><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis.
      Copo furadis é disculpa de bebadis, arcu quam euismod magna.</p>
      <ol class="list-order">
        <li>Não sou faixa preta cumpadi</li>
        <li>Copo furadis é disculpa de bebadis</li>
        <li>Quem manda na minha terra sou euzis!</li>
        <li>Suco de cevadiss deixa as pessoas mais interessantis</li>
        <li>Ninguém vê os tombis que eu levo!</li>
      </ol>
      <p class="text">Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>List Clear</h4><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis.
      Copo furadis é disculpa de bebadis, arcu quam euismod magna.</p>
      <ol class="list-clear">
        <li class="list-clear-item">Não sou faixa preta cumpadi</li>
        <li class="list-clear-item">Copo furadis é disculpa de bebadis</li>
        <li class="list-clear-item">Quem manda na minha terra sou euzis!</li>
        <li class="list-clear-item">Suco de cevadiss deixa as pessoas mais interessantis</li>
        <li class="list-clear-item">Ninguém vê os tombis que eu levo!</li>
      </ol>
      <p class="text">Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>List Line</h4><br>

    <p class="text">In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis.
      Copo furadis é disculpa de bebadis, arcu quam euismod magna.</p>
      <ol class="list-line">
        <li class="list-line-item">Não sou faixa preta cumpadi</li>
        <li class="list-line-item">Copo furadis é disculpa de bebadis</li>
        <li class="list-line-item">Quem manda na minha terra sou euzis!</li>
        <li class="list-line-item">Suco de cevadiss deixa as pessoas mais interessantis</li>
        <li class="list-line-item">Ninguém vê os tombis que eu levo!</li>
      </ol>
      <p class="text">Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>Imagem Centralizada</h4><br>

    <figure>
      <img src="images/bg-login.svg" alt="Tela de Login">

      <figcaption>Casamentiss faiz malandris se pirulitá.</figcaption>
    </figure>

    <p class="text">Casamentiss faiz malandris se pirulitá. Sapien in monti palavris qui num significa nadis i pareci latim.
      Manduma pindureta quium dia nois paga. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>Imagem Esquerda</h4><br>

    <div class="row">
      <div class="col-6 box">
        <figure>
          <img src="images/bg-login.svg" alt="Tela de Login">

          <figcaption>Casamentiss faiz malandris se pirulitá.</figcaption>
        </figure>
      </div>
      <div class="col-6 box">
        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non.
          Nam vulputate dapibus. Aenean aliquam molestie leo, vitae iaculis nisl. Per aumento de cachacis, eu reclamis. Nec orci ornare consequat.
          Praesent lacinia ultrices consectetur. Sed non ipsum felis.
          Casamentiss faiz malandris se pirulitá. Sapien in monti palavris qui num significa nadis i pareci latim. Manduma pindureta quium dia nois paga.
          Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
      </div>
    </div>

  </fieldset>

  <br><br>

  <fieldset>

    <h4>Imagem Direita</h4><br>

    <div class="row">
      <div class="col-6 box">
        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non.
          Nam vulputate dapibus. Aenean aliquam molestie leo, vitae iaculis nisl. Per aumento de cachacis, eu reclamis. Nec orci ornare consequat.
          Praesent lacinia ultrices consectetur. Sed non ipsum felis.
          Casamentiss faiz malandris se pirulitá. Sapien in monti palavris qui num significa nadis i pareci latim. Manduma pindureta quium dia nois paga.
          Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
      </div>
      <div class="col-6 box">
        <figure>
          <img src="images/bg-login.svg" alt="Tela de Login">

          <figcaption>Casamentiss faiz malandris se pirulitá.</figcaption>
        </figure>
      </div>
    </div>

  </fieldset>

</div>
