<article class="page">

  <!-- HEADER -->
  <div class="page-header">
    <h2 class="page-header-title"><b class="ico-user"></b> Administrativo</h2>
    <ul class="crumbs">
      <li><a href="index.html">Início</a></li>
      <li><a class="link_files" href="#">Arquivos</a></li>
      <li><p>Administrativo</p></li>
    </ul>
  </div>
  <!-- fim: HEADER -->

  <!-- submenu -->
  <nav class="page-sub row-center">
    <ul class="nav-line row-full">
      <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Novo movimento"><b class="ico-file"></b> Novo movimento</a></li>
      <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Copiar capa"><b class="ico-copy"></b> Copiar</a></li>
      <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Histórico completo"><b class="ico-clock"></b> Histórico</a></li>
      <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Imprimir etiqueta"><b class="ico-printer"></b> Etiqueta</a></li>
      <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Arquivar"><b class="ico-archive"></b> Arquivar</a></li>
      <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Imprimir"><b class="ico-printer"></b></a></li>
    </ul>
  </nav>
  <!-- fim: submenu -->
  <div class="content-center">

    <!-- process -->
    <div class="card">

      <!-- process | header -->
      <div class="card-header-line box-two bg-sucess-dark">

        <div class="divider mt-0 mb-10 text-white">DEPARTAMENTO DE REGISTRO DE PESSOAL</div>

        <article class="box-modern row-top bg-white text-black">
          <figure class="col-m-2 col-2 user pr-20 max-s">
            <img src="images/ico/mp-color.svg" alt="Logo MP-GO">
          </figure>
          <div class="col-m-8 col-8 lh-30">
            <div class="row">
              <h2 class="mr-15">2018 0000 0001</h2>
              <span class="tooltip-top" data-tooltip="Favoritar">
                <label class="bt-check" for="star-1"><input type="checkbox" id="star-1" class="bt-check-input hidden"><em class="ico-star fs-22"></em></label>
              </span>
            </div>
            <h4>Autos Administrativo</h4>
            <h5 class="text-gray-dark block">
              <span class="tooltip-top tooltip-up" data-tooltip="Administrativo do MP / Procedimento de Gestão Administrativa">Procedimento de Gestão Administrativa</span>
            </h5>
            <h5 class="text-gray-dark block">
              <span class="tooltip-top tooltip-up" data-tooltip="Gestão de Documentos e Informações / Tecnologia da Informação e Comunicação / Sistemas de informação">Sistemas de informação</span>
            </h5>
            <h5 class="text-gray-dark block">Envolvido(s):
              <span class="tooltip-top tooltip-up" data-tooltip="Interessado(a)">Guilherme Maranhão</span> | <span class="tooltip-top tooltip-up" data-tooltip="Interessado(a)">Mariana Rocha</span></h5>
          </div>
          <div class="col-m-2 col-2 lh-20">
            <small class="block fs-14"><b class="ico-calendar"></b> 01/01/2018</small>
            <small class="block fs-14"><b class="ico-clock"></b> 13:03</small>
          </div>
        </article>


      </div>
      <!-- fim: process | header -->


      <!-- process | content -->
      <div class="card-content box-two">

        <!-- register -->
        <fieldset>
          <div class="nav-line">

            <div class="nav-line-item row-full">
              <article class="lh-20">
                <h5>STATUS</h5>
                <ul class="nav-ball">
                  <li class="nav-ball-item"><small><strong>Administrativo</strong></small></li>
                  <li class="nav-ball-item"><small><strong>Andamento</strong></small></li>
                </ul>
              </article>
            </div>

            <div class="nav-line-item">
              <article class="lh-20">
                <h5>POSSE</h5>
                <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Mariana Rocha | </strong>Superintendência de Informática</small>
              </article>
            </div>

          </div>
        </fieldset>
        <!-- fim: register -->

        <!-- tabs -->
        <div class="tab">
          <input type="radio" name="tab-1" id="tab-1" class="tab-input-1 hidden" checked>
          <input type="radio" name="tab-1" id="tab-2" class="tab-input-2 hidden">
          <nav class="tab-nav">
            <label class="tab-label tab-1" for="tab-1"><b class="ico-layers"></b> Movimentos (03)</label>
            <label class="tab-label tab-2" for="tab-2"><b class="ico-link"></b> Apensos (01)</label>
          </nav>
          <div class="tab-container">

            <!-- tabs 1 -->
            <article class="tab-content tab-1">

              <!-- accordion -->
              <div class="accordion">

                <!-- accordion | box 1 -->
                <div class="divider mt-20 mb-20">1º MOVIMENTO</div>

                <div class="accordion-box card-line">
                  <input type="checkbox" name="accordion-1" id="acord-1" class="accordion-input" checked>

                  <!-- accordion | header -->
                  <label class="accordion-header" for="acord-1">
                    <article class="row">
                      <b class="ico-layers fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Movimento 001</h4>
                        <small class="text-gray-dark block"><strong>Autos Administrativo: 2018 0000 0001</strong></small>
                        <small class="text-gray-dark block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>
                  <!-- fim: accordion | header -->

                  <!-- accordion | content -->
                  <div class="accordion-container">
                    <div class="accordion-content">

                      <!-- info -->
                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                           Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                           Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                              Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                      </div>
                      <!-- fim: info -->

                      <!-- register -->
                      <br>
                      <div class="row-fluid">

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>REGISTRO</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme Maranhão</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>RESPONSÁVEL</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Mariana Rocha</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                      </div>
                      <!-- fim: register -->

                      <!-- printer -->
                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>
                      <!-- printer -->

                    </div>
                  </div>
                  <!-- fim: accordion | content -->
                </div>
                <!-- fim: accordion | box 1 -->

                <div class="divider">ÚLTIMOS MOVIMENTO</div>

                <!-- accordion | box 2 -->
                <div class="accordion-box card-line mb-20">
                  <input type="checkbox" name="accordion-2" id="acord-2" class="accordion-input">

                  <!-- accordion | header -->
                  <label class="accordion-header" for="acord-2">
                    <article class="row">
                      <b class="ico-layers fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Movimento 003</h4>
                        <small class="text-gray-dark block"><strong>Autos Administrativo: 2018 0000 0002</strong></small>
                        <small class="text-gray-dark block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>
                  <!-- fim: accordion | header -->

                  <!-- accordion | content -->
                  <div class="accordion-container">
                    <div class="accordion-content">

                      <!-- info -->
                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                           Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                           Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                              Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                      </div>
                      <!-- fim: info -->

                      <!-- register -->
                      <br>
                      <div class="row-fluid">

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>REGISTRO</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme Maranhão</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>RESPONSÁVEL</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Tiago Melo</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                      </div>
                      <!-- fim: register -->

                      <!-- printer -->
                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>
                      <!-- printer -->

                    </div>
                  </div>
                  <!-- fim: accordion | content -->
                </div>
                <!-- fim: accordion | box 2 -->

                <!-- accordion | box 3 -->
                <div class="accordion-box card-line mb-20">
                  <input type="checkbox" name="accordion-2" id="acord-2" class="accordion-input">

                  <!-- accordion | header -->
                  <label class="accordion-header" for="acord-2">
                    <article class="row">
                      <b class="ico-layers fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Movimento 002</h4>
                        <small class="text-gray-dark block"><strong>Autos Administrativo: 2018 00189 1328</strong></small>
                        <small class="text-gray-dark block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>
                  <!-- fim: accordion | header -->

                  <!-- accordion | content -->
                  <div class="accordion-container">
                    <div class="accordion-content">

                      <!-- info -->
                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                           Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                           Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                              Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                      </div>
                      <!-- fim: info -->

                      <!-- register -->
                      <br>
                      <div class="row-fluid">

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>REGISTRO</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme Maranhão</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>RESPONSÁVEL</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Thiago Melo</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                      </div>
                      <!-- fim: register -->

                      <!-- printer -->
                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>
                      <!-- printer -->

                    </div>
                  </div>
                  <!-- fim: accordion | content -->
                </div>
                <!-- fim: accordion | box 3 -->

                <!-- accordion | box 4 -->
                <div class="accordion-box card-line mb-20">
                  <input type="checkbox" name="accordion-2" id="acord-2" class="accordion-input">

                  <!-- accordion | header -->
                  <label class="accordion-header" for="acord-2">
                    <article class="row">
                      <b class="ico-layers fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Movimento 001</h4>
                        <small class="text-gray-dark block"><strong>Autos Administrativo: 2018 0000 0001</strong></small>
                        <small class="text-gray-dark block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>
                  <!-- fim: accordion | header -->

                  <!-- accordion | content -->
                  <div class="accordion-container">
                    <div class="accordion-content">

                      <!-- info -->
                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                           Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                           Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                              Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                      </div>
                      <!-- fim: info -->

                      <!-- register -->
                      <br>
                      <div class="row-fluid">

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>REGISTRO</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme Maranhão</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>RESPONSÁVEL</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Mariana Rocha</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                      </div>
                      <!-- fim: register -->

                      <!-- printer -->
                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>
                      <!-- printer -->

                    </div>
                  </div>
                  <!-- fim: accordion | content -->
                </div>
                <!-- fim: accordion | box 4 -->

              </div>
              <!-- fim: accordion -->

            </article>
            <!-- fim: tabs 1 -->

            <!-- tabs 2 -->
            <article class="tab-content tab-2">

              <!-- accordion -->
              <section class="accordion">

                <!-- accordion | box 1 -->

                <div class="accordion-box card-line mb-20">
                  <input type="checkbox" name="accordion-2" id="acord-2-1" class="accordion-input" checked>

                  <!-- accordion | header -->
                  <label class="accordion-header" for="acord-2-1">
                    <article class="row">
                      <b class="ico-link fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Apenso 001</h4>
                        <small class="text-gray-dark block"><strong>Autos Administrativo: 2018 0000 0001</strong></small>
                        <small class="text-gray-dark block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>
                  <!-- fim: accordion | header -->

                  <!-- accordion | content -->
                  <div class="accordion-container">
                    <div class="accordion-content">

                      <!-- info -->
                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                           Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                           Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                              Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                           Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5><br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                      </div>
                      <!-- fim: info -->

                      <!-- register -->
                      <br>
                      <div class="row-fluid">

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>REGISTRO</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme Maranhão</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                        <div class="col-6 col-m-6 box">
                          <article class="card-line box lh-20">
                              <h5>RESPONSÁVEL</h5>
                              <small class="text-gray-dark block"><b class="ico-user fs-18 mr-10"></b><strong>Mariana Rocha</strong></small>
                              <div class="row">
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Criado: 02/02/18, 13:03:05</small>
                                <small class="col-6 text-gray-dark block"><b class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                              </div>
                          </article>
                        </div>

                      </div>
                      <!-- fim: register -->

                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>

                    </div>
                  </div>
                  <!-- fim: accordion | content -->
                </div>
                <!-- fim: accordion | box 1 -->

              </section>
              <!-- fim: accordion -->

            </article>
            <!-- fim: tabs 2 -->

          </div>
        </div>
        <!-- tabs -->

      </div>
      <!-- fim: process | content -->

    </div>
    <!-- fim: process -->
  </div>

</article>
