<article class="page">


  <div class="page-header">
    <h2 class="page-header-title"><b class="ico-bookmark"></b> Autos Extrajudicial</h2>
    <ul class="crumbs">
      <li>
        <a href="index.html">Início</a>
      </li>
      <li>
        <a class="link_files" href="#">Arquivos</a>
      </li>
      <li>
        <p>Autos Extrajudicial</p>
      </li>
    </ul>
  </div>

  <nav class="nav-sub page-sub mb-0">
    <input type="checkbox" id="submenu" class="nav-sub-input hidden">
    <div class="nav-sub-header">
      <label class="nav-link block uppercase row-center row-full" for="submenu"><small class="row-full">Menu</small><em
          class="ico-menu"></em></label>
    </div>
    <div class="nav-sub-content">
      <ul class="nav-line row-full">
        <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Novo movimento"><b
              class="ico-file"></b> Novo movimento</a></li>
        <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Copiar capa"><b
              class="ico-copy"></b> Copiar</a></li>
        <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Histórico completo"><b
              class="ico-clock"></b> Histórico</a></li>
        <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Imprimir etiqueta"><b
              class="ico-printer"></b> Etiqueta</a></li>
        <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Arquivar"><b
              class="ico-archive"></b> Arquivar</a></li>
        <li class="nav-line-item min-xm"><a class="nav-link block tooltip-top" href="#" data-tooltip="Imprimir"><b
              class="ico-printer"></b> Imprimir</a></li>
      </ul>
      <ul class="nav-line max-xm">
        <li class="nav-line-item"><a class="nav-link block tooltip-left" href="#" data-tooltip="Imprimir"><b
              class="ico-printer"></b></a></li>
      </ul>
    </div>
  </nav>

  <div class="content-center">


    <div class="card-block">

      <div class="card-alert box-two">

        <div class="divider mt-0 mb-5">CONSELHO MUNICIPAL DE SAÚDE DE RIO VERDE</div>
        <small class="block text-center mb-15">Origem externa</small>

        <article class="box row-top bg-white">
          <figure class="col-m-2 col-2 user pr-20 max-s">
            <img src="images/ico/mp-color.svg" alt="Logo MP-GO">
          </figure>
          <div class="col-m-8 col-8 lh-30">
            <div class="row">
              <h2 class="mr-15">2018 0000 0001</h2>
              <span class="tooltip-top" data-tooltip="Favoritar">
                <label class="bt-check" for="star-1"><input type="checkbox" id="star-1"
                    class="bt-check-input hidden"><em class="ico-star fs-22"></em></label>
              </span>
            </div>
            <h4>Autos Extrajudicial</h4>
            <h5 class="block"><span class="tooltip-top tooltip-up"
                data-tooltip="Extrajudiciais / Procedimentos do MP / Inquérito Civil">Inquérito Civil</span></h5>
            <h5 class="block">
              <span class="tooltip-top tooltip-up"
                data-tooltip="Direito Administrativo e Outras Matérias de Direito Público / Atos Administrativos / Improbidade Administrativa / Dano ao Erário">Dano
                Ao Erário</span>,
              <span class="tooltip-top tooltip-up"
                data-tooltip="Direito Administrativo e Outras Matérias de Direito Público / Atos Administrativos / Improbidade Administrativa / Enriquecimento Ilícito">Enriquecimento
                Ilícito</span>,
              <span class="tooltip-top tooltip-up"
                data-tooltip="Direito Administrativo e Outras Matérias de Direito Público / Atos Administrativos / Improbidade Administrativa / Violação Aos Princípios Administrativos">Violação
                Aos Princípios Administrativos</span>
            </h5>
            <h5 class="block">
              <span class="tooltip-top tooltip-up" data-tooltip="Interessado(a)">Envolvido(s): Municipio de Rio
                Verde</span> |
              <span class="tooltip-top tooltip-up" data-tooltip="Interessado(a)">Secretaria Municipal de Saude de Rio
                Verde - Go</span>
            </h5>
          </div>
          <div class="col-m-2 col-2 lh-20">
            <small class="block fs-14"><b class="ico-calendar"></b> 01/01/2018</small>
            <small class="block fs-14"><b class="ico-clock"></b> 10:00</small>
          </div>
        </article>

      </div>

      <div class="card-content box-two">

        <fieldset>
          <div class="nav-line">

            <div class="nav-line-item row-full">
              <article class="lh-20">
                <h5>STATUS</h5>
                <ul class="nav-ball">
                  <li class="nav-ball-item"><small><strong class="status bg-alert-dark text-white">Extrajudicial</strong></small>
                  </li>
                  <li class="nav-ball-item"><small><strong>Andamento</strong></small></li>
                </ul>
              </article>
            </div>

            <div class="nav-line-item">
              <article class="lh-20">
                <h5>POSSE</h5>
                <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Tiago Melo | </strong>Superintendência
                  de Informática</small>
              </article>
            </div>

          </div>
        </fieldset>

        <div class="tab-line">
          <input type="radio" name="tab-1" id="tab-1" class="tab-input-1 hidden" checked>
          <input type="radio" name="tab-1" id="tab-2" class="tab-input-2 hidden">
          <input type="radio" name="tab-1" id="tab-3" class="tab-input-3 hidden">
          <nav class="tab-nav">
            <label class="tab-label tab-1" for="tab-1"><b class="ico-file-text"></b> Detalhes</label>
            <label class="tab-label tab-2" for="tab-2"><b class="ico-layers"></b> Movimentos (03)</label>
            <label class="tab-label tab-3" for="tab-3"><b class="ico-link"></b> Apensos (01)</label>
          </nav>
          <div class="tab-container">

            <article class="tab-content tab-1">

              <div class="divider-base mt-20">DETALHES DO AUTOS</div>

              <fieldset class="form">
                <div class="row">

                  <div class="form-group col-6">
                    <label class="form-label">Data Instauração</label>
                    <p class="form-view">09/01/2017</p>
                  </div>

                  <div class="form-group col-6">
                    <label class="form-label">Última Prorrogação</label>
                    <p class="form-view">03/03/2017</p>
                  </div>

                  <div class="form-group col-12">
                    <label class="form-label">Envolvido(s)</label>
                    <table class="table table-responsive form-view mt-0">
                      <tbody>
                        <tr>
                          <td>Interessado(a)</td>
                          <td>Municipio de Rio Verde</td>
                        </tr>
                        <tr>
                          <td>Interessado(a)</td>
                          <td>Secretaria Municipal de Saude de Rio Verde - Go</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </fieldset>


              <h4>Observação</h4><br>
              <div class="scroll-400 box">
                <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam
                  euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                  Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis, mais
                  bolis eu num gostis.</p>
              </div>

            </article>

            <article class="tab-content tab-2">


              <div class="accordion">

                <div class="divider-base mt-20 mb-20">1º MOVIMENTO</div>


                <div class="accordion-box card-line">
                  <input type="checkbox" name="accordion-1" id="acord-1" class="accordion-input" checked>


                  <label class="accordion-header" for="acord-1">
                    <article class="row">
                      <b class="ico-layers fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Movimento 001</h4>
                        <small class="block"><strong>Autos Judicial: 2018 0000 0001</strong></small>
                        <small class="block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>



                  <div class="accordion-container">
                    <div class="accordion-content">


                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent
                          lacinia ultrices consectetur. Sed non ipsum felis.
                          Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
                          Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                          Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                          Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
                          Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                      </div>



                      <br>
                      <div class="row-fluid">

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>REGISTRO</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme
                                Maranhão</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>RESPONSÁVEL</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Mariana
                                Rocha</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                      </div>



                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>


                    </div>

                  </div>


                </div>


                <div class="divider-base">ÚLTIMOS MOVIMENTOS</div>


                <div class="accordion-box card-line mb-20">
                  <input type="checkbox" name="accordion-2" id="acord2-1" class="accordion-input">


                  <label class="accordion-header" for="acord2-1">
                    <article class="row">
                      <b class="ico-layers fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Movimento 003</h4>
                        <small class="block"><strong>Autos Judicial: 2018 0000 0002</strong></small>
                        <small class="block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>



                  <div class="accordion-container">
                    <div class="accordion-content">


                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent
                          lacinia ultrices consectetur. Sed non ipsum felis.
                          Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
                          Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                          Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                          Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
                          Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                      </div>



                      <br>
                      <div class="row-fluid">

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>REGISTRO</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme
                                Maranhão</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>RESPONSÁVEL</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Tiago
                                Melo</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                      </div>



                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>


                    </div>
                  </div>

                </div>



                <div class="accordion-box card-line mb-20">
                  <input type="checkbox" name="accordion-3" id="acord3-1" class="accordion-input">


                  <label class="accordion-header" for="acord3-1">
                    <article class="row">
                      <b class="ico-layers fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Movimento 002</h4>
                        <small class="block"><strong>Autos Judicial: 2018 00189 1328</strong></small>
                        <small class="block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>



                  <div class="accordion-container">
                    <div class="accordion-content">


                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent
                          lacinia ultrices consectetur. Sed non ipsum felis.
                          Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
                          Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                          Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                          Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
                          Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                      </div>



                      <br>
                      <div class="row-fluid">

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>REGISTRO</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme
                                Maranhão</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>RESPONSÁVEL</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Thiago
                                Melo</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                      </div>



                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>


                    </div>
                  </div>

                </div>



                <div class="accordion-box card-line mb-20">
                  <input type="checkbox" name="accordion-4" id="acord4-1" class="accordion-input">


                  <label class="accordion-header" for="acord4-1">
                    <article class="row">
                      <b class="ico-layers fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Movimento 001</h4>
                        <small class="block"><strong>Autos Judicial: 2018 0000 0001</strong></small>
                        <small class="block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>



                  <div class="accordion-container">
                    <div class="accordion-content">


                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent
                          lacinia ultrices consectetur. Sed non ipsum felis.
                          Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
                          Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                          Praesent lacinia ultrices consectetur. Sed non ipsum felis.
                          Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
                          Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>
                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                      </div>



                      <br>
                      <div class="row-fluid">

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>REGISTRO</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme
                                Maranhão</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>RESPONSÁVEL</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Mariana
                                Rocha</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                      </div>



                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>


                    </div>
                  </div>

                </div>


              </div>


            </article>

            <article class="tab-content tab-3 mt-15">


              <section class="accordion">



                <div class="accordion-box card-line mb-20">
                  <input type="checkbox" name="accordion-3" id="acord-3-1" class="accordion-input" checked>


                  <label class="accordion-header" for="acord-3-1">
                    <article class="row">
                      <b class="ico-link fs-32 mr-20"></b>
                      <div class="row-full lh-20">
                        <h4>Apenso 001</h4>
                        <small class="block"><strong>Autos Judicial: 2018 0000 0001</strong></small>
                        <small class="block">01/01/2018</small>
                      </div>
                    </article>
                    <b class="accordion-ico"></b>
                  </label>



                  <div class="accordion-container">
                    <div class="accordion-content">


                      <label class="form-label">Descrição</label>

                      <div class="text scroll-600 box">

                        <h5>1. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>2. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <h5>3. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. </h5>
                        <br>
                        <p class="text">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite de
                          capivaris, leite de mula manquis sem cabeça. A ordem dos tratores
                          não altera o pão duris. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>

                        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis,
                          arcu quam euismod magna. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
                          pose.
                          Atirei o pau no gatis, per gatis num morreus. Interessantiss quisso pudia ce receita de bolis,
                          mais bolis eu num gostis.</p>

                      </div>



                      <br>
                      <div class="row-fluid">

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>REGISTRO</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Guilherme
                                Maranhão</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                        <div class="col-6 box">
                          <article class="card-line box lh-20">
                            <h5>RESPONSÁVEL</h5>
                            <small class="block"><b class="ico-user fs-18 mr-10"></b><strong>Mariana
                                Rocha</strong></small>
                            <div class="row">
                              <small class="col-6 block"><b class="ico-calendar fs-16 mr-10"></b>Criado:
                                02/02/18, 13:03:05</small>
                              <small class="col-6 block"><b
                                  class="ico-calendar fs-16 mr-10"></b>Atualizado: 02/02/18, 13:03:05</small>
                            </div>
                          </article>
                        </div>

                      </div>


                      <ul class="nav-line nav-right b-top mt-20">
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Movimento"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a></li>
                        <li class="nav-line-item tooltip-top" data-tooltip="Imprimir Etiqueta"><a
                            class="nav-link inline" href="#"><b class="ico-printer"></b> Etiqueta</a></li>
                      </ul>

                    </div>
                  </div>

                </div>


              </section>


            </article>

          </div>
        </div>


      </div>


    </div>

  </div>

</article>