<section class="page">
  <!-- HEADER -->
  <div class="page-header">
    <h2 class="page-header-title"><b class="ico-mail"></b> E-mail</h2>
    <ul class="crumbs">
      <li>
        <a href="../index.html">Início</a>
      </li>
      <li>
        <p>E-mail</p>
      </li>
    </ul>
  </div>
  <!-- fim: HEADER -->

  <div class="row">
    <div class="col-2 col-m-3 box b-right">
      <fieldset class="mail-header">
        <button class="bt-secondary bt-small bt-block" name="button">Novo Email <b class="ico-send"></b></button>
      </fieldset>
      <fieldset>
        <h6>PASTAS</h6><br>
        <div class="list-group small">
          <a class="list-group-item block link_mail mail-active" href="#"><b class="ico-mail"></b> Entrada (16)</a>
          <a class="list-group-item block link_mail" href="#"><b class="ico-trash"></b> Lixeira</a>
          <a class="list-group-item block link_mail" href="#"><b class=" ico-alert-triangle"></b> Spam (5)</a>
          <a class="list-group-item block link_mail" href="#"><b class="ico-log-out"></b> Enviados</a>
          <a class="list-group-item block link_mail" href="#"><b class="ico-archive"></b> Arquivados</a>
        </div>
      </fieldset>
      <fieldset class="max-xm">
        <h6>EQUIPE</h6><br>
        <div class="list-group small">
          <a class="list-group-item block" href="#"><b class="tick mr-5 bg-success"></b> Thiago melo</a>
          <a class="list-group-item block" href="#"><b class="tick mr-5 bg-info"></b> Guilherme Maranhão</a>
          <a class="list-group-item block" href="#"><b class="tick mr-5 bg-info"></b> Mariana Rocha</a>
          <a class="list-group-item block" href="#"><b class="tick mr-5 bg-alert"></b> Renato Brandão</a>
        </div>
      </fieldset>
      <fieldset class="max-xm">
        <h6>MARCADOR</h6><br>
        <ul class="list-clear small ml-15">
          <li class="mb-3">
            <a class="mb-3 inline status bg-info" href="#"><small>Projetos</small></a>
          </li>
          <li class="mb-3">
            <a class="mb-3 inline status bg-alert" href="#"><small>MP</small></a>
          </li>
          <li class="mb-3">
            <a class="mb-3 inline status bg-success" href="#"><small>Processos</small></a>
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="row-full box mb-20">

      <fieldset class="mail-header">
        <div class="row row-center mt-6">
          <div class="mr-20">
            <span class="status bg-info">Projetos</span>
          </div>
          <div class="row-full small">
            <h3>Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim.</h3>
          </div>
        </div>
      </fieldset>

      <fieldset>

        <div class="row-center">

          <div class="row-center row-full">
            <figure class="tw-4 ty-4 user">
              <img src="images/profile.svg" alt="Profile">
              <em class="status-ball bg-info"></em>
            </figure>
            <div class="row-full ml-10">
              <span class="block">Guilherme Maranhão</span>
              <small>guilherme@mp.go.gov.br</small>
            </div>
          </div>

          <ul class="nav-ball max-s">
            <li class="nav-ball-item small">
              <a class="nav-link-line inline" href="#"><b class="ico-corner-up-right"></b> Responder</a>
            </li>
            <li class="nav-ball-item small">
              <a class="nav-link inline" href="#"><b class="ico-trash"></b> Excluir</a>
            </li>
            <li class="nav-ball-item small">
              <a class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a>
            </li>
          </ul>

        </div>

      </fieldset>

      <fieldset>
        <p class="text">Ola, Guilherme!</p>
        <p class="text">Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. Paisis, filhis, espiritis santis.
          Copo furadis é disculpa de bebadis, arcu quam euismod magna. Casamentiss faiz malandris se pirulitá.</p>
          <br>
          <blockquote class="small" cite="http://">
            Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.
            Per aumento de cachacis, eu reclamis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
          </blockquote>
          <br>
          <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Interagi no mé, cursus quis, vehicula ac nisi. Suco de cevadiss,
            é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Casamentiss faiz malandris se pirulitá.</p>
            <p class="small"><strong>Marina Rocha</strong><br>
              Superintendência de Informática<br>
              62. 9 9999-9999
            </p>
          </fieldset>

          <br>

          <ul class="nav-ball">
            <li class="nav-ball-item small">
              <a class="nav-link-line inline" href="#"><b class="ico-corner-up-right"></b> Responder</a>
            </li>
            <li class="nav-ball-item small">
              <a class="nav-link inline" href="#"><b class="ico-trash"></b> Excluir</a>
            </li>
            <li class="nav-ball-item small">
              <a class="nav-link inline" href="#"><b class="ico-printer"></b> Imprimir</a>
            </li>
          </ul>

    </div>
  </div>
</section>
<script type="text/javascript">
  $(".link_mail").click(function(){ $.get("page/mail.html", function(data) { $("#container").html(data); }); });
  $(".link_mail-msg").click(function(){ $.get("page/mail-msg.html", function(data) { $("#container").html(data); }); });
</script>
