<section class="page">
  <!-- HEADER -->
  <div class="page-header">
    <h2 class="page-header-title"><b class="ico-mail"></b> E-mail</h2>
    <ul class="crumbs">
      <li>
        <a href="../index.html">Início</a>
      </li>
      <li>
        <p>E-mail</p>
      </li>
    </ul>
  </div>
  <!-- fim: HEADER -->

  <div class="row">
    <aside class="col-2 col-m-3 box b-right">
      <fieldset class="mail-header">
        <button class="bt-secondary bt-small bt-block" name="button">Novo Email <b class="ico-send"></b></button>
      </fieldset>
      <fieldset>
        <h6>PASTAS</h6><br>
        <div class="list-group small">
          <a class="list-group-item block link_mail mail-active" href="#"><b class="ico-mail"></b> <span>Entrada (16)</span></a>
          <a class="list-group-item block link_mail" href="#"><b class="ico-trash"></b> <span>Lixeira</span></a>
          <a class="list-group-item block link_mail" href="#"><b class=" ico-alert-triangle"></b> <span>Spam (5)</span></a>
          <a class="list-group-item block link_mail" href="#"><b class="ico-log-out"></b> <span>Enviados</span></a>
          <a class="list-group-item block link_mail" href="#"><b class="ico-archive"></b> <span>Arquivados</span></a>
        </div>
      </fieldset>
      <fieldset class="max-xm">
        <h6>EQUIPE</h6><br>
        <div class="list-group small">
          <a class="list-group-item block" href="#"><b class="tick mr-5 bg-success"></b> Thiago melo</a>
          <a class="list-group-item block" href="#"><b class="tick mr-5 bg-info"></b> Guilherme Maranhão</a>
          <a class="list-group-item block" href="#"><b class="tick mr-5 bg-info"></b> Mariana Rocha</a>
          <a class="list-group-item block" href="#"><b class="tick mr-5 bg-alert"></b> Renato Brandão</a>
        </div>
      </fieldset>
      <fieldset class="max-xm">
        <h6>MARCADOR</h6><br>
        <ul class="list-clear small ml-15">
          <li class="mb-3">
            <a class="mb-3 inline status bg-info" href="#"><small class="">Projetos</small></a>
          </li>
          <li class="mb-3">
            <a class="mb-3 inline status bg-alert" href="#"><small class="">MP</small></a>
          </li>
          <li class="mb-3">
            <a class="mb-3 inline status bg-success" href="#"><small class="">Processos</small></a>
          </li>
        </ul>
      </fieldset>
    </aside>
    <div class="row-full box">
      <fieldset class="mail-header max-s">
        <div class="row row-center">
          <div class="mr-20">
            <h3>Entrada</h3>
          </div>
          <div class="row-full small">
            <ul class="nav-line">
              <li class="nav-line-item dropdown">
                <a class="nav-link inline" href="#"><b class="ico-tag"></b> Marcador <b class="ico-chevron-down"></b></a>
                <div class="dropdown-content row card box bg-white">
                  <a class="status bg-info mb-3 inline small" href="#"><b class="ico-tag mr-5"></b> Projetos</a>
                  <a class="status bg-alert mb-3 inline small" href="#"><b class="ico-tag mr-5"></b> MP</a>
                  <a class="status bg-success mb-3 inline small" href="#"><b class="ico-tag mr-5"></b> Processos</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </fieldset>
        <table class="table table-mail small">

          <tbody>
            <tr class="mail-active">
              <td><input type="checkbox"></td>
              <td><label class="bt-check" for="star-1"><input type="checkbox" id="star-1" class="bt-check-input hidden"><em class="ico-star"></em></label></td>
              <td><b class="ico-paperclip"></b></td>
              <td><a class="link_mail-msg" href="#">Guilherme Maranhão</a></td>
              <td><a class="link_mail-msg" href="#">Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim.</a></td>
            </tr>
            <tr class="mail-active">
              <td><input type="checkbox"></td>
              <td><label class="bt-check" for="star-2"><input type="checkbox" id="star-2" class="bt-check-input hidden" checked><em class="ico-star"></em></label></td>
              <td><b class="ico-paperclip"></b></td>
              <td><a class="link_mail-msg" href="#">Renato Brandão</a></td>
              <td><a class="link_mail-msg" href="#"><small class="status bg-info">Projetos</small> Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim.</a></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><label class="bt-check" for="star-3"><input type="checkbox" id="star-3" class="bt-check-input hidden"><em class="ico-star"></em></label></td>
              <td></td>
              <td><a class="link_mail-msg" href="#">Mariana Rocha</a></td>
              <td><a class="link_mail-msg" href="#"><small class="status bg-success">Processos</small> Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim.</a></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><label class="bt-check" for="star-4"><input type="checkbox" id="star-4" class="bt-check-input hidden" checked><em class="ico-star"></em></label></td>
              <td><b class="ico-paperclip"></b></td>
              <td><a class="link_mail-msg" href="#">Tiago Melo</a></td>
              <td><a class="link_mail-msg" href="#">Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim.</a></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><label class="bt-check" for="star-5"><input type="checkbox" id="star-5" class="bt-check-input hidden"><em class="ico-star"></em></label></td>
              <td><b class="ico-paperclip"></b></td>
              <td><a class="link_mail-msg" href="#">Renato Brandão</a></td>
              <td><a class="link_mail-msg" href="#">Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim.</a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(".link_mail").click(function(){ $.get("page/mail.html", function(data) { $("#container").html(data); }); });
  $(".link_mail-msg").click(function(){ $.get("page/mail-msg.html", function(data) { $("#container").html(data); }); });
</script>
