<article class="page">

  <!-- HEADER -->
  <div class="page-header">
    <h2 class="page-header__title"><b class="ico-user"></b> Meu Perfil</h2>
    <ul class="crumbs">
      <li>
        <a href="index.html">Início <b class="ico-arrow-right"></b></a>
      </li>
      <li>
        <a class="link_user" href="#">Usuarios <b class="ico-arrow-right"></b></a>
      </li>
      <li>
        <p>perfil <b class="ico-arrow-right"></b></p>
      </li>
    </ul>
  </div>
  <!-- fim: HEADER -->

  <!-- submenu -->
  <nav class="page-sub">
    <ul class="nav-line">
      <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Editar perfil"><b class="ico-edit"></b> Editar</a></li>
      <li class="nav-line-item"><a class="nav-link inline tooltip-top" href="#" data-tooltip="Excluir perfil"><b class="ico-trash"></b> Excluir</a></li>
    </ul>
  </nav>
  <!-- fim: submenu -->
  <div class="content-center">

    <!-- profile -->
    <div class="card">
      <!-- profile | header -->
      <div class="card-header-line row-center">
        <div class="row-center col-9 col-m-8">
          <figure class="tw-8 user mr-20">
            <img src="images/user.png" alt="Foto Perfil">
          </figure>
          <div class="row-full">
            <h2>Renato Brandão</h2>
            <span>UI | UX Designer</span>
          </div>
        </div>
        <ul class="nav-line nav-center col-3 col-m-4">
          <li class="nav-line-item tooltip-top" data-tooltip="E-mail"><a class="bt-primary-clear bt-ico" href="#"><b class="ico-mail"></b></a></li>
          <li class="nav-line-item tooltip-top" data-tooltip="Facebook"><a class="bt-primary-clear bt-ico" href="#"><b class="ico-facebook"></b></a></li>
          <li class="nav-line-item tooltip-top" data-tooltip="Twitter"><a class="bt-primary-clear bt-ico" href="#"><b class="ico-twitter"></b></a></li>
        </ul>
      </div>
      <!-- fim: profile | header -->

      <!-- profile | content -->
      <div class="card-content form">

        <!-- profile | dados -->
        <fieldset>

          <div class="divider mt-0">CADASTRO</div>

          <div class="row">
            <!-- form 1 -->
            <div class="col-3 col-m-6 form-group">
              <label class="form-label">Nome</label>
              <p class="form-view">Renato</p>
            </div>
            <!-- form 1 -->
            <!-- form 2 -->
            <div class="col-3 col-m-6 form-group">
              <label class="form-label">Sobrenome</label>
              <p class="form-view">Brandão</p>
            </div>
            <!-- form 2 -->
            <!-- form 3 -->
            <div class="col-6 col-m-6 form-group">
              <label class="form-label">E-mail</label>
              <p class="form-view">renato@exemplo.com.br</p>
            </div>
            <!-- form 3 -->
            <!-- form 4 -->
            <div class="col-6 col-m-6 form-group">
              <label class="form-label">Profissão</label>
              <p class="form-view">Designer</p>
            </div>
            <!-- form 4 -->
            <!-- form 5 -->
            <div class="col-6 col-m-12 form-group">
              <label class="form-label">Departamento</label>
              <p class="form-view">Superintendencia de Informática</p>
            </div>
            <!-- form 5 -->
          </div>

        <!-- fim: profile | dados -->
        <div class="divider">PROFISSIONAL</div>
        <!-- profile | experiência -->

          <div class="row">

            <div class="col-6 col-m-6 box">
              <article class="card-line box row">
                <b class="ico-briefcase fs-32 mr-20"></b>
                <div class="row-full lh-30">
                  <h3 class="">Experiência</h3>
                  <h5>UI | UX Designer</h5>
                  <small class="text-gray-dark block">Assembleia Legislativa de Goiás</small>
                  <small class="text-gray-dark block">2013 - 2017</small>
                </div>
              </article>
            </div>

            <div class="col-6 col-m-6 box">
              <article class="card-line box row">
                <b class="ico-book fs-32 mr-20"></b>
                <div class="row-full lh-30">
                  <h3 class="">Educação</h3>
                  <h5>Designer Gráfico</h5>
                  <small class="text-gray-dark block">Senac Goiás</small>
                  <small class="text-gray-dark block">2009 - 2012</small>
                </div>
              </article>
            </div>

          </div>

        </fieldset>
        <!-- fim: profile | experiência -->

        <!-- profile | perfil -->
        <fieldset>
          <div class="row">
            <div class="col-4 col-m-5 box">
              <figure class="figure">
                <img src="images/background/bg-1.jpg" alt="Foto Iphone">
              </figure>
            </div>
            <div class="box row-full">
              <h3>Perfil</h3><br>

              <p class="text">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur.
                Sed non ipsum felis. Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
        </fieldset>
        <!-- fim: profile | perfil -->

        <!-- redes -->
        <ul class="nav-line nav-center">
          <li class="nav-line-item tooltip-top" data-tooltip="E-mail"><a class="bt-primary-clear bt-small" href="#"><b class="ico-mail"></b> e-mail</a></li>
          <li class="nav-line-item tooltip-top" data-tooltip="Facebook"><a class="bt-primary-clear bt-small" href="#"><b class="ico-facebook"></b> facebook</a></li>
          <li class="nav-line-item tooltip-top" data-tooltip="Twitter"><a class="bt-primary-clear bt-small" href="#"><b class="ico-twitter"></b> twitter</a></li>
        </ul>
        <!-- fim: redes -->

      </div>
      <!-- fim: profile | content -->

    </div>
    <!-- fim: profile -->
  </div>

</article>
