<article class="page">

  <div class="page-header">
    <h2 class="page-header-title"><b class="ico-user"></b> Usuários</h2>
    <ul class="crumbs">
      <li>
        <a href="index.html">Início <b class="ico-chevron-right"></b></a>
      </li>
      <li>
        <p>Usuarios</p>
      </li>
    </ul>
  </div>

  <nav class="nav-sub page-sub mb-0">
    <input type="checkbox" id="submenu" class="nav-sub-input hidden">
    <div class="nav-sub-header">
      <label class="nav-link block uppercase row-center row-full" for="submenu"><small class="row-full">Menu</small><em class="ico-menu"></em></label>
    </div>
    <div class="nav-sub-content">
      <ul class="nav-line row-full">
        <li class="nav-line-item"><a class="nav-link block tooltip-top" href="#" data-tooltip="Cadastrar"><b class="ico-user-plus"></b> Cadastrar</a></li>
        <li class="nav-line-item min-m"><a class="nav-link block tooltip-left" href="#" data-tooltip="Imprimir"><b class="ico-printer"></b> Imprimir</a></li>
      </ul>
      <ul class="nav-line max-m">
        <li class="nav-line-item"><a class="nav-link block tooltip-left" href="#" data-tooltip="Imprimir"><b class="ico-printer"></b></a></li>
      </ul>
    </div>
  </nav>

  <div class="row-fluid">
    <div class="col-9">
      <p class="alert-success-block"><strong>Tudo certis!</strong> Suco de cevadiss, é um leite divinis. </p>
      
      <div class="card-line box b-radius">
        
        <div class="row-fluid">
          <div class="box col-3 col-m-4">
            <h5 class="mb-10">Busca:</h5>
            <div class="search">
              <input type="text" class="form-input search-input" placeholder="pesquisar...">
              <button class="bt search-button input-group-right"><b class="ico-search"></b></button>
            </div>
          </div>
          <div class="col-9 col-m-8">
            <h5 class="mb-10">Filtros:</h5>
            <div class="form-inline">
              <div class="form-group">
                <select class="form-select" name="">
                  <option>Data Criação</option>
                  <option>Última Edição</option>
                  <option>Mais Frequente</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-select" name="">
                  <option>Analista</option>
                  <option>Desenvolvedor</option>
                  <option>Desgin</option>
                </select>
              </div>
              <div class="form-group">
                <button class="bt bt-medium">Filtrar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-w">
          <table class="table-line mt-0">
            <thead>
              <tr>
                <th class="tw-3">Foto</th>
                <th>Nome</th>
                <th class="tw-2"><b class="ico-mail"></b></th>
                <th>E-mail</th>
                <th class="tw-2"><b class="ico-phone"></b></th>
                <th>Fone</th>
                <th colspan="2">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><figure class="user-p ml-0"><img src="images/melo.jpeg"/></figure></td>
                <td data-label="Nome:">Thiago Melo <small class="block text-success">Analista</small></td>
                <td class="max-s"><b class="ico-mail"></b></td>
                <td data-label="E-mail:">thiago@exemple.com.br</td>
                <td class="max-s"><b class="ico-phone"></b></td>
                <td data-label="Fone:">62 9 9999-9999</td>
                <td class="tw-5"><a class="bt-primary-clear bt-ico" href="#"><b class="ico-edit"></b></a></td>
                <td class="tw-5"><a class="bt-secondary-clear bt-ico" href="#"><b class="ico-trash"></b></a></td>
              </tr>
              <tr>
                <td><figure class="user-p ml-0"><img src="images/guilherme.jpeg"/></figure></td>
                <td data-label="Nome:">Guilherme Maranhão <small class="block text-info">Desenvolvedor</small></td>
                <td class="max-s"><b class="ico-mail"></b></td>
                <td data-label="E-mail:">guilherme@exemple.com.br</td>
                <td class="max-s"><b class="ico-phone"></b></td>
                <td data-label="Fone:">62 9 9999-9999</td>
                <td class="tw-5"><a class="bt-primary-clear bt-ico" href="#"><b class="ico-edit"></b></a></td>
                <td class="tw-5"><a class="bt-secondary-clear bt-ico" href="#"><b class="ico-trash"></b></a></td>
              </tr>
              <tr>
                <td><figure class="user-p ml-0"><img src="images/mariana.jpeg"/></figure></td>
                <td data-label="Nome:">Mariana Rocha <small class="block text-info">Desenvolvedor</small></td>
                <td class="max-s"><b class="ico-mail"></b></td>
                <td data-label="E-mail:">mariana@exemple.com.br</td>
                <td class="max-s"><b class="ico-phone"></b></td>
                <td data-label="Fone:">62 9 9999-9999</td>
                <td class="tw-5"><a class="bt-primary-clear bt-ico" href="#"><b class="ico-edit"></b></a></td>
                <td class="tw-5"><a class="bt-secondary-clear bt-ico" href="#"><b class="ico-trash"></b></a></td>
              </tr>
              <tr>
                <td><figure class="user-p ml-0"><img src="images/user.png"/></figure></td>
                <td data-label="Nome:">Renato Brandão <small class="block text-alert">Designer</small></td>
                <td class="max-s"><b class="ico-mail"></b></td>
                <td data-label="E-mail:">renato@exemple.com.br</td>
                <td class="max-s"><b class="ico-phone"></b></td>
                <td data-label="Fone:">62 9 9999-9999</td>
                <td class="tw-5"><a class="bt-primary-clear bt-ico" href="#"><b class="ico-edit"></b></a></td>
                <td class="tw-5"><a class="bt-secondary-clear bt-ico" href="#"><b class="ico-trash"></b></a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row-fluid row-center mt-15">
          <div class="col-6 col-m-6 pb-0">
            <small class="text-gray-dark">Mostrando de <strong>1 a 10</strong> de 50 encontrados.</small>
          </div>
          <nav class="col-6 col-m-6 pb-0">
            <ul class="pagination nav-right fs-13">
              <li><a href="#"><b class="ico-arrow-left"></b> <span>Anterior</span></a></li>
              <li><a class="active" href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><span>Próxima</span> <b class="ico-arrow-right"></b></a></li>
            </ul>
          </nav>
        </div>

      </div>

    </div>

    <div class="col-3">
      <div class="accordion box b-left">
        <div class="card-header">
          <h3>Novos Usuários</h3>
        </div>
        <div class="accordion-box b-bottom mb-0">
          <input type="radio" name="accordion-1" id="acord-1" class="accordion-input" checked>
          <label class="accordion-header" for="acord-1">
            <div class="row">
              <div class="col-2"><figure class="user-p ml-0"><img src="images/user.png"/></figure></div>
              <div class="col-10">
                <h4 class="accordion-title">Renato Brandão</h4>
                <small>renato@exemple.com.br</small>
              </div>
            </div>
            <b class="accordion-ico"></b>
          </label>
          <div class="accordion-container">
            <div class="accordion-content pt-0">
              <p>
                <strong>Perfil:</strong><br>
                In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit.</p>
              <p>
                <strong>Profissão:</strong><br>
                Design</p>
              <p>
                <strong>Fone:</strong><br>
                62 9 9999-9999</p>
                <p><a class="bt bt-small" href="#">Visualizar <b class="ico-chevron-right"></b></a></p>
            </div>
          </div>
        </div>
        <div class="accordion-box b-bottom mb-0">
          <input type="radio" name="accordion-1" id="acord-2" class="accordion-input">
          <label class="accordion-header" for="acord-2">
            <div class="row">
              <div class="col-2"><figure class="user-p ml-0"><img src="images/mariana.jpeg"/></figure></div>
              <div class="col-10">
                <h4 class="accordion-title">Mariana Rocha</h4>
                <small>mariana@exemple.com.br</small>
              </div>
            </div>
            <b class="accordion-ico"></b>
          </label>
          <div class="accordion-container">
            <div class="accordion-content pt-0">
              <p>
                <strong>Perfil:</strong><br>
                In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit.</p>
              <p>
                <strong>Profissão:</strong><br>
                Desenvolvedor</p>
              <p>
                <strong>Fone:</strong><br>
                62 9 9999-9999</p>
                <p><a class="bt bt-small" href="#">Visualizar <b class="ico-chevron-right"></b></a></p>
            </div>
          </div>
        </div>
        <div class="accordion-box b-bottom mb-0">
          <input type="radio" name="accordion-1" id="acord-3" class="accordion-input">
          <label class="accordion-header" for="acord-3">
            <div class="row">
              <div class="col-2"><figure class="user-p ml-0"><img src="images/guilherme.jpeg"/></figure></div>
              <div class="col-10">
                <h4 class="accordion-title">Guilherme Maranhão</h4>
                <small>guilherme@exemple.com.br</small>
              </div>
            </div>
            <b class="accordion-ico"></b>
          </label>
          <div class="accordion-container">
            <div class="accordion-content pt-0">
              <p>
                <strong>Perfil:</strong><br>
                In elementis mé pra quem é amistosis quis leo. Per aumento de cachacis, eu reclamis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit.</p>
              <p>
                <strong>Profissão:</strong><br>
                Desenvolvedor</p>
              <p>
                <strong>Fone:</strong><br>
                62 9 9999-9999</p>
              <p><a class="bt bt-small" href="#">Visualizar <b class="ico-chevron-right"></b></a></p>
            </div>
          </div>
        </div>
        <div class="box text-center">
          <button class="bt block">Visualizar todos</button>
        </div>
      </div>
    </div>
  </div>

</article>
